<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerVT.html'"></header>

<section class="vehDashbrdMain">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftVT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'client/src/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content" ng-controller="vehDashCtrl">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3 class="title">Vehicle Status Dashboard</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="vehDash-top"><h5 class="title">Distance Travelled by &nbsp;&nbsp; "{{vehEchdyDstTrvldDtl[0].asrt_nm}}" &nbsp;&nbsp;in Last 7 Days</h5></div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <nvd3 options="vehEchdyDstoptions1" data="datasetvehEchdyDst"></nvd3>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default popupColPntsTblPnl">
                        <div class="table-responsive tblht">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr >
                                        <th class="tblHdlTxt">Date</th>
                                        <th class="tblHdlTxt">Vehicle Number</th>
                                        <th class="tblHdlTxt">Vehicle Type</th>
                                        <th class="tblHdlTxt">Diatance travelled</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v in vehEchdyDstTrvldDtl">
                                        <td class="tblChrtLnHt" style="width: 15%;">{{v.trvl_dt}}</td>
                                        <td class="tblChrtLnHt" style="width: 23%;">{{v.asrt_nm}}</td>
                                        <td class="tblChrtLnHt" style="width: 30%;">{{v.asrt_ctgry_nm}}</td>
                                        <td>{{v.dst}}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                          </div>
                        </div>
                    </div>

                    <div class="row"> 
                        <div class="vehDash-top"><h5 class="title">Trips Covered by &nbsp;&nbsp; "{{vehEchdyDstTrvldDtl[0].asrt_nm}}" &nbsp;&nbsp; in Last 7 Days</h5></div>
                            <div class="panel panel-default">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="panel-body">
                                    <nvd3 options="vehEchdyTrpsoptions1" data="datasetvehEchdyTrps"></nvd3>
                                </div>
                            </div>
                           <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default popupColPntsTblPnl">
                            <div class="table-responsive tblht">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr >
                                        <th class="tblHdlTxt">Date</th>
                                        <th class="tblHdlTxt">Vehicle Number</th>
                                        <th class="tblHdlTxt">Vehicle Type</th>
                                        <th class="tblHdlTxt">Trips Covered</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v in vehEchdyTrpsTrvldDtl">
                                        <td class="tblChrtLnHt" style="width: 15%;">{{v.yr_dt}}</td>
                                        <td class="tblChrtLnHt" style="width: 23%;">{{v.asrt_nm}}</td>
                                        <td class="tblChrtLnHt" style="width: 30%;">{{v.asrt_ctgry_nm}}</td>
                                        <td>{{v.trps_cnt}}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                          </div>
                        </div>
                        </div>
                    </div>

                    <div class="row"> 
                        <div class="vehDash-top"><h5 class="title">Collection Points Covered by &nbsp;&nbsp; "{{vehEchdyDstTrvldDtl[0].asrt_nm}}" &nbsp;&nbsp; in Last 7 Days</h5></div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <nvd3 options="vehEchdyColPntsCovdoptions1" data="datasetvehEchdyColPntsCovd"></nvd3>
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default popupColPntsTblPnl">
                            <div class="table-responsive tblht">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr >
                                        <th class="tblHdlTxt">Date</th>
                                        <th class="tblHdlTxt">Vehicle Number</th>
                                        <th class="tblHdlTxt">Vehicle Type</th>
                                        <th class="tblHdlTxt">CollectionPoints Covered</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v in vehEchdyColPntsCovdDtl">
                                        <td class="tblChrtLnHt" style="width: 15%;">{{v.dt}}</td>
                                        <td class="tblChrtLnHt" style="width: 23%;">{{v.asrt_nm}}</td>
                                        <td class="tblChrtLnHt" style="width: 30%;">{{v.asrt_ctgry_nm}}</td>
                                        <td>{{v.fnc_cnt}}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                          </div>
                        </div>
                    </div>

                    <div class="row"> 
                        <div class="vehDash-top"><h5 class="title">Dumper Bins Covered by &nbsp;&nbsp; "{{vehEchdyDstTrvldDtl[0].asrt_nm}}" &nbsp;&nbsp; in Last 7 Days</h5></div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <nvd3 options="vehEchdyDmprBnsCovdoptions1" data="datasetvehEchdyDmprBnsCovd"></nvd3>
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default popupColPntsTblPnl">
                            <div class="table-responsive tblht">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr >
                                        <th class="tblHdlTxt">Date</th>
                                        <th class="tblHdlTxt">Vehicle Number</th>
                                        <th class="tblHdlTxt">Vehicle Type</th>
                                        <th class="tblHdlTxt">DumperBins Covered</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v in vehEchdyDmprBnsCovdDtl">
                                        <td class="tblChrtLnHt" style="width: 15%;">{{v.dt}}</td>
                                        <td class="tblChrtLnHt" style="width: 23%;">{{v.asrt_nm}}</td>
                                        <td class="tblChrtLnHt" style="width: 30%;">{{v.asrt_ctgry_nm}}</td>
                                        <td>{{v.fnc_cnt}}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                          </div>
                        </div>
                    </div>

                    <div class="row"> 
                        <div class="vehDash-top"><h5 class="title">Trash Dumped by &nbsp;&nbsp; "{{vehEchdyDstTrvldDtl[0].asrt_nm}}" &nbsp;&nbsp; in Last 7 Days</h5></div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <nvd3 options="vehEchdyCptyDmpdoptions1" data="datasetvehEchdyCptyDmpd"></nvd3>
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="panel panel-default popupColPntsTblPnl">
                            <div class="table-responsive tblht">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr >
                                        <th class="tblHdlTxt">Date</th>
                                        <th class="tblHdlTxt">Vehicle Number</th>
                                        <th class="tblHdlTxt">Vehicle Type</th>
                                        <th class="tblHdlTxt">Trash Dumped(In Tons)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v in vehEchdyCptyDmpdDtl">
                                        <td class="tblChrtLnHt" style="width: 15%;">{{v.yr_dt}}</td>
                                        <td class="tblChrtLnHt" style="width: 23%;">{{v.asrt_nm}}</td>
                                        <td class="tblChrtLnHt" style="width: 30%;">{{v.asrt_ctgry_nm}}</td>
                                        <td>{{v.cpty_cnt}}</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>

// <script type="text/javascript">
// var selector, elems, makeActive;

// selector = '.nav li';

// elems = document.querySelectorAll(selector);

// makeActive = function () {
//     for (var i = 0; i < elems.length; i++)
//         elems[i].classList.remove('active');
    
//     this.classList.add('active');
// };

// for (var i = 0; i < elems.length; i++)
//     elems[i].addEventListener('mousedown', makeActive);
// </script>