/* livetracking.css */
.pageScrollOut {
    top:0 !important;
    bottom:0 !important;
    left:0 !important;
    right:0 !important;
    position:fixed !important;
}
.livetracking .angular-google-map-container {
             overflow: hidden;
             height:  90vh;
             top:0;
            bottom:0;
            left:0;
            right:0;
            position:fixed;

}

.livetracking  canvas {
    width: 256px !important;
    height: 256px !important;
}

.livetracking {
   position: relative;
   padding-bottom: 110px;
   padding-top: 0px !important;
}

.livetracking .rwd-table{
    margin: 1em 3px;
    min-width: 98%;
    background: rgb(44, 52, 93);
    color: #fff;
    border-radius: 0.4em;
    overflow: hidden;
    font-size: 13px;
}

.livetracking .rwd-table tr {
  border-color: #46627f;
}

.livetracking .rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
.livetracking .sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: #fff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    margin-top: 80px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}
.livetracking .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.livetracking #sidebar {
  width: 268px; 
}

.nopadding {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.liveTrackingtable .butFrame {
    padding-bottom: 0px;
}
.liveTrackingtable > tbody > tr > td {
       padding: 7px 0 3px 0;
    vertical-align: middle;
    /* padding-bottom: 20px; */
    
}
.liveTrackingtable > thead > tr > th {
    background-color: #e5cbaa;
    vertical-align: middle;
    font-weight: 500;
    border-width: 1px;
    text-transform: uppercase;    
}

.liveTrackingtable > thead > tr > th:first-child > input[type="checkbox"] {
    padding-left: 0px;
    width: 16px;
    height: 16px;
}

.liveTrackingtable {
    width: 100%;
    margin-bottom: 18px;
}

.liveTrackingtable .registrationCol {
    width: 100px;
    text-align: left;
    color: #000000;
    
}
.liveTrackingtable .offlineCol {
    width: 100px;
    text-align: left;
    color: #000000;
    
}


.liveTrackingtable .checkboxCol {
    width: 70px;
    text-align: left;
}

/*.livetracking .panel-body {
  padding: 18px;
}
*/
.liveTracking_selectpicker {
    height: 30px;
    width: 65%;
    border: 1px solid rgba(94, 129, 172, 0.39);
    border-radius: 4px;
}

.liveTracking_well .tooltip{

    min-height: 52px;
    padding: 19px;
    margin-bottom: -4px;
    margin-top: 8px;
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 6px;

}

.liveTracking_row table-responsive {
   margin-left: 8px;
   margin-right: 5px;
   overflow-y: auto; 
   height: 600px;
}

/*Play Back Setcion*/

.playBack_topnav {
    margin-top: 0px;
    line-height: 1px;
    height: auto;
    background-color: rgba(150, 166, 168, 0.43);
    box-shadow: 0px 2px 4px 0px rgb(204, 194, 167);
}


 /* Put your css in here */

    /*.vehDtaPanel{
    position: fixed;
    top: 8%;
    right: -2px;
    }*/
    .vehDtaPanel{
        position: fixed;
        top: -4%;
        right: -2px;
    }

  .PBInfoDataPanel{
    position: fixed;
    top: 8%;
    right: -2px;
    }

  .info-window {
    border: 1px solid rgb(221, 221, 221);
    background: white;
    width: 15%;
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    overflow-x: hidden;
    height: 30%;
    
    margin-top: 5%;
    }
.info-windowp {
    border: 1px solid rgb(221, 221, 221);
    background: white;
    width: 25%;
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    margin-top: 6%;
    }
    .info-close-hover {
        cursor: pointer;
    }
    
    .info-window .content {
        margin-top: 18%;
        margin-left: 5%;
        margin-right: 10%;
    }

    .vehDtaGraphs{
    position: fixed;
    top: 28%;
    right: -2px;
    }

    .vehDtaPanel.ng-hide {
      right: -200px;
    }

    .vehDtaPanel.ng-hide-add, .vehDtaPanel.ng-hide-remove {
      /* this is required as of 1.3x to properly
         apply all styling in a show/hide animation */
      transition: 0s linear all;
    }

    .vehDtaPanel.ng-hide-add-active, .vehDtaPanel.ng-hide-remove-active {
    
    transition: all ease-in-out 0.5s;
    }
    .vehDtaPanel.ng-show-add-active {
      display: block;
    }
    /*.vehDta {
    border: 1px solid rgb(221, 221, 221);
    background: white;
    width: 20% !important;
    line-height: 185%;
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    padding: 1%;
    text-align: left;
    overflow-x: hidden;
    height: 100%;
    overflow-y: auto; 
    width: auto;
    }*/

    .vehDta {
        border: 1px solid rgb(221, 221, 221);
        background: white;
        width: 20% !important;
        height: 800px;
        line-height: 182%;
        color: #000000;
        font-weight: 400;
        font-size: 13px;
        padding: 1%;
        text-align: left;
        overflow-x: hidden;
        height: 90%;
        overflow-y: auto;
        width: auto;
        margin-top: 115px;
    }

    .vehDtaH {
    font-size: 13px;
    line-height: 1.2em;
    font-weight: 600;
    color: #ffffff;
    background-color: #FF9D0B;
    margin: auto;
    padding: 4%;
    text-align: left;
    margin-left: -5%;
    width: 120%;
    text-transform: uppercase;
    box-shadow: 4px 4px 11px rgba(153, 153, 153, 0.87);
  }

    .vehDtaP {
    padding-top: 3%;
    }
    .dumperDtaP {
        padding-top: 3%;
        width: 68%;
        /* padding-left: 6px; */
        margin-left: -145px;
        margin-left: -145px !important;
    }
    .clsBtn {
    
    color: rgba(51, 51, 51, 0.75);
    font-size: 18px;
   cursor: pointer;
    }
    .icnSty {
    float: right;
    margin-right: 25px;
    font-size: 22px;
        margin-top: -7%;
}

    .vehDtagraph.ng-hide {
      right: -200px;
    }
    .vehDtagraph.ng-hide-add, .vehDtagraph.ng-hide-remove {
      /* this is required as of 1.3x to properly
         apply all styling in a show/hide animation */
      transition: 0s linear all;
    }


    .vehDtagraph.ng-hide-add-active, .vehDtagraph.ng-hide-remove-active {
    
    transition: all ease-in-out 0.5s;
    }
    .vehDtagraph.ng-show-add-active {
      display: block;
    }
    .daydistchrt{
    background-color: white;
    width: 110%;
    margin-left: -15px;
  }
    .barchrt2pos{
            top: -64px;
    }
    .barchrt3pos{
            top: -130px;
    }
    hr {
        margin:auto;
    }
 

.sidenavList{
    border: 1px solid rgba(94, 129, 172, 0.19);
    }
    .sidenavList:hover {
    background-color: rgba(238, 238, 238, 0.71);
    text-decoration-style: none;
}
    a:hover, a:focus {
    color: #2196f3;
    text-decoration: none;
}
/* Subheader */
.topnav {
    overflow: hidden;
    background-color: #cbe6a3;
    margin-top: 43px;
    height: 38px;
    line-height: 10px;
  
}

.topnav a {
    float: left;
    display: block;
    color: #111010;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.topnav a:hover {
  background-color: #84a0a2;
  color: #ffffff;
  font-size: 18px;
}

a.selected.active {
  background-color: #389fa6;
  color: #ffffff;
  font-size: 18px;
  box-shadow: 0px 0px 10px 0px black;
}
.liveTracking_well{
    padding: 10px;
}
input[type="radio"], input[type="checkbox"] {
   /* margin: 14px 12px 0;*/
    margin: -3px 11px 0;
    line-height: normal;
}
.mCSB_container  {

      width: 268px !important;
}
.vehLbl {
    color: #184782;
    font-size: 15px;
    font-weight: 500;
    float: left;
    line-height: 25px;
}
.pdngvehLbl {
  margin-top: 1%;
}
.lvtrckBtn {
      background-color: #c0945b;
    color: #ffffff;
}
.ltInptTg {
    margin-left: 40px;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    height: 40px !important;
    }
.subCntnthdr {
    padding: 7px;
}

.GraphHeading {
    font-size: 15px;
    line-height: 1.4em ; 
    font-weight: 500;
    color: #e58e0b;
}



.trackCorp{
        margin-top: 4px;
}


.subCntnthd{
    height: 36px;
    width: 101%;
    padding: 4px;
    background-color: rgba(150, 166, 168, 0.43);
    box-shadow: 0px 2px 4px 0px rgb(204, 194, 167);
}

.livemap-menu .garbage-chkbox{
    padding-top: 0.5%;
}
.livemap-menu .garbage-chkbox input[type="checkbox"] {
   width: 18px; 
   height: 18px; 
}
.livemap-menu .panel-default .panel-title {
    text-align: left;
}
.lt-playback #pbmap_canvas {
        height: 100%;
        width: 100%;
        margin: 0px;
        position: relative;
}
.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.sidebar-inner ul{
    margin-top: 0px ;
}
.sidebar-inner .profile-menu{
    padding-bottom: 20px ;
}
/*.header-title {
    padding-left: 50px;
}*/

#playbackmap {
    height: 950px;
    margin: 0;
    padding: 0;
    position: relative;
}
.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 30px;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder, 
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover, 
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus, 
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: #000;
    background-color: #fff !important;
    border: 1px solid #d7d7d7;
}
.bootstrap-select > .btn-group.open > .dropdown-toggle.btn,
.bootstrap-select >  .btn-group.open > .dropdown-toggle.btn.btn-default{
    color: #000;
    background-color: #fff !important;
    border: 1px solid #d7d7d7;
}
.bootstrap-select > .btn,
.bootstrap-select > .btn:hover,
.bootstrap-select > .btn.btn-default:hover,
.bootstrap-select > .btn:focus,
.bootstrap-select >  .btn:active,
.bootstrap-select >  .btn:active:focus{
    color: #000;
    background-color: #fff !important;
    border: 1px solid #d7d7d7;
}

.bootstrap-select > .dropdown-menu li a:hover,
.bootstrap-select >  .dropdown-menu li a:focus,
.bootstrap-select >  .dropdown-menu li a:active {
    box-shadow: none;
    background-color: rgba(225, 227, 230, 0.53) !important;
    color: #000;
}
.bootstrap-select > .btn-group,
.bootstrap-select > .dropdown-toggle
.bootstrap-select > .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    font-size: 13px;
}

.LT_play_button{
    background-color: transparent;
    border: transparent;    
    margin: 0px -5px;
}

.date-picker-menu .uib-daypicker>table >thead>tr > th{
    height: 20px;
}
.dmpTh {
    border: 1px solid rgba(204, 204, 204, 0.61); background-color: #add !important; color: #333 !important;
}
.dmpTd {
    border: 1px solid rgba(204, 204, 204, 0.61);
}
.dmpTr {
    border: 1px solid rgba(204, 204, 204, 0.61);
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #cbe6a3;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    /*top: 25%;*/
    width: 100%;
    text-align: center;
    margin-top: 74px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
}

/*#main {
    transition: margin-top .5s;
    padding: 16px;
}*/

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.mpClpsbleMnu{
  background-color: #ed9819;
  color: white;
}
.lvMpMtr{
    font-size: 13px;
   cursor:pointer; 
}

.livemap-menu .leftmenu-close {
    width:2%;
    cursor: pointer;
}

.livemap-menu .leftmenu-close-div {
    margin-bottom: 0;
    text-align: right;
}
.livemap-menu .menu-icon-align {
    text-align: left;
    cursor: pointer;
}
.livetracking .garbage-chkbox{
    margin-top: 15px;
    text-align: right;
}
.livetracking .garbage-chkbox input[type="checkbox"] {
    width: 18px;
    height: 18px;
}
/*Playbck Right Sidebar Css */
.rgtLblHd {
    color: #1a56a2;
    font-weight: bold;
}
.rgtLbl {
    color: #252627;
    font-weight: bold;
}
.rtcolAlgn {
    margin-bottom: 1px;
    margin-top: 1px;
    /*background-color: rgba(158, 158, 158, 0.17);*/
    height: 30px;
    line-height: 30px;
}
.rtcolAlgn:nth-child(even) {
    background: rgba(158, 158, 158, 0.17);
}
.rtcClsBtnAlgn{
    height: 35px;
    cursor: pointer;
    background-color: #1a56a2;
    color: white;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.rtTblLbl {
    border: none;
    text-align: left;
    padding: 8px;
    padding-left: 20px;
    padding-right: 5px;
}

.tblrwAlgn:nth-child(even){background-color: #f2f2f2}
.tblHdrRw {
    background-color: #1a56a2;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
}

.tab-border {
    border-bottom: solid 5px #389fa6;
}

.filter-icon {
    padding-top: 5px;
    width:18%;
    cursor: pointer;
}
.plbkVehTmln{
    text-align: center;
    margin-top: 2% !important;
    font-weight: bold;
    font-size: 15px;
}



/* leaflet map css starts*/
 .mapContainer {
    position: relative;
    width: 100%;
    height: 984px;
}    

.leaflet-top .leaflet-control {
    margin-top: 45px !important;
}
.zmdi-menu:before {
    content: '\f197';
    margin-left: 10px;
}
.vehDta {
    border: 1px solid #ddd;
    background: #fff;
    width: 30%!important;
    height: 800px;
    line-height: 182%;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    padding: 1%;
    text-align: left;
    overflow-x: hidden;
    height: 104%!important;
    overflow-y: hidden;
    width: auto;
    margin-top: 0px!important;
}
.vehDtaPanel {
    position: fixed;
    top: -4%;
    left: -2px!important;
}
.stay{
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    margin-left: 0px;
    
}
.change{
    margin-left:17%;
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.nav-tabs>li {
    width: 32%;
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li a {
    height: 0px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}
.nav-tabs>li>a {
    /* color: #fff; */
    border: 0;
    margin: 0;
    border-radius: 3px;
    line-height: 1px;
    text-transform: uppercase;
    font-size: 12px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555 !important;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd!important;
    border-bottom-color: transparent!important;
    margin-bottom: -1px;
    text-align: center;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    cursor: default;
    background-color: #fff;
    /* border: 1px solid #ddd!important; */
    /* border-bottom-color: transparent!important; */
}
.nav>li>a:hover {

    color: #0d8ae2!important;
}
.nav>li>a {
    position: relative;
    padding: 10px 0px;
    color: #0d8ae2!important;
    margin-bottom: 1px;
}
.nav-tabs {
    background: 0 0;
    border: 0;
    border-radius: 3px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 30px;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.tab-pane {
    position: relative;
    padding-top: 0px;
}
.tab-content {
    overflow-y: auto;
    height: 204px;
}
.bold {
    font-weight: 700;
    line-height: 46px;
    margin-left: -5px;
}
form-group {
    padding-bottom: 7px;
    margin: 0 0 0 0;
}
.btn-group>.btn:first-child {
    margin-left: 0;
    border-right: 1px solid #ddd;
}
.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret {
    border-top-color: #1a56a2;
    border-bottom-color: #1a56a2;
}
.open>.btn.btn-primary.dropdown-toggle, .open>.btn.btn-primary.dropdown-toggle:focus, .open>.btn.btn-primary.dropdown-toggle:hover, .open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle, .open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle:focus, .open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle:hover {
    background-color: #1db1d4;
    color: #1a56a2;
    border: 1px solid #ddd;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 1px solid #ddd;
    position: absolute;
    bottom: -4px;
    left: 10px;
    display: none;
}
.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 25px!important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    text-decoration: none;
    color: #ffffff;
  background-color: #ffffff !important;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff) !important;
  background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 170px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -25px;
    top: 30px;
    z-index: 9;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    overflow: hidden !important;
    text-align: left;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}
.tggle-row-margin{
    margin-top: 25px;
}
.select-mrgn{
    margin-left: -45px;
    margin-top: 10px;
}
.llvehDtaPanel {
    position: absolute;
    top: -4%;
    right: -2px!important;
}

.llclsBtn {
    color: rgba(51, 51, 51, 0.75);
    font-size: 18px;
   cursor: pointer;
    }
    .llicnSty {
    float: right;
    margin-right: 25px;
    font-size: 22px;
    margin-top: -7%;
}

   .llvehDta {
        border: 1px solid rgb(221, 221, 221);
        background: white;
        width: 20% !important;
        height: 800px;
        line-height: 182%;
        color: #000000;
        font-weight: 400;
        font-size: 13px;
        padding: 1%;
        text-align: left;
        overflow-x: hidden;
        height: 90%;
        overflow-y: auto;
        width: auto;
        margin-top: 32px;
    }

    .llvehDtaH {
        font-size: 13px;
        line-height: 1.2em;
        font-weight: 600;
        color: #ffffff;
        background-color: #FF9D0B;
        margin: auto;
        padding: 4%;
        text-align: left;
        margin-left: -5%;
        width: 120%;
        text-transform: uppercase;
        box-shadow: 4px 4px 11px rgba(153, 153, 153, 0.87);
      }
      .lftMnuItms{
        padding-right: 0px;
      }
      #content {
        padding-left: 0px !important;
        padding-right: 15px;
    }
    .mnuIcn{
        font-size: 30px;
        color: black;
    }
    .slctCols{
        padding-left: 0px!important;
        padding-right: 13px!important;
    }
    .drpDwnLbl{
        font-size: 15px;
        color: black;
    }
    .drpDwnLblRw{
        margin-bottom: 2%;
    }
    .select2-container .select2-choice {
        display: block;
        height: 33px !important;
        padding: 0 0 0 8px;
        overflow: hidden;
        position: relative;
        border: 1px solid #aaa !important;
        white-space: nowrap;
        line-height: 26px;
        color: #444;
        text-decoration: none;
        border-radius: 3px;
        background-clip: padding-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #fff !important;
        background-image: none !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
        background-image: linear-gradient(top, #fff 0%, #eee 50%);
    }
    .select2-container .select2-choice .select2-arrow {
        display: inline-block;
        width: 18px !important;
        height: 100% !important;
        position: absolute;
        right: 0;
        top: 0;
        border-left: none !important;
        border-radius: 0 4px 4px 0;
        background-clip: padding-box;
        background: #fff !important;
        background-image: none !important;
    }
    .search {
        width: 90%;
        border: 1px solid #ccc;
        height: 30px;
        border-radius: 4px;
        margin-bottom: 8px;
        padding-left: 40px;
    }
    .container {
        width: 100% !important;
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 9px;
        cursor: pointer;
        font-size: 14px;
        padding-top: 5px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    /* commenting since it is applying to all input boxes @Sony */
    /* .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    } */
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 5px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: white;
    }
    .echVehChck{
        top: 20px !important;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #ffffff;
        border: 1px solid #ccc;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 7px;
        top: -3px;
        width: 9px;
        height: 18px;
        border: solid #0e468e;
        border-width: 0 4px 5px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .chckBxSlctAll{
        display: none;
    }
    .vehsLbl{
        color: black;
        font-weight: 600;
    }
    .vehsClr{
        color: #368e09;
    }
    .offlnVehsClr{
        color: #8e0909;
    }
    .rpVehsClr{
        color: #093e8e;
    }
    .contrctExpVehsClr{
        color: #8e5909;
    }



/*    leaflet--playback*/

/*laybackmap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}*/

footer.lp {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 10px;
}

.lp .transport {
  margin: 0 auto;
  width:768px;
}

.lp .navbar {
  margin-bottom: 0;
}

.lp .navbar-inner {
  padding-right: 0;
  padding-left: 0;
}

.lp #play-pause {
  width: 18px;
}

.lp #speed-btn {
  width: 58px;
}

.lp .ui-slider {
  margin: 13px;
}

.lp #time-slider {
  width:370px;
}

.lp #calendar {
  margin: 5px;
}

.leaflet-control-layers-list {
  margin-bottom: 0;
}

.lp .speed-menu {
  min-width: 60px;
}

.lp .dropdown-menu {
  padding: 5px;
  text-align: center;
}

.lp #speed-slider {
  margin-left: auto;
  margin-right: auto;
}

.lp .navbar .btn,
.lp .navbar .btn-group {
  margin-top: 0;
  padding: 0;
}

.lp .navbar .nav > li > a.clock {
  padding: 0 3px 0 3px;
  text-align: center;
  margin-left:4px;
  margin-right:4px;
}

.lp li.ctrl {
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-right: 1px solid #d4d4d4;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.lp .pull-right li.ctrl {
  border-right: 0;
  border-left: 1px solid #d4d4d4;
}

.lp li.ctrl:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

/*.lp li.ctrl:hover a {
  color: #a9ff00;
}*/

.lp li.ctrl:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/*Bootstrap interfering with leaflet*/
input {
  vertical-align: baseline;
}

label {
  font-weight: bold;
}

/*bootstrap mod*/
.navbar .nav { margin: 0; }

.navbar .nav > li > .dropdown-menu:before,
.bootstrap-timepicker-widget.dropdown-menu:before {
  top: auto;
  bottom: -7px;
  border-top: 7px solid #ccc;
  border-bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.navbar .nav > li > .dropdown-menu:after,
.bootstrap-timepicker-widget.dropdown-menu:after {
  top: auto;
  bottom: -6px;
  border-top: 6px solid #ffffff;
  border-bottom: 0;
}