#header {
     box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
     min-height: 0px !important; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    z-index: 11;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 11px;
    height: 50px !important;
    line-height: 0px !important;
}
.top-menu > li {
    display: inline-block;
    margin: -11px 1px !important;
    vertical-align: top;
    min-width: 50px;
}
#top-search-wrap {
    position: absolute;
    top: -65px;
    left: 0;
    width: 100%;
    height: 50px !important;
    background: #fff;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 10;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3) !important;
}
#top-search-wrap #top-search-close {
    position: absolute;
    top: 15px !important;
    font-size: 23px;
    font-style: normal;
    width: 45px;
    text-align: center;
    border-radius: 2px 0px 0px 2px;
    cursor: pointer;
    left: 15px;
    height: 32px !important;
    padding-top: 0px !important;
    /* padding-bottom: 6px; */
    background-color: #efefef !important;
}
#top-search-wrap input[type="text"] {
    border: 0;
    height: 40px !important;
    padding: 0 10px 0 61px !important;
    font-size: 18px;
    /* width: 500px; */
    border-radius: 2px;
    background-color: #efefef;
    width: 100%;
}
.tsw-inner {
    position: relative;
    padding: 7px !important;
    max-width: 700px;
    display: block;
    margin: 0 auto;
}
.iconwdth {
    width: 100%;
}
.icontxt {
    font-size: 12px;
    font-family: verdana;
    font-weight: 500;
    color: #000000;
}    
.icntxtrow{
padding-top: 14px;
text-align: center;
}


audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
    height: 56px !important;
    /*margin-left: 18px !important;*/
}

.easy-pie.main-pie .percent {
    margin-top: 40px !important;
    font-size: 17px !important;
    color: white !important;
}

.easy-pie.main-pie .percent:after {
    font-size: 17px !important;
}

.easy-pie {
    display: inline-block;
    position: relative;
    padding: 0 5px 0px !important;
}

.easy-pie .pie-title {
    position: absolute;
    width: 100%;
    text-align: center !important;
    left: 112px !important;
    top: 36px !important;
    font-size: 16px !important;
    font-weight: initial !important;
}

.easy-pie .percent:after {
    content: "" !important;
}

.easy-pie .percent {
    position: absolute;
    font-weight: 300;
    width: 100%;
    line-height: 100%;
    left: -4px !important;
    top: 2px !important;
}



/*p {
    margin-bottom: 14px !important;
    font-size: 20px !important;
    font-weight: bold !important;
    color: #13578e !important;
    margin: -38px 1px 9px !important;
}*/

.card {
    position: relative;
    /*background: #fff !important;*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    margin-bottom: 30px;
}

.line-wrap {
  width: 18px;
  height: 12px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  margin: 6px 22px !important;
}


.header-inner {
    list-style: none;
    position: fixed !important;
    width: 100% !important;
    z-index: 3 !important;
    height: 43px;
    /* line-height: 17px; */
    margin-left: -1px;
    padding: 0px 2px !important;
    margin-bottom: 0;
    background-color: #1a56a2 !important;
}
.header-title{
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    font-family: Avenir Next!important;
    font-weight: 400;
    font-style: normal;
    line-height: 15px;
    text-transform: uppercase;
    padding-left: 25px;
}
/* Header Style */
#menu-trigger {
    width: 65px;
    height: 35px;
    cursor: pointer;
}
/* Header Style */
#vtspos{
    margin-top: 6px;
    margin-right: 35px;
}

.top-menu {
    list-style: none;
    padding: 15px 0px !important;
}

#menu-trigger:before {
    content: "";
    position: absolute;
    top: 3px !important;
    left: 7px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.22);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    z-index: 0;
}

.sidevtspos{
    top: 36px !important;
    height: calc(100% - 36px) !important;
}

#header .logo a {
    padding: 18px 10px !important;
}

/* Support */
input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}


input[type=search] {
    background: rgb(251, 251, 251) url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 70%;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}
input[type=search]:focus {
    width: 100%;
    background-color: #fff;
    border-color: #66CC75;
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
}
.styled-select select {
 background: transparent;
    border: none;
    font-size: 14px;
    /* height: 29px; */
    padding: 8px;
    width: 268px;
}
.styled-select.slate {
  background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  height: 34px;
  width: 240px;
}
.styled-select.slate select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 268px;
}
/* -------------------- Rounded Corners */
.rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* -------------------- Colors: Background */
.slate {
  background-color: #ddd;
}
.green {
  background-color: #779126;
}
.blue {
  background-color: #3b8ec2;
}
.yellow {
    background-color: #fbfbfb;
    border: 1px solid #d2d2d2;
    height: 38px;
}
.black {
  background-color: #000;
}
/* -------------------- Colors: Text */
.slate select {
  color: #000;
}
.green select {
  color: #fff;
}
.blue select {
  color: #fff;
}
.yellow select {
  color: #999;
}
.black select {
  color: #fff;
}
/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
  border: 0;
  color: #EEE;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 10px;
  width: 378px;
  *width: 350px;
  *background: #58B14C;
  -webkit-appearance: none;
}
#mainselection {
  overflow: hidden;
  width: 350px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 1px 1px 11px #330033;
  background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}
/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow,
select#soflow-color {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}
select#soflow-color {
  color: #fff;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
  background-color: #779126;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding-left: 15px;
}
/*.form-group {
    padding-bottom: 10px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin: 0px !important; 
}*/
.table-responsive {
    overflow-x: initial !important;
    min-height: 0.01%;
}
.tblpdng {
    padding-top: 30px;
}
hr {
    margin-top: 26px !important;
    margin-bottom: 5px !important;
    border: 0;
    border-top: 1px solid #eeeeee;
}
.crdbg {
   background-color: rgba(96, 125, 139, 0.69) !important;
}
.card-header h2 {
    margin: 0;
    line-height: 100%;
    font-size: 19px !important;
    font-weight: 500 !important;
    font-family: verdana !important;
    color: #ffffff !important;
}
.tblHdr {
    background-color: white !important;
    color: black !important;
    text-align: center !important;
    border-top: 0px !important;
}
.txtclrSolved {
        color: #516c79;
    font-weight: 500;
}
.txtclrWait {
        color: #f7990e;
    font-weight: 500;
}
.txtclrOpen {
        color: #0e34f7;
    font-weight: 500;
}

/* Create Ticket */
@media (min-width: 1160px)
.containerSp {
    padding: 0;
    width: 90%;
}
.containerSp {
    max-width: 73%;
    margin: 0 auto;
    /* padding: 0 5%; */
    /* padding-top: 3%; */
    padding-bottom: 1%;
}
/*.formSp {
    max-width: 650px;
}*/
input {
    font-weight: 300;
    max-width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border .12s ease-in-out;
}
input, textarea {
    color: #000;
    font-size: 14px;
}

input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.form-field label {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    color: #077eb7;
    text-align: left;
}
.form-field input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form-field input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}
.form-field p {
    color: #666;
    font-size: 12px;
    margin: 5px 0;
}
.form .suggestion-list {
    font-size: 13px;
    margin-top: 30px;
}
.form .suggestion-list label {
    border-bottom: 1px solid #ddd;
    display: block;
    padding-bottom: 5px;
}
.form-field ~ .form-field {
    margin-top: 20px;
}
.request-form textarea {
    min-height: 120px;
}
.form-field textarea {
    vertical-align: middle;
}
textarea {
    border: 1px solid #ddd;
    border-radius: 2px;
    resize: vertical;
    width: 100%;
    outline: none;
    padding: 10px;
}

textarea {
    overflow: auto;
}
.form-field.required > label::after {
    content: "*";
    color: #f00;
    margin-left: 2px;
}
.form-field .nesty-input {
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    outline: none;
    vertical-align: middle;
}
.nesty-input {
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    box-shadow: none;
    padding: 0 15px 0 10px;
}
.nesty-input {
    background-color: #FFF;
    border: 1px solid #ECECEC;
    border-radius: 1px;
    box-shadow: inset 0 1px #E3E3E3;
    color: #333;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0;
    max-width: 250px;
    min-width: 150px;
    overflow: hidden;
    padding: 0 20px 0 5px;
    position: relative;
    text-overflow: ellipsis;
    z-index: 1;
    width: 100%;
    white-space: nowrap;
}
.nesty-input, .nesty-panel {
    box-sizing: border-box;
}
a {
    color: #47b9e8;
    text-decoration: none;
}
a {
    background-color: transparent;
}

.nesty-input:after {
    color: #999;
    content: "\25BE";
    line-height: 1em;
    position: absolute;
    right: 10px;
    top: 25%;
}
html:not(.ie9) .select:before {
    position: initial !important;
    top: -1px;
    content: "";
    height: calc(100% - 1px);
    width: 30px;
    background-color: #FFF;
    background-position: right calc(100% - 7px);
    background-repeat: no-repeat;
    background-image: none !important;
    pointer-events: none;
    z-index: 5;
}
.slctSty {
    width: 100%;
    height: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}
.upload-dropzone {
    border: 1px solid #ddd;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.upload-dropzone input[type="file"] {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 250px;
    height: 100%;
}
.upload-dropzone span {
    color: #666;
}
.upload-dropzone span {
    color: #d1d1d1;
    display: inline-block;
    line-height: 24px;
    padding: 10px;
}
.upload-dropzone span::before {
    content: "\1F4CE";
    font-family: "entypo";
    font-size: 20px;
    margin-right: 5px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    font-style: italic;
}
.upload-dropzone a {
    text-decoration: none;
    font-size: 13px;
}
.upload-dropzone span {
    color: #666;
}
.form footer {
    margin-top: 40px;
    padding-top: 30px;
}
@media (min-width: 768px)
.button-large, input[type="submit"] {
    width: auto;
}
.button-large, input[type="submit"] {
      background-color: #47b9e8;
    border: 0;
    border-radius: 4px;
    color: #fcfcfc;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.72;
    /* min-width: 190px; */
    padding: 0 1.9286em;
    width: 20%;
    /* text-align: center; */
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.formSty{
    font-size: 20px;
    font-family: verdana;
    font-weight: 500;
    color: #6c8e9e;
}
.ftrbtm {
    margin-top: 10px !important;
}

/* VTS */
.sidevtspos{
    top: 36px !important;
    height: calc(100% - 36px) !important;
}

#btnwdh {
    width: 9%;
    background-color:#0898ab;
    border: 0px solid;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    margin-top: 16px;
    text-transform: capitalize;
}

.vtsktag {
        text-align: center;
    margin-left: 25px;
}

[data-current-skin="blue"] {
    background-color: #f6675d !important;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#dbcardhpos{
    color: white;
    font-size: 18px;
    font-weight: 500;
}


#zoneheadpos{
      margin-top: -10%;
      font-size: 21px;
    color: #1f77b4;
    font-weight: bold;
    background-color: #edecec;
}

.statistic-box.red {
    background-color: #fa424a;
    background-image: url(http://themesanytime.com/startui/demo/img/statistic-box-red.png);
}
.statistic-box.purple {
    background-color: #ac6bec;
    background-image: url(http://themesanytime.com/startui/demo/img/statistic-box-purple.png);
}
.statistic-box.yellow {
    background-color: #fdad2a;
    background-image: url(http://themesanytime.com/startui/demo/img/statistic-box-yellow.png);
}
.statistic-box.green {
    background-color: #46c35f;
    background-image: url(http://themesanytime.com/startui/demo/img/statistic-box-green.png);
}
.statistic-box {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    background: no-repeat 50% 50%;
    background-size: cover;
    margin: 0 0 30px;
}

.statistic-box>div {
    -webkit-border-radius: inherit;
    border-radius: inherit;
    height: 100px;
    background: url(http://themesanytime.com/startui/demo/img/statistic-box-grid.png) 50% 0;
    background-size: 21px 20px;
    position: relative;
}
.statistic-box .caption {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    min-height: 35px;
    line-height: 1;
}

.statistic-box .caption>div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 10px;
}

svg:not(:root) {
    overflow: hidden;
    height: auto !important;
    /*width: 100%  !important;*/
}
.hdrimgCM {
  height: 80px;
    width: 80px;
    margin-top: -25px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(122, 115, 123, 0.25);
}
.hdrimgNA {
      height: 80px;
    width: 74px;
    margin-top: -20px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(122, 115, 123, 0.25);
}
.hdrimgCS {
        height: 95px;
    width: 73px;
    margin-top: -24px;
    border: 1px #f6675d;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(122, 115, 123, 0.25);
}
.hdrimgIAS {
      height: 82px;
    width: 74px;
    margin-top: -24px;
    border: 1px #f6675d;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(122, 115, 123, 0.25);
}
.bgm-teal {
    background-color: rgba(182, 218, 215, 0.43) !important;
}
.bgm-lime {
    background-color: #e0e69d !important;
}
select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.col-in {
    padding: 20px;
}
.text-muted {
    color: #8d9ea7;
}
.vb {
    vertical-align: bottom;
}
.col-in h3 {
    font-size: 48px;
    font-weight: 100;
}

.text-danger {
    color: #fb9678;
}
.progress {
    -webkit-box-shadow: none!important;
    background-color: rgba(120,130,140,.13);
    box-shadow: none!important;
    height: 4px;
    border-radius: 0;
    margin-bottom: 18px;
    overflow: hidden;
}
.progress-bar-danger {
    background-color: #fb9678;
}
.progress-bar {
    box-shadow: none;
    font-size: 8px;
    font-weight: 600;
    line-height: 12px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.btn, .navbar .navbar-nav > li > a.btn {
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 10px 14px;
    margin: 1px 1px;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}