#footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: auto;
}
.footer_label{
    background-color: #f5f5f5;
    width: 100%;
    color: #000000 !important;
    position: fixed;
    left: 0px;
    bottom: 0px;
    font-weight: 500;
    height: 20px;
}
.footer-image{
    height: auto;
    max-width: 100%
}
.lc-block:not(.toggled) {
    display: block !important;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  text-align: center;
  background: #03a9f4;
}

.conatiner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 900px;
}

.circle {
  border-radius: 50%;
  padding: 0;
  display: inline-block;
  position: relative;
  height: 375px;
}
.circle:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 40px solid #fffbdf;
  z-index: 50;
  border-radius: 50%;
}

.holder {
  overflow: hidden;
  width: 366px;
  height: 345px;
  border-radius: 50%;
  position: relative;
}

.bob {
  position: absolute;
  display: inline-block;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: 2s updown ease-in infinite;
  animation: 2s updown ease-in infinite;
  top: 100%;
}
.bob .nose {
  position: relative;
  background: #fdd5b6;
  border: 3px solid #602f2d;
  margin: 0 auto;
  height: 35px;
  width: 35px;
  z-index: 15;
  border-radius: 50% 50% 0 0;
  top: 8px;
}
.bob .nose:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 12px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #602f2d;
  box-shadow: 13px 0 #602f2d;
}
.bob .face {
  width: 200px;
  height: 200px;
  background: #fdd5b6;
  border: 3px solid #602f2d;
  border-radius: 50%;
  position: relative;
  z-index: 50;
  box-shadow: 15px 0 #f7c6a4 inset;
}
.bob .ear {
  position: absolute;
  background: #fdd5b6;
  border: 3px solid #602f2d;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 15;
  top: 115px;
  left: -5px;
}
.bob .ear:after, .bob .ear:before {
  content: '';
  position: absolute;
  background: #602f2d;
  border-radius: 15px;
  height: 3px;
  width: 20px;
  top: 12px;
  left: 5px;
}
.bob .ear:after {
  -webkit-transform: rotate(127deg);
  transform: rotate(127deg);
  width: 7px;
  top: 15px;
  left: 7px;
}
.bob .ear.rgt {
  left: auto;
  right: -5px;
}
.bob .ear.rgt:after {
  -webkit-transform: rotate(47deg);
  transform: rotate(47deg);
  top: 15px;
  left: 18px;
}
.bob .neck {
  position: relative;
  background: #fdd5b6;
  border: 3px solid #602f2d;
  margin: 0 auto 0;
  height: 50px;
  width: 70px;
  z-index: 15;
  border-radius: 0 0 50% 50%;
  top: -8px;
  box-shadow: 10px 0 #f7c6a4 inset;
}
.bob .mouth {
  position: absolute;
  border: 3px solid #602f2d;
  background: #ec7374;
  width: 80%;
  height: 80%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation: 1s openclose ease-in infinite;
  animation: 1s openclose ease-in infinite;
}
.bob .mouth:after, .bob .mouth:before {
  content: '';
  position: absolute;
  background: #cc5e64;
  border: 5px solid #df6062;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 120px;
  height: 120px;
  z-index: 2;
}
.bob .mouth:after {
  z-index: 10;
  bottom: auto;
  top: 25px;
  background: #ec7374;
  height: 40px;
  width: 40px;
  border-top-color: transparent;
}
.bob .tongue {
  position: absolute;
  background: #602f2d;
  width: 40px;
  height: 40px;
  left: 0;
  bottom: 5px;
  right: 0;
  margin: auto;
  border-radius: 50%;
  z-index: 5;
}
.bob .tongue:after, .bob .tongue:before {
  content: '';
  position: absolute;
  background: #f9adba;
  border: 3px solid #602f2d;
  border-radius: 50px;
  top: 22px;
  left: -4px;
  width: 30px;
  height: 40px;
  z-index: 2;
}
.bob .tongue:before {
  left: 16px;
}

.drops {
  background: #8ecbf9;
  border: 2px solid #602f2d;
  width: 20px;
  height: 20px;
  border-radius: 50px 50px 0 50px;
  position: absolute;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  top: 150px;
  left: 70px;
  z-index: 100;
  -webkit-animation: 2s drop-l ease-in infinite;
  animation: 2s drop-l ease-in infinite;
}
.drops:nth-child(2) {
  left: auto;
  right: 70px;
  -webkit-transform: rotate(145deg);
  transform: rotate(145deg);
  -webkit-animation: 2s drop-r ease-in infinite;
  animation: 2s drop-r ease-in infinite;
}
.drops:after, .drops:before {
  content: '';
  background: #8ecbf9;
  border: 2px solid #602f2d;
  width: 20px;
  height: 20px;
  border-radius: 50px 50px 0 50px;
  position: absolute;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  top: 20px;
  left: -25px;
}
.drops:before {
  top: -30px;
  left: 0px;
}

.hand {
  border: 3px solid #602f2d;
  position: absolute;
  z-index: 50;
  background: #fdd5b6;
  width: 25px;
  height: 15px;
  border-radius: 20px;
  bottom: 86px;
  z-index: 200;
  left: 64px;
  -webkit-transform: rotate(-36deg);
  transform: rotate(-36deg);
}
.hand:after, .hand:before {
  content: '';
  border: 3px solid #602f2d;
  position: absolute;
  z-index: 50;
  background: #fdd5b6;
  width: 25px;
  height: 15px;
  border-radius: 20px;
  z-index: 200;
  top: 100%;
  left: 0;
}
.hand:before {
  top: 200%;
}

.rgt {
  left: auto;
  right: 60px;
  bottom: 96px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}

.numer {
  font-size: 500px;
  display: inline-block;
  color: #fffbdf;
}
@-webkit-keyframes updown {
  50% , 70% {
    top: 25%;
  }
}
@keyframes updown {
  50% , 70% {
    top: 25%;
  }
}
@-webkit-keyframes openclose {
  0% , 100% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}
@keyframes openclose {
  0% , 100% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}
@-webkit-keyframes drop-l {
  0% , 50% {
    opacity: 0;
    -webkit-transform: translate(50px, 0) rotate(-15deg);
    transform: translate(50px, 0) rotate(-15deg);
  }
  55% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(-15deg);
    transform: translate(0, 0) rotate(-15deg);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(-30px, 0) rotate(-25deg);
    transform: translate(-30px, 0) rotate(-25deg);
  }
  85% {
    opacity: 1;
    -webkit-transform: translate(-50px, 100px) rotate(-90deg);
    transform: translate(-50px, 100px) rotate(-90deg);
    opacity: .5;
  }
  86% , 100% {
    opacity: 0;
  }
}
@keyframes drop-l {
  0% , 50% {
    opacity: 0;
    -webkit-transform: translate(50px, 0) rotate(-15deg);
    transform: translate(50px, 0) rotate(-15deg);
  }
  55% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(-15deg);
    transform: translate(0, 0) rotate(-15deg);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(-30px, 0) rotate(-25deg);
    transform: translate(-30px, 0) rotate(-25deg);
  }
  85% {
    opacity: 1;
    -webkit-transform: translate(-50px, 100px) rotate(-90deg);
    transform: translate(-50px, 100px) rotate(-90deg);
    opacity: .5;
  }
  86% , 100% {
    opacity: 0;
  }
}
@-webkit-keyframes drop-r {
  0% , 50% {
    opacity: 0;
    -webkit-transform: translate(-50px, 0) rotate(145deg);
    transform: translate(-50px, 0) rotate(145deg);
  }
  55% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(145deg);
    transform: translate(0, 0) rotate(145deg);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(30px, 0) rotate(160deg);
    transform: translate(30px, 0) rotate(160deg);
  }
  85% {
    opacity: 1;
    -webkit-transform: translate(50px, 100px) rotate(180deg);
    transform: translate(50px, 100px) rotate(180deg);
    opacity: .5;
  }
  86% , 100% {
    opacity: 0;
  }
}
@keyframes drop-r {
  0% , 50% {
    opacity: 0;
    -webkit-transform: translate(-50px, 0) rotate(145deg);
    transform: translate(-50px, 0) rotate(145deg);
  }
  55% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(145deg);
    transform: translate(0, 0) rotate(145deg);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(30px, 0) rotate(160deg);
    transform: translate(30px, 0) rotate(160deg);
  }
  85% {
    opacity: 1;
    -webkit-transform: translate(50px, 100px) rotate(180deg);
    transform: translate(50px, 100px) rotate(180deg);
    opacity: .5;
  }
  86% , 100% {
    opacity: 0;
  }
}


/* loading ....*/

@-webkit-keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes move-animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-64px, 0);
            transform: translate(-64px, 0);
  }
  75% {
    -webkit-transform: translate(32px, 0);
            transform: translate(32px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes move-animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-64px, 0);
            transform: translate(-64px, 0);
  }
  75% {
    -webkit-transform: translate(32px, 0);
            transform: translate(32px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
body {
  background-color: #F5F5F5;
}

.circle-loader {
  display: block;
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: 16px 16px;
          transform-origin: 16px 16px;
  -webkit-animation: rotate-animation 5s infinite;
          animation: rotate-animation 5s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.circle-loader .circle {
  -webkit-animation: move-animation 2.5s infinite;
          animation: move-animation 2.5s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
  left: 50%;
  top: 50%;
}
.circle-loader .circle-line {
  width: 64px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 0;
  -webkit-transform-origin: 4px 4px;
          transform-origin: 4px 4px;
}
.circle-loader .circle-line:nth-child(0) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.circle-loader .circle-line:nth-child(1) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.circle-loader .circle-line:nth-child(2) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.circle-loader .circle-line:nth-child(3) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.circle-loader .circle-line .circle:nth-child(1) {
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  border-radius: 4px;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.circle-loader .circle-line .circle:nth-child(2) {
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  border-radius: 8px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.circle-loader .circle-line .circle:nth-child(3) {
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  border-radius: 12px;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.circle-loader .circle-blue {
  background-color: #1f4e5a;
}
.circle-loader .circle-red {
  background-color: #ff5955;
}
.circle-loader .circle-yellow {
  background-color: #ffb265;
}
.circle-loader .circle-green {
  background-color: #00a691;
}
.main-menu{
   text-align: left;
}
#site-visits .dash-widget-title {
    bottom: 0;
     background: rgba(0, 0, 0, 0.15); 
    color: white;
}
.dash-widget-item .dash-widget-title {
    padding: 7px 20px;
    position: absolute;
    width: 100%;
    left: 0;
    /*font-weight: 500;*/
    font-size: 18px;
}
.header-inner > li:not(:last-child) {
    margin-right: 10px;
    margin-top: -6px;
}
.logo a {
   margin-top: 12px;
    text-transform: none !important;
    font-size: 22px !important;
    /*font-family: poppins !important;*/
  }
body:not(.sw-toggled) #sidebar {
  margin-top: -7px;
}
#menu-trigger {
  margin-top: 10px;
}
#menu-trigger:before {
    margin-top: -2px;
    left: 11px;
    width: 42px;
    height: 42px;
}
.card-header .actions {
    position: absolute;
    right: 10px;
    z-index: 2;
    top: 10px;
}
.card [data-background-color="orange_shade"] {
  background: linear-gradient(60deg,#186fb4,#336892);
  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.card [data-background-color="green_shade"] {
  background: linear-gradient(60deg,#038276,#11a093);
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.card [data-background-color="greenblue_shade"] {
  /*background: linear-gradient(60deg,#18b475,#336892);*/
  background-color: rgba(14, 95, 146, 0.88);
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 10px;
    background: linear-gradient(60deg,#0d828f,#339287);
    background-color: #0d828f;
}
 .card .card-header .title {
    padding-right: 87%;
    white-space: nowrap;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 100;
    text-transform: capitalize;
}


.ng-table-pager {
    padding: 0px;
    min-height: 40px;
    margin-top: 18px;
    line-height: 0px;
    background: #ffffff;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: -1px 0;
    border-radius: 2px;
}
.ng-table-pagination > li:first-child:before, .ng-table-pagination > li:last-child:before {
    font-family: 'Material-Design-Iconic-Font';
    font-size: 22px;
    position: absolute;
    left: 17px;
    top: 21px;
    z-index: 12;
}
.pagination > .disabled > a{
    color: #000000;
    background-color: white;
    border-color: #fff;
    cursor: not-allowed;
}
.pagination > .active > a,.pagination > .active > a:hover{
    z-index: 2;
    color: #fff;
    background-color: #00BCD4;
    border-color: #fff;
    cursor: default;
}
.pagination > li > a, .pagination > li > span {
    border-radius: 3% !important;
    padding: 0;
    width: 36px;
    height: 36px;
    line-height: 37px;
    text-align: center;
    font-size: 13px;
    z-index: 1;
    position: relative;
    border: 0;
    color: black;
    background-color: white;
}
@media screen and (max-width: 400px){
  #site-visits .dash-widget-header {
    padding-bottom: 38px;
    background-color: rgba(0, 0, 0, 0.13);
    height: 65px;
}
}
#percentagetxtpos{
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #13578e !important;
  margin-bottom: 0px;
}
.chrtBrdLine{
  border: 1px solid #dcd4d4;
}
/***************************Distancerpt css*************************************/
.zoneSelPos{
    border: 1px solid #dfdddd;;
    max-width: 100%;
    height: auto;
    margin-top: 26px;
}
.ng-table-counts {
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    border-radius: 3px;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active {
    background-color: #2797b0 !important;
    color: #FFFFFF;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -25px;
    top: 30px;
    z-index: 9;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    overflow: auto !important;
    text-align: left;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.pagination {
    float: left;
    display: inline-block;
    padding-left: 0;
    margin: 5px 0;
}
p{
    margin: 0px 0px 0px !important;
}
.dropdown dd,
.dropdown dt {
    font-size: 12px;
    font-weight: 400;
    border: 1px solid darkgrey !important;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  color: #000;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

.dropdown dt a {
 display: block;
 min-height: 25px;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 10px 28px 7px 30px;
}
.dropdown dd ul {
    border: 1px solid darkgrey !important;
    border-radius: 2px;
    color: #000;
    display: none;
    left: 0px;
    padding: 10px 19px 0px 10px;
    position: absolute;
    top: 0px;
    width: 148px;
    list-style: none;
    height: 80px;
    overflow: auto;
    background-color: #fff;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: #000;
}
#disRptSelPos{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: 1px solid black !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-top: 16px !important;
    width: 90% !important;
    height: 31px;
}
#disRptSelTxtPos {
    padding: -11px;
    margin: 0px;
    margin-left: -13px;
    padding-bottom: 2px;
}
.disRptDtPos {
    height: 31px;
    margin-top: 15px;
    border: 1px solid black !important;
}
.lblPos {
    color: black;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}
#trpBtnPos{
      width: 100px;
      background-color: #0898ab;
      color: white;
      margin-top: 10px;
}
#dwBtnPos {
    padding: 6px 12px;
    border: 1px solid #831551;
    border-radius: 3px;
    background-color: #a91b68;
    color: #ffffff;
}
#dwBtnPospdf {
    padding: 6px 12px;
    margin-left: 4px;
    border: 1px solid #c92418;
    border-radius: 3px;
    background-color: #f44336;
    color: #ffffff;
}
.crtBtn {
    background-color: #2196f3 !important;
    color: #FFFFFF !important;
    padding: 8px 23px !important;
}
/***************************ZoneDB charts*********************************/

.white-box {
    background: #fff;
    padding: 8px 5px 17px;
    margin-bottom: 19px;
    margin-top: 20px;
}
.row-in-br {
    border-right: 1px solid rgba(120,130,140,.13);
}
.card .card-header.card-header-icon {
    float: left;
}
.card [data-background-color] {
    color: #FFFFFF;
}
.card [data-background-color="orange"] {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.card [data-background-color="green"] {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.card [data-background-color="red"] {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}
.card [data-background-color="blue"] {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

#chartHeaderPos {
    padding: 21px 23px 19px;
    z-index: 3;
}
#crdTxtPos{
    color: black;
    font-size: 20px;
    font-weight: 500;
  }
  .white-box {
    background: #fff;
    padding: 8px 5px 17px;
    margin-bottom: 19px;
    margin-top: 20px;
    box-shadow: 2px 3px 16px #bfbebe;
    border-radius: 3px;
}
.row-in-br {
    border-right: 1px solid rgba(120,130,140,.13);
}
.chrtSelBoxPos{
    width: 80%;
    color: black;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 19px;
    height: 36px;
    border-color: black;
    margin-left: 10px;
}
.selZoneTxt{
  color: black;
  font-weight: 500;
}
/**************Password Reset*******************/

#setpwd {
    height: 40px;
    width: 100%;
    padding-left: 5%;
    border: 1px solid #dddddd;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
}
#grpDscrpt{
    width: 100%;
    padding-left: 5%;
    border: 1px solid #dddddd;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400; 
}
#resetpwdrow {
    padding: 3%;
}

.resetpwdtxt{
font-size: 14px;
color: black;

font-family: verdana;
font-weight: 100;
text-transform: initial;
}
#customcntnr{
  width:80%;
  margin-bottom: 10px;
}
#pwdresetbtn {
    background-color: #999;
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}

#pwderrmsg{
  color: red;
}
.sbmtBtn {
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2) !important;
    background-color: #358c39 !important;
}
.clrBtn {
    background-color: #999 !important;
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2) !important;
     color:#ffffff !important;
}
.cnclBtn {
      background-color: #e4594f !important;
       box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2) !important;
      
}

/******************************VEhicle DB*********************************/
.vehDash-top>.title{
    color: #fff;
    font-weight: 400;
}
.vehDash-th{
    text-align: center !important;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #f0f0f0 !important;
}

.crdHrdTxtPos{
    width: 85px;
    height: 88px;
    margin: 4px 4px -20px !important;
}
.crdConTxtPos{
    color: black;
    font-size: 21px;
    text-align: center;
    padding-top: 12px;
}
.vehchrtSelBoxPos{
    width: 71%;
    color: black;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 19px;
    height: 36px;
    border-color: black;
    margin-top: 15px;
    margin-left: 12px;
}
.custom_button{
    background-color: transparent;
    border: transparent;
    padding: 8px 14px;
    margin: 1px 1px;
}
.custom_button .material-icons {
    vertical-align: middle;
    font-size: 20px;
    top: -1px;
    position: relative;
}
.custom_button.primary{
    color:#29709d;
}
.custom_button.danger{
    color:#ef1707;
}
.custom_button.success{
    color:#34c37b;
}
.custom_button.warning{
    color:#ff9800;
}
#profile-main .pmo-pic {
    position: relative;
    margin: 40px 70px;
    width: 50%;
    background-color: #333;
    background-image: url(./../img/profile-pics/02.png) !important;
}
#profile-main .pmo-block {
    padding: 0px;
}
#profile-main {
    min-height: 0px;
    position: relative;
    margin-top: 10%;
}
.prflInfo{
   text-align: -webkit-auto;
}
.zmdi-account-o{
   margin-left: 27%;
}
.pmbb-header{
  margin-left: -40%;
}
.hasTooltip span {
    display: none;
    color: white;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
    font-size: 12px;
    width: 70px;
    text-align: center;
    font-weight: 500;
}

.hasTooltip:hover span {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    border: 1px solid #CCC;
    margin: 2px 10px;
}
.tblPos{
      margin: 7% 0 !important;
}

/********************datepicker css**************************/
.input-group {
    position: relative;
    display: flex;
    border-collapse: separate;
    border: 1px solid #dfdddd;
    height: 39px;
    border-radius: 3px;
}

.btn.btn-sm, .btn-group-sm .btn, .navbar .navbar-nav > li > a.btn.btn-sm, .btn-group-sm
 .navbar .navbar-nav > li > a.btn {
    padding: 5px 8px !important;
    font-size: 11px;
}
.input-group-addon > .zmdi {
    position: relative;
    top: 0px;
}
.fg-line:not(.form-group) {
    display: block;
    width: 100%;
}
.form-control {
    display: block;
    width: 100%;
    height: 30px !important;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*****************modal css******************/
#mdlBtn{
    background-color: #1855bd;
    width: 100px;
    height: 30px;
}
.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}
.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.w3-card-4, .w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
    height: 387px;
}
.w3-teal, .w3-hover-teal:hover {
    color: #fff!important;
    background-color: #bec3c3!important;
    text-align: center;
}
.w3-container, .w3-panel {
    padding: 4px 12px;
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
    width: 100%;
    margin-bottom: 17px;
}
.w3-display-topright {
    position: absolute;
    right: 0;
    top: 0;
}
.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear: both;
}
.totPgCnt{
   margin-top: 51px;
}
.mdlHdng{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
#mblFtr{
    margin-top: 50px;
    border-top: 1px solid #e0e0e0;
}
#mdlFrm1Txt {
    color: black;
    font-size: 15px;
    font-weight: 500;
}
#mdlFrm2Txt{
  color: black;
    font-size: 15px;
    font-weight: 500;
}
#mdlFrm1Ipt{
    border: 1px solid gainsboro;
    width: 419px;
    left: -11px;
}
#mdlFrm2Ipt{
  border: 1px solid gainsboro;
    margin-top: 10px;
}
.form-group .form-control {
    margin-bottom: 0px !important;
}

/*modalnewcss*/
.modal {
    overflow: hidden;
    position: absolute;
    top: 26px;
    right: 0;
    bottom: 0;
    left: 25%;
    z-index: 1050;
    background-color: white;
    height: 300px;
    width: 55%;
    border-radius: 3px;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal-open .modal {
    overflow-x: auto;
    overflow-y: auto;
}

.modal .modal-body {
    padding: 0px 0px 0px; 
    height: 195px;
}
.modal-header {
     padding: 0px; 
    border-bottom: 1px solid rgb(210, 210, 210);
    min-height: #0f0f0f;
}
.modal-footer {
    padding: 7px;
    text-align: center;
}
.modal .modal-header {
    padding: 0px 0px;
}

@media( max-width : 767px ){
  .modal .modal-body {
      padding: 0px 0px 0px;
      height: 135%;
  }
  .modal-open .modal {
      overflow-x: hidden;
      overflow-y: auto;
  }
}
.mdlContPos{
      padding: 34px !important;
}
btn:not(.btn-link) {
     box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0) !important; 
}

/*profile select*/
#prof-select{
    border-bottom: 1px solid #aaaaaa;
    width: 100%;
}
.excelBtn {
    background-color: #e6b31a;
    color: #FFFFFF;
}
.pdfBtn{
    background-color: #d48a1d;
    color: #FFFFFF;
}
.btn, .navbar .navbar-nav > li > a.btn {
    border: none;
    border-radius: 3px;
    position: relative;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    padding: 6px 20px;
    margin: 1px 1px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    background-color: transparent;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.icnColr{
  color: #539128;
}


.btn.btn-default{
  background-color: transparent !important;
}
input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 80px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}
input[type=search] {
    background: #ffffff url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: 1px solid #cac8bc;
    float: right;
    padding: 11px 13px 11px 34px;
    width: 150px;
    height: 10px;
    margin-top: 1px;
    margin-right: 6px;
    margin-bottom: 20px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 0em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    border-radius: 3px;
}
input[type=search]:focus {
  width: 180px;
  background-color: #fff;
  border-color: rgb(13, 152, 140);
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

.table > thead > tr > th {
    background-color: rgb(119, 119, 119);
    width: 10%;
    vertical-align: middle;
    font-weight: 500;
    color: #ffffff;
    border-width: 1px;
    text-transform: uppercase;
    text-align: center !important;
}
 .table > tbody > tr > td{
    text-align: center;
    padding: 5px;
    line-height: 1.42857143;
    border-top: 1px solid #f0f0f0;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
 }
 #mdSrchPos{
    margin-right: 6px;
    margin-bottom: 29px;
 }
 .mdTblHdrPos{
    background-color: white !important;
    color: rgba(0, 0, 0, 0.79) !important;
    text-align: center !important;
    border-top: 0px solid #f0f0f0 !important;
    text-transform: uppercase;
    font-size: 14px;
 }
.btn.btn-info,.btn.btn-info.active{
      color: #000000;
}

 /*supportpage*/
 #sptSrchPos{
    margin-top: -38px;
    margin-bottom: 30px;
 }
 #sptContPos{
       padding-top: 0px !important; 
 }
 #sptCrdPos{
       margin: 25px 0; 
       margin-left: -47px;
 }
 .sptTblsPos{
    background-color: #70928d;
    height: 40px;
    width: 100%;
    border-width: 0px;
    font-size: 16px;
    font-weight: 500;
    color: white;
 }
 .cirIcnPos
 {
      font-size: 39px;
      margin: -9px 2px 0px 0px !important;
 }
.nav-tabs {
    background: none;
    border: 0;
    border-radius: 3px;
}
.vehDashbrdMain{
  position: relative;
    padding-bottom: 0px !important;
    padding-top: 7px !important; 
}
.board .nav-tabs {
    position: relative;
    margin: 65px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
    box-shadow: 2px 4px 2px #888888;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 72%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}

li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}

li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five{
    color: #999;border: 2px solid #999;
}

li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 24%;
}
.nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-pane{
   position: relative;
padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}


@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}

#sptHdrTxt{
  width: 245px;
  height: 59px;
}
#sptTitlesPos{
    margin-top: -7px;
}
.dashboard {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f5f5f5;
}


.rptSubDataPos{
    margin-top: -21px;
    padding-left: 21px;
    padding-right: 21px;
}
#prflTxt{
   text-transform: capitalize;
}
.btn-group:not(.bootstrap-select), .btn-group-vertical:not(.bootstrap-select) {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.3);
    margin-left: 0px;
    height: 34px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
    border-right: 1px solid #c1bfbf;
}
.zoneSelPos .btn-group{
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.3);
}
.zoneSelPos .btn-group > .btn:first-child {
    margin-left: -97px;
    text-transform: capitalize;
    border-right: none;
    position: absolute;
}
.date-picker .dropdown-menu {
    padding: 0;
    margin: 0px;
    margin-left: -45px;
}
.btnAlgnDmp {
    background-color: #19878c;
    color: white;
    margin-top: 15px;
    margin-left: -120%;
}
label {
    margin-bottom: 0px;
    
}
#roleselection{
  width: 85%;
  font-size: 16px;
  padding: 6px;
}

#toggle-width .toggle-switch .ts-helper {
    height: 18px;
    width: 41px;
}
#toggle-width .toggle-switch {
    margin: 20px 30px 0 28px;
}
#toggle-width .toggle-switch .ts-helper:before {
    width: 21px;
    height: 21px;
    top: -2px;
}
.toggle-switch .ts-helper:before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 24px;
    height: 24px;
    background: #fafafa;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
    border-radius: 5%;
    -webkit-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px){
#toggle-width .toggle-switch input:checked + .ts-helper:before {
    left: 18px;
    background: #fff;
    border-top: 7px solid red;
    border-bottom: 7px solid red;
    /* padding-top: 30px; */
}
}

.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
    margin-top: 24px;
}
.row-in-br {
    border-right: 1px solid rgba(120,130,140,.13);
}
#percentagetxtpos{
  font-size: 12px !important;
    font-weight: bold !important;
    color: #13578e !important;
    /*margin: -23px 426px 9px !important;*/
}
#site-visits .dash-widget-title {
    bottom: 0;
     background: rgba(0, 0, 0, 0.15); 
    color: white;
}
.dash-widget-item .dash-widget-title {
    padding: 7px 20px;
    position: absolute;
    width: 100%;
    left: 0;
    font-weight: 500;
    font-size: 17px;
}
.panel-widget {
    background: #fff;
}
.panel-blue {
    background: #30a5ff;
    color: #fff;
}
.panel-widget {
    padding: 0;
    position: relative;
}

.panel {
    border: 0;
}

.panel {
    margin-bottom: 2px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.no-padding {
    padding: 0;
    margin: 0;
}
.panel-blue .widget-left {
    background: #30a5ff;
    color: #fff;
}

.widget-left {
    height: 80px;
    padding-top: 7px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 40px;
}
.widget-right {
    text-align: left;
    line-height: 1.6em;
    margin: 0px;
    padding: 20px;
    height: 80px;
    color: #999;
    font-weight: 300;
    background: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.widget-right .large {
    color: #5f6468;
}
.large {
    font-size: 2em;
}
.widget-right .text-muted {
    color: #114c79;
    font-size: 19px;
    margin-top: 8px;
}
.panel-widget .glyph {
    stroke-width: 2px;
}
svg:not(:root) {
    overflow: hidden;
}
.panel-orange .widget-left {
    background: #ffb53e;
    color: #fff;
}
.panel-teal .widget-left {
    background: #1ebfae;
    color: #fff;
}
.pulldownRpt{
    margin-top: -5% !important;
}
#pulldownbtnPos {
    margin-top: 14px;
    margin-left: -33px;
    padding: 6px 12px;
    border: 1px solid #358c39;
    border-radius: 3px;
    background-color: #358c39;
    color: #ffffff;
}
#pulldownbtngrpPos{
      float: left;
}
#pulldownbtnPospdf {
    margin-top: -33px;
    margin-left: 20px;
    padding: 6px 17px;
    margin-left: 159px;
    border: 1px solid #e4594f;
    border-radius: 3px;
    background-color: #e4594f;
    color: #ffffff;
}
.clsbtn {
    float: left;
    font-size: 31px;
    padding: 2px 44px;
}
.clkstls{
    background-color: #626449;
    color: white;
}

.modal.mdlVehCtgry {
    overflow: hidden;
    position: absolute;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 20%;
    z-index: 1050;
    background-color: white;
    height: 24%;
    width: 45%;
    border-radius: 3px;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal .modal-body.mdlVehCtgrybdy {
    padding: 0px 0px 0px;
    height: 78px;
}
/*Support Ticket Status*/
.firstRow {
  border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 4px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.14);
        /*background-color: whitesmoke;*/
}
.secondRow {
  border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 4px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.14);
        /*background-color: whitesmoke;*/

}
.plusBtn{
    background-color: #6ea06f;
    border: 1px solid #6ea06f;
    color: #ffffff;
    border-radius: 3px;
    }
.cmntLbl {
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.57);
    }
.cmntLblList{
        border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 3px;
    padding: 2%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.14);
  }
.cmntLblElmnt {   
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.57);
    /* border: 1px solid #dddddd;
   padding: 5px;*/
    /*border-radius: 3px;*/
    margin-left: -10%;
 }
 .cmntPsgn{
   margin-left: -10%;
 }
 
 .form-field.required > label.acvtyCntntNull::after {
    content: "";
    color: #f00;
    margin-left: 2px;
}

 
 .bgClr{
      background-color: whitesmoke;
 }
 .hdrCrds{
      margin: 45px 0 !important;
 }
 .chrtsPos{
  margin-bottom: -36px;
 }
 .hdlTxt{
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
 }
.tblVwStly{
    margin-top: 1%;
    width: 61%;
} 
.mainHdlTxt{
  font-weight: bold;
  font-size: 15px;
}    
.cmpltPos {
    margin-top: 0%;
}
.mini-charts-item .chart {
    padding: 1px;
    padding-top: 17px;
    padding-left: 1px;
    float: left;
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.mini-charts-item .count > small {
    margin-bottom: 2px;
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin-left: 7px;
}

.mini-charts-item .count {
  color: black;
}

li{list-style: none;}
h2{font-size: 24px; font-weight: 600; margin: 20px 0 10px; text-align: center;}

/*= timeline css for data in one side =*/
.timeline {
    float: left;
    width: 90%;
    margin: 40px 5%;
    padding-left: 40px;
    position: relative;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
}

.timeline:before{top: -18px;}
.timeline:after{bottom: -18px;}
.timeline li{float: left; margin-top: 20px; padding: 10px; position: relative; width: 100%;}
.timeline li:first-child{margin-top: 0;}
.timeline li:before{content: ""; width: 40px; height: 1px; background-color: #ccc; position: absolute; top: 50%; left: -41px;}
.timeline-description p{margin-top: 15px;}
.timeline-description p:first-child{margin-top: 0;}
/*= ttimeline css for data in one side end =*/

.tmlnPos{
      margin-top: -9px;
}
.tmlnTxtPos {
    margin-top: -78px !important;
    margin-left: -148px !important;
    font-size: 24px;
    font-weight: 600;
    color: #221eb6;
}
.timeline li:after {
    connt: "" !important;
    width: 7px;
    height: 7px;
    border: 1px solid #a3a3a3;
    background-color: #f5f5f5;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    left: -45px;
}
.timeline:after {
    bottom: -18px;
    border: 2px solid #f5f5f5 !important;
}
.timeline:before, .timeline:after {
    contnt: "" !important;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    position: absolute;
    left: -8px;
    border-radius: 0px;
}

.tmlCntPos {
    width: 40%;
    height: 80%;
    border: 1px solid #997f7f;
    background-color: #f5f5f5;
    position: absolute;
    top: 10%;
    margin-top: -7px;
    left: -62px;
    font-size: 15px;
    font-weight: 500;
    padding-top: 5px;
    color: black;
}
.tmlCntTxt{
    width: 107px;
    margin-top: 22px;
    font-size: 15px;
    font-weight: 600;
    color: black;
}
.tleCntTxtPos{
    margin-left: -12px !important;
    padding-right: 0px !important;
    padding-top: -3px !important;
}
.sndTleCntTxtPos{
    padding-left: 21px !important;
    padding-right: 0px !important;
    padding-top: -3px !important;
}
.sndTlePos{
      margin-top: -13%;
}
.shTlePos{
  margin-top: -173px;
}
.shsndTlePos{
  margin-top: -149px;
}
.tlsTxtStl{
  font-size: 15px;
    font-weight: 500;
    color: black;
}    
.mini-charts-item:before {
    -webkit-transition: width;
    -o-transition: width;
    transition: width;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    content: "";
    width: 93px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 0;
}

/*.w3-container, .w3-panel {
    padding: 4px 12px;
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
    width: 1043px;
    margin-bottom: 17px;
}*/
.pnlTxt{
  font-size: 15px;
    font-weight: 500;
    color: black;
}
hr.style14 {
    border: 0;
    height: 5px;
    padding-top: -20px !important;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
.tleImgPos{
    height: 59px;
    margin-left: 22px;
    margin-top: -12px;
}  
 
.infoImgPos{
    margin-left: 51%;
    height: 40px;
} 
.bgm-cyan {
    background-color: #22beef !important;
}
.bgm-lightgreen {
    background-color: #22beef !important;
}
.bgm-orange {
    background-color: #22beef !important;
}
.bgm-green{
  background-color:#a2d200 !important;
}    
.bgm-ylw{
      background-color: #a2d200 !important;
}
.bgm-grpe{
      background-color: #a2d200 !important;
}
.bgm-bluegray {
    background-color: #592693 !important;
}
.bgm-grngray{
      background-color: #177039 !important;
}
.bgm-clr{
      background-color: #036a87 !important;
}
.bgm-brwn{
      background-color: #875203 !important;
}
.bgm-drkrd{
      background-color: #870303 !important;
}
.bgm-ltgrn{
      background-color: #748703 !important;
}
.bgm-blk{
      background-color: #453d3c !important;
}
 .checkbox .input-helper:after {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    content: '\f26b';
    font-family: 'Material-Design-Iconic-Font';
    position: absolute;
    font-size: 37px;
    left: 0px;
    top: 0;
    color: #298e89;
    font-weight: 400;
    line-height: 20px;
}
.checkbox .input-helper:before, .radio .input-helper:before {
    left: 0;
    border: 1px solid rgb(122, 122, 122);
    /* align-items: center; */
}
.checkbox input:checked + .input-helper:before {
    background-color: #ffffff;
    border: 1px solid #ccc;
}
.checkbox .input-helper:before {
    top: 0;
    width: 23px;
    height: 23px;
    border-radius: 2px;
}
.VtshdrBcgrnd {
    border: 2px solid #777777 !important;
    background-color: #777777 !important;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.VtshdrLbl {
     border-bottom: 1px solid #777777;
    border-right: 1px solid #c2c2c2;
    /* padding-right: 10px; */
    /* margin-left: 32px; */
    text-align: center !important;
        width: 174px;
}
.VtsbdytblBcgrnd{
        border: 1px solid #e4dcdc;
    border-left: 1px solid #f3ebeb;
}
.table > tbody > tr:last-child > td, .table > tfoot > tr:last-child > td {
    padding-bottom: 10px;
}
.VtsAddnBtn {
    background-color: #51693a !important;
    color: #FFFFFF !important;
    padding: 6px 17px !important;
}
.Vtstblbdy {
        border-right: 1px solid rgba(199, 198, 198, 0.24);
}
.VtstblbdyChbx{
    border-right: 1px solid rgba(199, 198, 198, 0.24);
    padding-left: 55px !important;
}
.VtsliveTracking_selectpicker {
   width: 100%;
    height: 30px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
}
#VtstrpBtnPos {
     margin-top: 0px;
    background-color: #0898ab;
    color: #ffffff;
}
#VtsmdSrchPosAlrt {
    margin-right: 6px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.table > tbody > tr > td {
   padding: 10px;
  
}
#VtsaddNewCrd {
     margin-bottom: 10px;   
}
b, strong {
    font-weight: bold;
    line-height: 46px;
    /* width: 50%; */
}
.inpuGrp {
    border: 1px solid #c0cdc0;
    margin-top: 0px;
    font-size: 25px;
    padding: 2px;
    color: #FF9800;
    background-color: #ebf2e8;
}
#VtsasgnBtn {
    background-color: #0898ab;
    color: white;
    margin-bottom: 25px;
    width: 100px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 8px;
    border-right: 1px solid #c1bfbf;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 1px !important;
    margin-bottom: 8px;
}
.VtsfrmLbl {
    color: black;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    padding: 12px;
}
.VtsFrmCntrl {
    display: block;
    width: 100%;
    height: 40px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ffffff; 
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*Dump Covered Report*/
    canvas {
        width: 256px !important;
        height: 256px !important;
    }

    dumpTbl {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    dumpTblTh,
    dumpTblTb {
        border: none;
        text-align: left;
        padding: 8px;
    }

    dumpTblTr:nth-child(even) {
        background-color: #f2f2f2
    }

    .adrsTxt {
        font-weight: 600;
    }
    .wrdBtnPos{
  width: 35%;
  background-color: #0898ab;
  color: white;
  margin-top: 51px;
}
.pnlMnHdl{
    font-size: 17px;
    font-weight: 500;
    color: #4425c0;
}
.cmpPnlPos{
  height: 567px; 
} 
.dwncmpPnlPos{
  margin-left: 2%;
  height: 567px;
  }   
.tblHdlTxt{
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
  width: 0% !important; 
  font-size: 14px !important;
  font-weight: 600 !important;
}
.pnlHdlTxt{
   font-size: 15px;
   font-weight: bold;
}
.pnlhdr{
    color: #333;
    background-color: #ddd !important;
    border-color: #ddd;
}    
.cptyTlsPos{
      margin-top: -3%;
}
.tblht{
      height: 488px;
}
.tblLnHt{
  line-height: 2.428571 !important;
}
.main-menu > li > a {
    padding: 14px 20px 14px 52px;
    display: block;
    color: #4C4C4C;
    font-weight: 500;
    position: relative;
    font-size: 13px;
    text-decoration: none;
}
.main-menu > li > a:hover {
    display: block;
    text-decoration: none;
}
.sub-menu ul > li > a {
    color: #7f7f7f;
    padding: 8px 20px 8px 50px;
    font-weight: 500;
    display: block;
    text-decoration: none;
}
.sub-menu ul > li > a:hover{
    text-decoration: none;
    display: block;
}
#modal {
  left: 50%;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 7px rgba(0,0,0,.25);
  box-sizing: border-box;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out
}

#modal:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}
#modal .header, #modal .footer {
  border-bottom: 1px solid #1ABC9C;
  border-radius: 5px 5px 0 0
}

#modal .footer {
  border: none;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 5px 5px
}

#modal h2 {
  margin: 0;
  color: #fff
}

#modal .btn { float: right }

#modal .copy, #modal .header, #modal .footer {
  padding: 10px;
  color: #fff
}

.modal-content {
  background: #34BC9D;
  position: relative;
  z-index: 20;
  border-radius: 5px;
  color: #fff
}

#modal .copy { background: #46CFB0 }

#modal .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10
}

.copy a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #E74C3C;
}
.popupPnl{
  border: 1px solid rgba(145, 133, 133, 0.22) !important;
  width: 500px;
  margin-top: 2%;
}
.onHrStyl{
  cursor: pointer;
}
.mdlStyl{
    height: 550px;
    display: block;
    overflow-y: auto;
    position: fixed !important;
    margin-top: 3%;
}
.mdlClse{
    float: right;
    font-size: 25px;
    color: #64070f;
    cursor: pointer;
}
.tblChrtLnHt{
  line-height: 0.428571 !important;
}
.tblsStyl{
    border-radius: 0px !important; 
    background-color: #2196F3 !important;
    color: #FFFFFF !important;
    box-shadow: 0 12px 20px -10px rgba(107, 99, 108, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(113, 92, 116, 0.2) !important;
}


.nav-pills:not(.nav-pills-icons) > li > a:hover {
    border-radius: 0px;
}
.nav-pills:not(.nav-pills-icons) > li > a {
    border-radius: 0px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #959a9e !important;
    color: #FFFFFF;
    box-shadow: 0 12px 20px -10px rgba(134, 121, 137, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(104, 92, 106, 0.2) !important;
}
.nav-pills > li.active > a, .nav-pills > a:focus, .nav-pills > a:hover {
    background-color: #959a9e !important;
    color: #FFFFFF;
    box-shadow: 0 12px 20px -10px rgba(134, 121, 137, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(104, 92, 106, 0.2) !important;
}
.nav a small {
    display:block;
}
 .nav {
    background:#eee;
}
 .nav a {
    border-radius:0px;
}
.nav-pills > li > a {
    line-height: 13px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    margin-top: 0px !important;
    margin-right: 0px !important;
    color: #ffffff;
    transition: all .3s;
    background-color: #000000;
}
.nav-pills > li > a:hover {
    line-height: 13px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: #ffffff;
    transition: all .3s;
    background-color: #1db1d4 !important;
}

.bgm-grnshade{
  background-color: #adb50d !important;
}
.bgm-blueshade{
  background-color: #2b2e82 !important;
}
.bgm-lightshade{
  background-color: #15abbe !important;
}
.bgm-drkbshade{
  background-color: #0067c0 !important;
}
.bgm-pnkshade{
  background-color: #93265f !important;
}
.colpntsPnlPos{
    height: 634px;
    margin-left: 1%;
    margin-right: 1%;
}
.colpntstbltPos{
      margin-top: 69px;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif!important;
    font-weight: 300;
}
a h3:hover {
    text-decoration: none !important;
}
.crdConTxtPos {
    color: black !important;
    font-size: 21px;
    text-align: center;
    padding-top: 12px;
}
.vehDash-top {
    margin: 0px 100px;
    margin-top: 15px;
    background-color: #d94457;
}
     .vehDash-top>.title{
        color: #fff;
    }
.dumpRptPos {
    border: 1px solid #dfdddd;
    max-width: 100%;
    height: auto;
    margin-top: 0px;
}

.rptsDpStyl{
    height: 34px;
    border-radius: 0px;
    margin-top: 6%;
}

.vtsDashbrd {
  padding-top: 60px;
  background-color: #F7F7F7;
  margin-bottom: -1px;
}

.vtsDashbrd .imgalin
{
    text-align: left;
    margin-top: 10%;
    padding-right: 50px;
}
.dumpRptPos {
    border: 1px solid #dfdddd;
    max-width: 60%;
    height: auto;
    margin-top: 0px;
}
.dmpBtnPos{
    width: 100px;
    background-color: #19878c;
    color: white;
    margin-top: -2px;
}
.btn-group > .btn:first-child {
    margin-left: 0px;
    border-right: 1px solid white;
}
.dmpRptLbl {
    margin-top: 0%;
    margin-left: -40%;
    font-weight: bold;
}
.row-mcr
{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    margin-top: 20px;
  }
.hdrlftrgt
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.row-mcrdumptrsh{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}
.row-hiredumptrsh{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    margin-top: 20px;
    margin-bottom: 25px;
}
.tmlPos{
    padding-top: 10%;
    padding-left: 5%;
}

.tab-banner-color {
  background-color: #2196F3 !important;  
  padding-top: 44px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    font-size: 13px;
}
.dumprptTxt{
  color: white;
}
.dumprptchkbx{
  margin: 7px 7px -11px !important;
  margin-top: -10px !important;
}
.tdyPopupStyl{
  padding: 0px !important;
}
.popupColPntsChrtPnl{
    border: 1px solid rgba(145, 133, 133, 0.22) !important;
    height: 511px;
    width: 524px;
    margin-top: 1%;
}
.popupColPntsTblPnl{
    border: 1px solid rgba(145, 133, 133, 0.22) !important;
    height: 510px;
    width: 524px;
    margin-top: 1%;
     overflow: auto; 
}
svg:not(:root) {
    overflow: visible !important;
}
.reDrctStyl{
      cursor: pointer;
      color: #000000;
}
.reDrctStyl:hover{
    color: blue;
    font-weight: bold;
}
#sidebar {
    position: fixed;
    background: #fff;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
    top: 50px !important;
    height: calc(100% - 65px);
    -webkit-transform: translate3d(-268px, 0, 0);
    transform: translate3d(-268px, 0, 0);
    z-index: 5;
    width: 268px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
/*article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: table-footer-group;
}*/
.vtsDashbrdMain{
  display: table-footer-group;
}
.vtsHmDshbrd{
  position: relative;
  padding-bottom: 110px;
  padding-top: 0px !important;
}

.fulTxtBxPos{
   margin-top: 6%; 
}
.fulEntrStyl{
  height: 10% !important;
}
.VtshdrLblAct{
  width: 10px !important;
  text-align: center !important;
}
.heigthcard {
  margin: 18px 0;
.vehDtlrw{
  margin-top: -8%;
}
.vehDtlTpHdr{
  height: 57px;
  width: 26%;
}
.vehDtlTpIcn{
    font-size: 31px !important;
    line-height: 33px !important;
    width: 41px !important;
    height: 42px !important;
}

.mis-report-cell-align {
    text-align: center;
    font-size: 14px;
}
.mis-reports-grid-header {
    background-color: #9a3e50;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 !important;
}
.zone-grid {
    width: 100%;
    height: 220px;
}
.rptsVehDtlStyl {
    height: 34px;
    width: 92%;
    border-radius: 3px;
    margin-top: 6%;
}  
.vehdtlBtnPos{
    width: 100px;
    background-color: #0898ab;
    color: white;
    margin-top: 11%;
}

.rptVehDtlsSubDataPos{
  margin-top: 10px;
}
.vehdashPos{
  margin-top: -5%;
}

.dshbrd-distance-clr {
  background-color: background-color: rgb(243, 166, 96);
}

.header-title-align {
    padding-right: 0px;
    white-space: nowrap;
    color: #FFFFFF;
    font-size: 32px;
    text-transform: uppercase;
}
