<!DOCTYPE html>
    <html class="no-js" data-ng-app="wetrackonlogin">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AP SMART City By Dreamstep</title>
 
        <!-- Vendor CSS -->
        <link href="client/src/public/static/vendors/bower_components/angular-loading-bar/src/loading-bar.css" rel="stylesheet">
        <link href="client/src/public/static/lib/sweetalert/sweetalert.min.css" rel="stylesheet">
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="client/src/public/static/css/loginStyle.css" />
        <!--<link href="client/src/public/static/css/ui-grid.css" rel="stylesheet">-->

        
    </head>
    <body data-ng-controller="loginCtrl as lctrl">
        <!--Preloader-->
        <div class="preloader-it">
            <div class="la-anim-1"></div>
        </div>
        <!--/Preloader-->
        
        <!--Container-->
        <div class="pad-zero">
            
            <!--Splitlayout -->
            <div id="splitlayout" class="splitlayout reset-layout">
                
                <!--Intro-->
                <div class="intro">
                    
                    <!--Left Content Intro-->
                    <div class="side side-left">
                                            
                        
                        <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center content-wrap">
                        
                        <!--Logo-->
                        <div class="logo align-center text-left"><img src="client/src/public/static/img/dsLogo.png" alt="logo">
                        </div>
                        <!--/Logo-->
                        
                        <!--main content-->
                        <div class="main">
                            
                            <!--Content with Typing Intro-->
                            <section id="home" class="section active">
                                <div  class="preloader"></div>
                                <div class="align-center text-left">
                                    <span class="small-hr animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="100"></span>
                                    <p class="animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="200">We are busy working on something awesome.</p>
                                    <!-- <div class="type-wrap text-left">
                                        
                                    </div> -->
                                    <!-- Select Department -->
                                   <label style="color: black;padding: 2%;">Select Organization</label>
                                    <select class="form-control" ng-model="tnt_id" ng-change="getLgnId();">
                                        <option value="" disabled>Select Organization</option>
                                        <optgroup label="Muncipal Corporation">
                                        <option ng-repeat="tnts in allOrgnsDtlLst" value="{{tnts.tnt_id}}">{{tnts.tnt_dsply_nm}}</option>
                                        </optgroup>

                                    </select>
                                   
                                    <!-- Select Department -->
                                    
                                    <div class="notify-btn main-menu">
                                        <!-- <button  class="btn btn-default animated fadeInLeft"  ng-click="logOrgn();">Enter</button> -->
                                        <a    href="{{login}}" class="btn btn-default animated fadeInLeft" data-hover="Notify me" data-animation="fadeInLeft" data-animation-delay="100" data-out-animation="fadeInLeft" data-out-animation-delay="100" data-toggle="modal" data-target="#notify-my" ng-click="logOrgn();"><span class="button-label text-left">Enter</span><span class="arrow-wrap"><span class="arrow"></span></span></a>
                                    </div>
                                </div>      
                            </section>
                           <!--/Content with Typing Intro-->
                            
                            <!--Login Form-->
                            <section id="login" class="section text-left">
                                <div  class="preloader"></div>  
                                <div class="main-menu">
                                    <a class="close-notify black" href="#home" data-animation="fadeInDown" data-animation-delay="100" data-out-animation="fadeOutUp" data-out-animation-delay="100">
                                        <div class="call-to-action">
                                            <i class="glyphicon glyphicon-remove fa-2x"></i>   
                                            <span class="top"></span>
                                            <span class="right"></span>
                                            <span class="bottom"></span>
                                            <span class="left"></span>
                                        </div>
                                    </a>
                                </div>
                                
                                <!--CONTENT CHANGED & <br> ADDED-->                             
                                <div class="notify-wrap">
                                    <label style="color: black;padding: 2%;" for="username">Please enter username</label>
                                    <div class="input-wrap" data-animation="fadeInLeft" data-animation-delay="100" data-out-animation="fadeOutLeft" data-out-animation-delay="100">
                                            <input  ng-model="loginData.username" type="text" class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box" name="username" id="username" type="text">
                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                                    </div> 
                                    <label style="color: black;padding: 2%;" for="password">Please enter new password</label>
                                    <div class="input-wrap" data-animation="fadeInLeft" data-animation-delay="100" data-out-animation="fadeOutLeft" data-out-animation-delay="100">
                                            <input  ng-model="loginData.password" type="password" class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box" name="password" id="password" type="password">
                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                                    </div>  
                                    <div class="notify-btn main-menu">
                                        <a  href="#frgtPwd" data-hover="Notify me" data-animation="fadeInLeft" data-animation-delay="100" data-out-animation="fadeInLeft" data-out-animation-delay="100" data-toggle="modal" data-target="#notify-my"><b style="color:#1976d2;font-size:14px;margin-left:40%">Forgot Password?</b></a>
                                    </div>
                                    <a href="" ng-click="doLogin()">  <button type="submit" data-hover="Send" class="btn btn-default progress-button btn-submit " data-animation="fadeInUp" data-animation-delay="100" data-out-animation="fadeOutUp" data-out-animation-delay="100">
                                        <span><span class="arrow-wrap"><span class="arrow"></span></span></span>
                                        </button></a>
                                 </div>
                            </section>
                            <!--/Login Form-->
                             <!--Forgot Pwd Form-->
                            <section id="frgtPwd" class="section text-left">
                               <div  class="preloader"></div>  
                                <div class="main-menu">
                                    <a class="close-notify black" href="#login" data-animation="fadeInDown" data-animation-delay="100" data-out-animation="fadeOutUp" data-out-animation-delay="100">
                                        <div class="call-to-action">
                                            <i class="glyphicon glyphicon-remove fa-2x"></i>   
                                            <span class="top"></span>
                                            <span class="right"></span>
                                            <span class="bottom"></span>
                                            <span class="left"></span>
                                        </div>
                                    </a>
                                </div>
                                
                                <!--CONTENT CHANGED & <br> ADDED-->                             
                                <div class="notify-wrap">
                                     <form name="urverifyForm">
                                        <label style="color: black;padding: 2%;" for="username">Please enter Username</label>
                                        <div class="input-wrap" data-animation="fadeInLeft" data-animation-delay="100" data-out-animation="fadeOutLeft" data-out-animation-delay="100">
                                            <input style="background-color: #fff; " ng-model="frgtPwdData.username" type="text" class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box" name="username" id="username" type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"  required>
                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                                        </div>
                                        <label style="color: black;padding: 2%;" for="phonenu">Please enter your Phone Number</label>
                                        <div class="input-wrap" data-animation="fadeInLeft" data-animation-delay="100" data-out-animation="fadeOutLeft" data-out-animation-delay="100">
                                            <input style="background-color: #fff; " ng-model="frgtPwdData.phonenu" type="text" class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box" name="phonenu" id="phonenu" type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"  required>
                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                                        </div> 
                                    </form>
                                    <div>
                                        <div class="notify-btn main-menu">
                                            <a href="#cnfrmPwd" ng-click="forgetPwd()">  
                                                <button type="submit" data-hover="Send" class="btn btn-default progress-button btn-submit " data-animation="fadeInUp" data-animation-delay="100" data-out-animation="fadeOutUp" data-out-animation-delay="100" ng-disabled="urverifyForm.$invalid">
                                                    Next
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                 </div>
                            </section>
                            <!--/Forgot Pwd Form-->
                             <!--Forgot Pwd Verification Form-->
                            <section id="cnfrmPwd" class="section text-left">
                               <div  class="preloader"></div>  
                                <div class="main-menu">
                                    <a class="close-notify black" href="#frgtPwd" data-animation="fadeInDown" data-animation-delay="100" data-out-animation="fadeOutUp" data-out-animation-delay="100">
                                        <div class="call-to-action">
                                            <i class="glyphicon glyphicon-remove fa-2x"></i>   
                                            <span class="top"></span>
                                            <span class="right"></span>
                                            <span class="bottom"></span>
                                            <span class="left"></span>
                                        </div>
                                    </a>
                                </div>
                                
                                <!--CONTENT CHANGED & <br> ADDED-->                             
                                <div class="notify-wrap">
                                      <form name="verifyForm" ng-show="showcnfrmPwd">
                                        <label style="color: black;padding: 2%;" for="password">Enter New Password</label>
                                        <div class="input-wrap" data-animation="fadeInLeft" data-animation-delay="100" data-out-animation="fadeOutLeft" data-out-animation-delay="100">
                                            <input style="background-color: #fff; " ng-model="frgtPwdData.password" ng-pattern="pwdPattern" type="password" class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box" name="password" id="password" type="password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                                        </div> 
                                        <span id="pwderrmsg"  ng-show="verifyForm.password.$error.required && verifyForm.password.$dirty">
                                                Required!</span>
                                            <span id="pwderrmsg" ng-show="!verifyForm.password.$error.required && verifyForm.password.$error.pattern">
                                                Password must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
                                            <br />
                                        <a href="" ng-click="confrmPwd()">  <button type="submit" data-hover="Send" class="btn btn-default progress-button btn-submit " data-animation="fadeInUp" data-animation-delay="100" data-out-animation="fadeOutUp" data-out-animation-delay="100" ng-disabled="verifyForm.$invalid">
                                        <span><span class="arrow-wrap"><span class="arrow"></span></span></span>
                                        </button></a>
                                    </form>

                                 </div>
                            </section>
                                                    
                            <div class="copyright">
                                <ul class="social-icons">
                                    <!-- <li>
                                        <a href="#" class="social-icon">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-icon">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-icon">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li> -->
                                    <!-- <li>
                                        <a href="#" class="social-icon">
                                            <i class="fa fa-behance"></i>
                                        </a>
                                    </li> -->
                                </ul>
                                <p>Dreamstep Software Innovation Pvt Ltd  © 2017</p>
                            </div>
                        </div>
                        <!--/main content-->
                        
                        </div>
                    </div>
                    <!--/Left Content Intro-->
                    
                    <!--Right Content Intro-->
                    <div class="side side-right">
                        
                        <div ng-if="!goToLgnDtls">
                        <img src="client/src/public/static/img/logonimg.png"></div>
                        
                        <div ng-if="goToLgnDtls">
                            <img src="{{goToLgnDtls[0].tnt_banr_img_url_tx}}">
                        </div>
                    <!--     <div class="layer clouds">
                            <div class="cloud cloud-1">
                                <img src="client/src/public/static/img/cloud-1.png" width="1600" height="850" alt="">
                            </div>
                            
                            <div class="cloud cloud-2">
                                <img src="client/src/public/static/img/cloud-2.png" width="1600" height="850" alt="">
                            </div>
                            
                            <div class="cloud cloud-3">
                                <img src="client/src/public/static/img/cloud-1.png" width="1600" height="850" alt="">
                            </div>
                        </div> -->
                                            
                        <!-- <div class="counter-content">
                            <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center text-left">
                                <p class="tagline" style="color: #ffffff;font-size:35px;text-shadow: 4px 2px 6px #909090;">AP Smart City<br/> <a href="mailto:hello@hencework.com" target="_blank">Rajamahendravaram Muncipal Corporation</a></p>
      
                                <span class="small-hr"></span>
                                
                            </div>  
                        </div> -->
                    <div class="trans-overlay-dark"></div>  
                    </div>
                    <!--/Right Content Intro-->
                </div>
                <!--/Intro-->
               
            </div>

        </div>
        <!-- /Container -->
        <!-- Scripts -->
        <script src="client/src/public/static/js/jquery-1.11.3.min.js"></script>
        <script src="client/src/public/static/js/init.js"></script>

        <!-- Angular -->
        <script src="client/src/public/static/vendors/bower_components/angular/angular.min.js"></script>

        <!-- Angular Modules -->
        <script src="client/src/public/static/vendors/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="client/src/public/static/vendors/bower_components/angular-loading-bar/src/loading-bar.js"></script>
        <script src="client/lib/angular-local-storage.min.js"></script>
        
        <!-- Common Vendors -->
        <script src="client/src/public/static/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="client/src/public/static/lib/sweetalert/sweet-alert.min.js"></script>

        <!-- AWS Dependecies -->
        <!--<script src="client/src/public/static/lib/jsbn.js"></script>
        <script src="client/src/public/static/lib/jsbn2.js"></script>
        <script src="client/src/public/static/lib/sjcl.js"></script>
        <script src="client/src/public/static/lib/aws-sdk-2.7.13.min.js"></script>
        <script src="client/src/public/static/lib/aws-cognito-sdk.min.js"></script>
        <script src="client/src/public/static/lib/amazon-cognito-identity.min.js"></script>-->
        <!--<script src="client/src/public/static/lib/ui-grid.js"></script> -->
        
        <!-- App level -->
        <script src="client/src/public/static/js/loginjs/login.js"></script>
    </body>
   
</html>
