
<div data-ng-controller="loginCtrl as lctrl">
        <!--Preloader-->
        <div class="preloader-it">
            <div class="la-anim-1"></div>
        </div>
        <!--/Preloader-->
        
        <!--Container-->
        <div class="pad-zero">
            
            <!--Splitlayout -->
            <div id="splitlayout" class="splitlayout reset-layout">
                
                <!--Intro-->
                <div class="intro">
                    
                    <!--Left Content Intro-->
                    <div class="side side-left">
                                            
                        
                        <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center content-wrap">
                        
                        <!--Logo-->
                        <div class="logo align-center text-left"><img src="client/src/public/static/img/dreamstep_logo.png" alt="logo">
                        </div>
                        <!--/Logo-->
                        
                        <!--main content-->
                        <div class="main">
                           <!--Reset Pwd Form-->
                            <section id="rstPwd" class="section text-left">
                               <div  class="preloader"></div>  
                                <div class="main-menu">
                                    <a class="close-notify black" href="#home" data-animation="fadeInDown" data-animation-delay="900" data-out-animation="fadeOutUp" data-out-animation-delay="100">
                                        <div class="call-to-action">
                                            <i class="fa fa-times fa-2x"></i>   
                                            <span class="top"></span>
                                            <span class="right"></span>
                                            <span class="bottom"></span>
                                            <span class="left"></span>
                                        </div>
                                    </a>
                                </div>
                                
                                <!--CONTENT CHANGED & <br> ADDED-->                             
                                <div class="notify-wrap">
                                   <label style="color: black;padding: 2%;" for="Enter verification code">Enter verification code</label>
                                     <div class="input-wrap" data-animation="fadeInLeft" data-animation-delay="100" data-out-animation="fadeOutLeft" data-out-animation-delay="900">
                                            <input  ng-model="frgtPwdData.verify_cd" type="text" class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box" name="Enter verification code" id="Enter verification code"  placeholder="Enter verification code"  type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                                        </div> 
                                        <label style="color: black;padding: 2%;" for="password">New Password</label>
                                     <div class="input-wrap" data-animation="fadeInLeft" data-animation-delay="100" data-out-animation="fadeOutLeft" data-out-animation-delay="900">
                                            <input  ng-model="frgtPwdData.password" type="password" class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box" name="password" id="password" placeholder="Password"  type="password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                                            <label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
                                        </div>  
                                        
                                     <a href="" ng-click="confrmPwd()">  <button type="submit" data-hover="Send" class="btn btn-default progress-button btn-submit " data-animation="fadeInUp" data-animation-delay="900" data-out-animation="fadeOutUp" data-out-animation-delay="1300" ng-disabled="verifyForm.$invalid">
                                        <span><span class="arrow-wrap"><span class="arrow"></span></span></span>
                                        </button></a>
                                 </div>
                            </section>
                            <!--/Reset Pwd Form-->
                             
                                                    
                            <div class="copyright">
                                <ul class="social-icons">
                                    <li>
                                        <a href="#" class="social-icon">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-icon">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="social-icon">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="#" class="social-icon">
                                            <i class="fa fa-behance"></i>
                                        </a>
                                    </li> -->
                                </ul>
                                <p>Dreamstep Software Innovation Pvt Ltd  © 2017</p>
                            </div>
                        </div>
                        <!--/main content-->
                        
                        </div>
                    </div>
                    <!--/Left Content Intro-->
                    
                    <!--Right Content Intro-->
                    <div class="side side-right">
                        <div class="layer clouds">
                            <div class="cloud cloud-1">
                                <img src="client/src/public/static/img/cloud-1.png" width="1600" height="850" alt="">
                            </div>
                            
                            <div class="cloud cloud-2">
                                <img src="client/src/public/static/img/cloud-2.png" width="1600" height="850" alt="">
                            </div>
                            
                            <div class="cloud cloud-3">
                                <img src="client/src/public/static/img/cloud-1.png" width="1600" height="850" alt="">
                            </div>
                        </div>
                                            
                        <div class="counter-content">
                            <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center text-left">
                                <p class="tagline" style="color: #079ee6;font-size:35px;">AP Smart City<br/> <a href="mailto:hello@hencework.com" target="_blank">Rajahmundry Muncipal Corporation</a></p>
                                
                                <!--Counter-->
                               <!--  <div id="countdown">
                                  <span class="days">00</span>
                                </div> -->
                                <span class="small-hr"></span>
                                <!-- <span class="remain-days">More Days</span> -->
                                <!--/Counter-->
                                
                            </div>  
                        </div>
                    <div class="trans-overlay-dark"></div>  
                    </div>
                    <!--/Right Content Intro-->
                </div>
                <!--/Intro-->
                
            </div>
            <!-- /Splitlayout -->
        
        </div>
        <!-- /Container -->
    </div>
  