<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerGC.html'">

</header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftGF.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content" ng-controller="geoFenceCateAddCtrl">

        <div class="container">
            <div class="card" id="customcntnr">
                <div class="card-header">
                    <h2>Add New Category</h2>
                </div>
                <div class="card-content col-md-12 col-sm-12 col-lg-12 formSpCol" id="resetpwdcrd">
                    <div class="formSp">
                        <form name="createGrp">
                            <div class="row" id="resetpwdrow">
                                <div class="col-md-4 col-sm-4 col-lg-3">
                                    <k class="resetpwdtxt">Category Name</k>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-8 col-sm-8 col-lg-9">
                                    <input id="setpwd" type="text" ng-model="fnce_ctgry_nm" required/>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary" ng-click="addNewCategoryName()">submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>