<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerGC.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main" style="padding-top: 100px;">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftGF.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content" data-ng-controller="existGeoGrpCtrl as hctrl">

        <div class="row">
            <div class="col-md-8 col-sm-12">

                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
                    <ui-gmap-drawing-manager options="drawingManager" control="drawingManagerControl" static="false" events="config.drawing.events">
                    </ui-gmap-drawing-manager>
                </ui-gmap-google-map>

            </div>
            <div class="col-md-4 col-sm-12 formSpCol">
                <div class="formSp">
                    <form>
                       <!--  <input type="hidden" name="request[ticket_form_id]" id="request_ticket_form_id" value="54025">
                        <div class="col-sm-12">
                            <div class="form-field string">
                                <label for="">Fence List</label>
                                <select chosen class="drpdwn w-100" data-placeholder="" ng-model="fnce_id">
                   
                         <option ng-repeat="s in polygonList" ng-value="s.fnce_nm">{{s.fnce_nm}}</option>
              
                    </select>
                            </div>
                        </div>
                         -->



                          <input type="hidden" name="request[ticket_form_id]" id="request_ticket_form_id" value="54025">
                        <div class="col-sm-12">
                            <div class="form-field string">
                                <label for="">Fence List</label>
                                <select chosen class="drpdwn w-100" data-placeholder="" ng-model="fnce_id" ng-change="getGroups(fnce_id)">
                        <!-- <optgroup label="Categories"> -->
                         <option ng-repeat="s in polygonList" ng-value="s.fnce_id">{{s.fnce_nm}}</option>
                       <!--  </optgroup> -->
                    </select>
                            </div>


                        </div>

                    
                        <div id="polyCor" class="card" ng-model="coordStr">

                            {{poly_txt}}

                        </div>

                        <button class="btn btn-primary btn-sm m-t-10" id="button" ng-click=geoFenceSubmit(fnce_id) type="button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>

<style>
    .angular-google-map-container {
        width: 100%;
        height: 700px;
    }
    /* fix for Twitter Bootstrap handling of responsive images */

    .angular-google-map img {
        max-width: none;
    }

    .angular-google-map {
        /*top: 80px;*/
        top: 6px;
    }

    .formSpCol {
        padding-top: 14px;
    }

    .formSp {
        padding: 25px;
        border: 1px solid #edecec;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    }

    .drpdwn {
        height: 38px;
        border: 1px solid #dddddd;
        border-radius: 3px;
        padding-left: 10px;
        margin-left: -16px;
        width: 106% !important;
        margin-bottom: 21px
    }

    .lblHd {
        color: #175282 !important;
        float: left;
        margin-left: -16px !important;
        font-size: 18px;
        margin-bottom: 8px;
        margin-top: 13px;
    }

    .lblHdFncNm {
        color: #175282 !important;
        float: left;
        margin-left: -16px !important;
        font-size: 18px;
    }

    .color-button {
        width: 18px;
        height: 18px;
        margin-top: 16px;
        margin-left: 6px;
        margin-right: 6px;
        font-size: 0;
        /* margin: 2px; */
        float: left;
        cursor: pointer;
    }

    canvas {
        width: 256px !important;
        height: 256px !important;
    }

    .btn-group .btn+.btn,
    .btn-group .btn+.btn-group,
    .btn-group .btn-group+.btn,
    .btn-group .btn-group+.btn-group {
        margin-left: 5px !important;
    }

    .txtbx {
        height: 32px;
        width: 77%;
        /* padding-left: 52px; */
        border: 1px solid #dddddd;
        border-radius: 2px;
    }
    /*   .eqAlngmbx {
        margin-left: -19px;
    }*/
</style>