<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerGC.html'" data-ng-controller="headerCtrl as hctrl">
</header>

<section id="main" style="background-color:white">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftGF.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'client/src/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content" data-ng-controller="geoHomeCtrl as geoCtrl">
        <div class="dashboard">
            <div class="container">
                <div class="row" ng-repeat="v in dashBoards">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="orange">
                                <i class="material-icons">directions_bus</i>
                            </div>
                            
                            <div class="card-content">
                                <p class="category">Assert Categories</p>
                                <h3 class="title">{{v.assert_categories}}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>

                   <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="blue">
                                <i class="material-icons">trending_up</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Wards</p>
                                <h3 class="title">{{v.wards}}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="green">
                                <i class="material-icons">trending_up</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Fence Categories</p>
                                <h3 class="title">{{v.fence_categories}}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="red">
                                <i class="material-icons">language</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Fence Groups</p>
                                <h3 class="title">{{v.fence_groups}}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="red">
                                <i class="material-icons">pin_drop</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Zones</p>
                                <h3 class="title">{{v.zones}}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="green">
                                <i class="material-icons">pin_drop</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Dumper Bins</p>
                                <h3 class="title">{{v. bins}}</h3>
                          <!--       {{v.cur_mnth_l_ct}} -->
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="blue">
                                <i class="material-icons">pin_drop</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Dumping Areas</p>
                                <h3 class="title">{{v.dumpArea}}</h3>
                          <!--       {{v.cur_mnth_l_ct}} -->
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="orange">
                                <i class="material-icons">pin_drop</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Collection Points</p>
                                <h3 class="title">{{v.points}}</h3>
                          <!--       {{v.cur_mnth_l_ct}} -->
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="dash-widgets">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-10 col-sm-10">
                            <div class="card chrtBrdLine">
                                <div class="card-header card-header-icon" data-background-color="red" id="chartHeaderPos">
                                    <i class="material-icons">insert_chart</i>
                                </div>
                                <div class="card-content">
                                    <div id="site-visits" class="dash-widget-item" style="background-color:#0086d4">
                                        <div class="dash-widget-header">
                                            <div class="dash-widget-title">LandMarks Status</div>
                                            <ul class="actions actions-alt">
                                                <li class="dropdown" uib-dropdown>
                                                    <a href="" uib-dropdown-toggle>
                                                <i class="zmdi zmdi-more-vert"></i>
                                            </a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="">Refresh</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Full Screen</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="p-20" style="background-color: rgb(255, 255, 255);">
                                            <nvd3 options="options1" data="dataset1"></nvd3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1"></div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-10 col-sm-10">
                            <div class="card chrtBrdLine">
                                <div class="card-header card-header-icon" data-background-color="red" id="chartHeaderPos">
                                    <i class="material-icons">insert_chart</i>
                                </div>
                                <div class="card-content">
                                    <div id="site-visits" class="dash-widget-item" style="background-color:#0086d4">
                                        <div class="dash-widget-header">
                                            <div class="dash-widget-title">Fence Status</div>
                                            <ul class="actions actions-alt">
                                                <li class="dropdown" uib-dropdown>
                                                    <a href="" uib-dropdown-toggle>
                                                <i class="zmdi zmdi-more-vert"></i>
                                            </a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="#geoCoding">Refresh</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Full Screen</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="p-20" style="background-color: rgb(255, 255, 255);">
                                            <nvd3 options="options2" data="dataset2"></nvd3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1"></div>
                    </div>

                </div>
            </div> -->
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>