<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerGC.html'"></header>

<section id="main" data-ng-controller="geoFenceCategoryCtrl">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftGF.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content">
        <div class="container">
            <div class="block-header">
            </div>
            <div class="card tblPos">
                <div class="card-header">
                    <h3 class="title">Geo Fence Categories</h3>
                    <ul class="actions">
                        <li class="dropdown" uib-dropdown>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info" id="dwBtnPos" ng-csv="exceldownlad" filename="GEOFENCE_CATEGORY.csv">Excel</button>
                                <button type="button" class="btn btn-primary" id="dwBtnPospdf" ng-click="pdfDownload()">PDF</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-content table-responsive">
                    <div style="float: left;"  ng-if="canCreate('GeoFence Category') != false">
                        <!-- <button type="button" class="btn btn-success crtBtn" ng-click="addNewVehData(v)">Add New</button> -->
                        <a type="button" class="btn btn-success crtBtn" data-ui-sref="updtGeoFenceCate"> Add New </a>
                        <!-- put anchar tag for new html page -->
                    </div>
                    <form>
                        <input type="search" placeholder="Search" ng-model="searchCateData" id="mdSrchPos">
                    </form>
                    <table ng-table="tableFilter" class="table table-hover">
                        <tr>
                            <th class="mdTblHdrPos">S.no</th>
                            <th class="mdTblHdrPos">Category Name</th>
                            <th class="mdTblHdrPos" ng-if="canRead('GeoFence Category') != false">Actions</th>
                        </tr>
                        <tr ng-repeat="v in $data | filter:searchCateData">
                            <td>{{$index+1}}</td>
                            <td>{{v.fnce_ctgry_nm}}</td>

                            <td>
                                <button type="button" class="custom_button primary hasTooltip" ng-click="updtGeoFenceCate(v)" ng-if="canUpdate('GeoFence Category') != false">
                                    <i class="material-icons">edit</i>
                                    <span>Edit</span>
                                </button>
                                <button type="button" class="custom_button danger hasTooltip" ng-click="deleteGeoFenceCategory(v)" ng-if="canDelete('GeoFence Category') != false">
                                    <i class="material-icons">delete_forever</i>
                                    <span>Delete</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>