<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerGC.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main" style="padding-top:100px;">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftGF.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content" data-ng-controller="landMarksCtrl as hctrl">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 formSpCol">
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                        <div class=" col-md-11 col-xs-11 col-lg-11 col-sm-11 formSp">
                            <div class="form-group" data-ng-repeat="choice in choices">
                                <!-- Total Distance : {{totalDistance}} -->
                                <fieldset>
                                    <button class="plusMinusBtnAlign" ng-show="showAddChoice(choice)" ng-click="addNewChoice()">+</button>
                                    <button class="plusMinusBtnAlign" ng-click="removeNewChoice()">-</button>
                                    <div angucomplete-alt id="from" 
                                        placeholder="Add Landmarks" 
                                        pause="100" 
                                        selected-object="select" 
                                        local-data="fencesList"
                                        search-fields="fnce_nm" 
                                        title-field="fnce_nm" 
                                        minlength="3" 
                                        input-class="form-control form-control-small"
                                        match-class="highlight" 
                                        field-required="requireExample8a" 
                                        input-name="country8a" 
                                        initial-value="item.fnce_nm"
                                        ng-click="selectedObj(select,$index)" 
                                        ng-keyup="addLandMarks(KeyboardEvent)">
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                    <div id="routeBuilderMap" class="routeBuilder" style="height: 600px; width: 600px;"></div>
                    <div class="row btn-group">
                        <button type="button" class="btn btn-primary btn-sm m-t-10" ng-click="Submit()" ng-disabled="isDisabled">Submit
                        </button>
                        <button type="button" class="btn btn-primary btn-sm m-t-10" ng-click="Modify()" ng-disabled="isDisabled">Modify
                        </button>
                        <button type="button" class="btn btn-primary btn-sm m-t-10" ng-click="Clear()" ng-disabled="isDisabled">Clear
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>


<style>
    .plusMinusBtnAlign {
        margin-top: -2%;
    }

    .routeBuilderMap {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .formSpCol {
        padding-top: 2px;
    }

    .formSp {
        padding: 50px;
        border: 1px solid #edecec;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    }

    .leaflet-control-container .leaflet-routing-container-hide {
    display: none;
    }

    .leaflet-right .leaflet-control {
        margin-right: 10px;
        display: none;
    }

    .drpdwn {
        height: 38px;
        border: 1px solid #dddddd;
        border-radius: 3px;
        padding-left: 10px;
        margin-left: -16px;
        width: 106% !important;
        margin-bottom: 21px
    }

    .lblHd {
        color: #175282 !important;
        float: left;
        margin-left: -16px !important;
    }

    fieldset {
        background: #FCFCFC;
        padding: 16px;
        border: 1px solid #D5D5D5;
    }

    .addfields {
        margin: 10px 0;
    }

    #choicesDisplay {
        padding: 10px;
        background: rgb(227, 250, 227);
        border: 1px solid rgb(171, 239, 171);
        color: rgb(9, 56, 9);
    }

    .remove {
        background: #C76868;
        color: #FFF;
        font-weight: bold;
        font-size: 21px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        padding: 4px 9px;
        vertical-align: top;
        line-height: 100%;
    }

    input[type="text"],
    select {
        padding: 5px;
    }
</style>