<header data-current-skin={{mactrl.currentSkin}}  ></header>

<section id="main">
  <!--   <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftSP.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'client/src/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside> -->

  <section id="content">
   <div class="container opntksPos">
     <div class="row">
        <div class="col-md-10 col-md-offset-1 pnlBox">
            <div class="panel panel-default panel-table">
              <!--   <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">{{msg1}}</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <div class="pull-right">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-success btn-filter active" data-target="completed" style="border: 1px solid #4caf50;">
                                        <button ng-click="close(1)">
                                        My Closed Tickets</button>
                                    </label>
                                    <label class="btn btn-warning btn-filter" data-target="pending" style="border: 1px solid #ff9800;">
                                        <button ng-click="close1(2)">
                                        MY Group Close Tickets </button>
                                    </label>
                                    <label class="btn btn-default btn-filter" ng-click="click()" data-target="all" style="border: 1px solid rgba(74, 107, 110, 0.31);">
                                        <input type="radio" name="options" id="option3" autocomplete="off"> All
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">{{msg1}}</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <div class="pull-right">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-success btn-filter active" ng-click="close(1)" data-target="completed" style="border: 1px solid #4caf50;">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                        My Closed Tickets
                                    </label>
                                    <label class="btn btn-warning btn-filter" ng-click="close1(2)" data-target="pending" style="border: 1px solid #ff9800;">
                                        <input type="radio" name="options" id="option2" autocomplete="off"> My Group Closed Tickets
                                    </label>
                                    <!-- <label class="btn btn-default btn-filter" data-target="all" style="border: 1px solid rgba(74, 107, 110, 0.31);">
                                        <input type="radio" name="options" id="option3" autocomplete="off"> All
                                    </label> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table id="mytable" class="table table-striped ">
                        <thead>
                        <tr>
                                <th class="tdSty">Ticket Id</th>
                                <th class="tdSty">Type</th>
                                <th class="tdSty">Group</th>
                                <th class="tdSty"> Category</th>
                                <th class="tdSty">Priority</th>
                                <th class="tdSty"> Subject</th>
                                <th class="tdSty"> Created By</th>
                                <th class="tdSty"> Created Time</th>
                                <th class="tdSty"> Status</th>

                        </tr>
                        </thead>
                        <tbody class="pnlBrdr">
                        <tr data-status="completed"  ng-repeat="rslt in closedtcktDtls" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index,rslt)">
                        <td align="center">{{rslt.tkt_id}}</td>
                        <td>{{rslt.tkt_ctlg_type_nm}}</td>
                        <td>{{rslt.tkt_ctlg_grp_nm}}</td>
                        <td>{{rslt.tkt_ctlg_ctgry_nm}}</td>
                        <td>{{rslt.prty_nm}}</td>
                        <td>{{rslt.tkt_sbjct_tx}}</td>
                          <td>{{rslt.tckt_sts_nm}}</td>
                          <td></td>
                          <td></td>

                        </tr>
                     </tbody>
                    </table>

                </div>
                <div class="panel-footer panel-table">
                    <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-offset-3 col-xs-6">
                            <nav aria-label="Page navigation" class="text-center">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
  
</div>
   </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>
<style>
.btn-group .btn {
    transition: background-color .3s ease;
}

.panel-table .panel-body {
    padding: 0;
}

.table > thead > tr > th {
    border-bottom: none;
}

.panel-footer, .panel-table .panel-body .table-bordered {
    border-style: none;
    margin: 0;
    background-color: #e3e1e1;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align: center;
    width: 50px;
}

.panel-table .panel-body .table-bordered > thead > tr > th.col-tools {
    text-align: center;
    width: 120px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
    border-right: 0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
    border-left: 0;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td {
    border-bottom: 0;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th {
    border-top: 0;
}

.pagination > li > a, .pagination > li > span {
    border-radius: 50% !important;
    margin: 0 5px;
}

.pagination {
    margin: 0;
}
.pnlBox{
    width: 100%;
    margin-left: 0px;
    margin-top: 10%;
    border: 1px solid #e6e1e1;
    background-color: #f5f5f5;
    border-radius: 3px;
        padding: 0px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 21px;
    color: inherit;
    float: right;
    font-weight: 400;
}
.panel-default > .panel-heading {
    color: #333333;
    background-color: rgba(99, 90, 90, 0.18);
    border-color: #ccc;
    border: 1px solid #ddd;
    padding: 6px;
}
.tdSty {
        background-color: #ffffff !important;
       color: black !important;
}
.pnlBrdr {
        border-bottom: 1px solid rgba(153, 153, 153, 0.32);
}
.table-striped td, .table-striped th {
     border: 1px solid #ccc !important;
}
.panel {
    margin-bottom: 0px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.container {
    width: 1620px;
    margin-right: 191px;
}
.opntksPos{
        /*margin-top: -166px !important;*/
        margin-top: -105px !important;
        margin-right: 211px;
}
</style>
