<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerS.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftSP.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'client/src/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
             <div class="container" ng-controller="supportCtrl">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">supervisor_account</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Users</p>
                            <h3 class="title">29</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">perm_device_information</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Devices</p>
                            <h3 class="title">35</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">timelapse</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Active Users</p>
                            <h3 class="title">78</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="blue">
                            <i class="material-icons">screen_share</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Support Tickets</p>
                            <h3 class="title">+84</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="block-header">
                <h2>Support Tickets</h2>
            </div>
            <div class="card">
               <!--  <div class="card-header">
                    <h2>Bordered table <small>Tables with borders on all possible sides of the Table and Cells</small></h2>
                </div>
 -->
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>SI.No</th>
                                <th>Recently Viewed Tickets</th>
                                <th>Recently Submitted Tickets</th>
                                <th>Create Ticket</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>111258963789</td>
                                <td>Need more Vehicles</td>
                                <td><button data-ui-sref="supportCreateTicket" class="btn">Add</button></td>
                           </tr>
                            <tr>
                                 <td>2</td>
                                <td>111258489563</td>
                                <td>We need more Trash bins in rajahmundry</td>
                                <td><button data-ui-sref="supportCreateTicket" class="btn">Add</button></td>
                            </tr>
                            <tr>
                                 <td>3</td>
                                <td>111258741258</td>
                                <td>Need more Vehicles</td>
                                <td><button data-ui-sref="supportCreateTicket" class="btn">Add</button></td>
                            </tr>
                             <tr>
                                 <td>4</td>
                                <td>111258125878</td>
                                <td>Need more Vehicles</td>
                                <td><button data-ui-sref="supportCreateTicket" class="btn">Add</button></td>
                            </tr>
                            <tr>
                                 <td>5</td>
                                <td>111258639871</td>
                                <td>Need more Vehicles</td>
                                <td><button data-ui-sref="supportCreateTicket" class="btn">Add</button></td>
                            </tr>
                            <tr>
                                 <td>6</td>
                                <td>111258789652</td>
                                <td>Need more Vehicles</td>
                                <td><button data-ui-sref="supportCreateTicket" class="btn">Add</button></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>
<style>
.btn{
        margin-bottom: 5px;
    height: 30px !important;
    background-color: rgb(71, 185, 232);
    color: #ffffff;
    border: 1px solid #47b9e8;
    border-radius: 2px;
}
</style>
