<header data-current-skin={{mactrl.currentSkin}}  data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
  <!--   <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftSP.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'client/src/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside> -->

    <section id="content">

        <div class="container">
            <div class="card crdbg">
                    <div class="card-header">
                        <h2>My Open Requests </small></h2>
                    </div>

                    <div class="card-body card-padding">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <input type="search" placeholder="Search">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="styled-select yellow rounded">
                                      <select>
                                        <option>Any</option>
                                        <option>Open</option>
                                        <option>Awaiting your reply</option>
                                        <option>Solved</option>
                                      </select>
                                    </div>
                                    </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                            </div>
                         </div>
                    </div>
                   <div class="table-responsive tblpdng">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="tblHdr">S.No</th>
                        <th class="tblHdr">Requester</th>
                        <th class="tblHdr">Request</th>
                        <th class="tblHdr">Id</th>
                        <th class="tblHdr">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Alexandra</td>
                        <td>Christopher</td>
                        <td>@makinton</td>
                        <td class="txtclrSolved">Solved</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Madeleine</td>
                        <td>Hollaway</td>
                        <td>@hollway</td>
                        <td class="txtclrWait">Awaiting your reply</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sebastian</td>
                        <td>Johnston</td>
                        <td>@sebastian</td>
                        <td class="txtclrSolved">Solved</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Mitchell</td>
                        <td>Christin</td>
                        <td>@mitchell4u</td>
                        <td class="txtclrSolved">Solved</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Elizabeth</td>
                        <td>Belkitt</td>
                        <td>@belkitt</td>
                        <td class="txtclrSolved">Solved</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Benjamin</td>
                        <td>Parnell</td>
                        <td>@wayne234</td>
                        <td class="txtclrOpen">Open</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Katherine</td>
                        <td>Buckland</td>
                        <td>@anitabelle</td>
                        <td class="txtclrSolved">Solved</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Nicholas</td>
                        <td>Walmart</td>
                        <td>@mwalmart</td>
                        <td class="txtclrOpen">Open</td>
                    </tr>
                     <tr>
                        <td>9</td>
                        <td>Alexandra</td>
                        <td>Christopher</td>
                        <td>@makinton</td>
                        <td class="txtclrSolved">Solved</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Madeleine</td>
                        <td>Hollaway</td>
                        <td>@hollway</td>
                        <td class="txtclrWait">Awaiting your reply</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Sebastian</td>
                        <td>Johnston</td>
                        <td>@sebastian</td>
                        <td class="txtclrSolved">Solved</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Mitchell</td>
                        <td>Christin</td>
                        <td>@mitchell4u</td>
                        <td class="txtclrSolved">Solved</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Elizabeth</td>
                        <td>Belkitt</td>
                        <td>@belkitt</td>
                        <td class="txtclrSolved">Solved</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Benjamin</td>
                        <td>Parnell</td>
                        <td>@wayne234</td>
                        <td class="txtclrOpen">Open</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Katherine</td>
                        <td>Buckland</td>
                        <td>@anitabelle</td>
                        <td class="txtclrSolved">Solved</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Nicholas</td>
                        <td>Walmart</td>
                        <td>@mwalmart</td>
                        <td class="txtclrOpen">Open</td>
                    </tr>
                </tbody>
            </table>
        </div>
            </div>
        </div>
   </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>
