<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerS.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftSP.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'client/src/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
</section>
   <section>
   <!--  <tabset>
      <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-2"><button heading="My Open Tickets"  ng-click="open(1)" class="sptTblsPos">My Open Tickets</button> </div>
         <div class="col-sm-2"> <button heading="My Group Open Tickets"  ng-click="open(2)" class="sptTblsPos">My Group Open Tickets</button></div>
            <div class="col-sm-2"></div>
      </div>
     </tabset></br> -->
   </br>
   </br>
 </br>
 
      <div class="">
               <div ui-view="viewA"></div>
      </div>

  <!-- <tabset>
      <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-2"><button heading="My Closed Tickets"  ng-click="close(1)" class="sptTblsPos">My Closed Tickets</button></div>
        <div class="col-sm-2"> <button heading="My Group Closed Tickets"  ng-click="close(2)" class="sptTblsPos">My Group Closed Tickets</button></div> 
        <div class="col-sm-2"></div>
      </div>
     </tabset> -->
       <div class="">
         <div  ui-view="viewB"></div>
        </div>
    <!--   </div> -->
   
    </section>  
  

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>



