<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerS.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftSP.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'client/src/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

      <div class="containerSp">
        <div class="card">
          <h1 class="formSty">Update Ticket Info</h1>
            <div class="row">   
              <div class="col-sm-12">

                <div class="col-sm-5">
                  <div class="col-sm-2">
                    <div class="form-field string  required  request_subject">
                    <label for="request_subject">Ticket Id :</label>
                     </div>
                  </div>
                  <div class="col-sm-3">
                   <div class="form-field string  required  request_subject">
                    <input type="text" name="request[subject]" id="request_subject" ng-model="EntryData.tkt_id" maxlength="150" size="150">
                    </div>
                  </div>
                </div>

                <div class="col-sm-2"></div>

                 <div class="col-sm-5">
                  <div class="col-sm-2">
                     <div class="form-field string  required  request_subject">
                    <label for="request_subject">Ticket Type :</label>
                  </div>
                  </div>
                 <div class="col-sm-3">
                   <div class="form-field string  required  request_subject">
                    <input type="text" name="request[subject]" id="request_subject" ng-model="EntryData.tkt_ctlg_type_nm" maxlength="150" size="150">
                  </div>
                  </div>
                </div>

              </div>
                     

                
            </div>
             <div class="row">   
              <div class="col-sm-12">

                <div class="col-sm-5">
                  <div class="col-sm-2">
                    <div class="form-field string  required  request_subject">
                    <label for="request_subject">Ticket Group :</label>
                     </div>
                  </div>
                  <div class="col-sm-3">
                   <div class="form-field string  required  request_subject">
                    <input type="text" name="request[subject]" id="request_subject" ng-model="EntryData.tkt_ctlg_grp_nm" maxlength="150" size="150">
                    </div>
                  </div>
                </div>

                <div class="col-sm-2"></div>

                 <div class="col-sm-5">
                  <div class="col-sm-2">
                     <div class="form-field string  required  request_subject">
                    <label for="request_subject">Ticket Category :</label>
                  </div>
                  </div>
                 <div class="col-sm-3">
                   <div class="form-field string  required  request_subject">
                     <input type="text" name="request[subject]" id="request_subject" ng-model="EntryData.tkt_ctlg_ctgry_nm" maxlength="150" size="150">
                  </div>
                  </div>
                </div>

              </div>
                     

                
            </div>
            <div class="row">   
              <div class="col-sm-12">

                <div class="col-sm-5">
                  <div class="col-sm-2">
                    <div class="form-field string  required  request_priority">
                    <label for="request_priority">Ticket Priority :</label>
                     </div>
                  </div>
                  <div class="col-sm-3">
                   <div class="form-field string  required  request_priority">
                      <select class="slctSty">
                          <option value="United States">Low</option>
                          <option value="United Kingdom">Normal</option>
                          <option value="Afghanistan">High</option>
                          <option value="Afghanistan">Urgent</option>
                        </select>
                    </div>
                  </div>
                </div>

                <div class="col-sm-2"></div>

                 <div class="col-sm-5">
                  <div class="col-sm-2">
                     <div class="form-field string  required  request_priority">
                    <label for="request_priority">Ticket Status :</label>
                  </div>
                  </div>
                 <div class="col-sm-3">
                   <div class="form-field string  required  request_priority">
                     <select class="slctSty" ng-options="x.tckt_sts_id as x.tckt_sts_nm for x in tcktstatusDtls"   ng-model="EntryData.tckt_sts_id" ></select>
                  </div>
                  </div>
                </div>

              </div>
                     

                
            </div>
            <div class="row">   
              <div class="col-sm-12">

                <div class="col-sm-5">
                  <div class="col-sm-2">
                    <div class="form-field string  required  request_priority">
                    <label for="request_priority">Assigned Group :</label>
                     </div>
                  </div>
                  <div class="col-sm-3">
                   <div class="form-field string  required  request_priority">
                      <select class="slctSty" ng-options="x.usr_sprt_grp_id as x.usr_sprt_grp_nm for x in usrGrpList"   ng-model="EntryData.usr_sprt_grp_id" ></select>
                    </div>
                  </div>
                </div>

                <div class="col-sm-2"></div>

                 <div class="col-sm-5">
                  <div class="col-sm-2">
                     <div class="form-field string  required  request_priority">
                    <label for="request_priority">Assign to User :</label>
                  </div>
                  </div>
                 <div class="col-sm-3">
                   <div class="form-field string  required  request_priority">
                      <select class="slctSty" ng-options="x.usr_id as x.usr_nm for x in usrList"   ng-model="EntryData.usr_id" ng-change="statuschange(EntryData.usr_id)">  </select>
                    </div>
                  </div>
                </div>

              </div>
                     

                
            </div>
             <div class="row">   
              <div class="col-sm-12">

                <div class="form-field string  required  request_description">
                  <label for="request_description" style="    background-color: rgb(94, 167, 226);color:#ffffff;">Working Notes : <button class="sndBtn" ng-click="submitCmnts()">Send</button></label>
                  <textarea name="request[description]" id="request_description" ng-model="EntryData.tkt_cmnts"></textarea>
                    </div>
                

              </div>
                     

                
            </div>
            <div class="row">   
              <div class="col-sm-12">

                <div class="form-field string  required  request_description">
                    <label for="request_description" style="    background-color: rgb(94, 167, 226);color:#ffffff;">Activity :</label>
                    <div class="cmntLblList">
                  <div class="secondrow" ng-repeat="element in ticketCmnts">
      
        <div class="row">   
        <div class="col-sm-12">  
         <div class="col-sm-7 cmntPsgn">             
             <button ng-click="element.isCollapsed = !element.isCollapsed" class="plusBtn">
                  <span ng-class="{'glyphicon glyphicon-minus': !element.isCollapsed, 'glyphicon glyphicon-plus': element.isCollapsed }"> </span>
             </button>&nbsp;&nbsp;&nbsp;&nbsp;<k class="cmntLbl"> User Name &nbsp;&nbsp;&nbsp;&nbsp;{{element.i_ts}}&nbsp;&nbsp;(<span am-time-ago="element.i_ts"></span>)</k>
        </div>
         <div class="col-sm-6"> </div>
      </div>

      </div>
       <div class="row">   
        <div class="col-sm-12"> 
        <div class="col-sm-1"></div> 
         <div class="col-sm-11 cmntPsgn"> 
          <div collapse="element.isCollapsed"><div ng-show="!element.isCollapsed" class="panel-body ">
             <k class="cmntLblElmnt">
              <p align="justify">{{element.cmnt_tx}}</p>
            </k>
          </div>
          </div>
           </div>
             <div class="col-sm-6"> </div>
            </div>
             </div>

        </div>
        </div>
                    </div>
                

              </div>
                     

                
            </div>
         </div>
      </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>

<style>
.form-field label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #000000;
    text-align: left;
    border: 1px solid #e9e8e8;
    border-radius: 3px;
    font-weight: 500;
    height: 40px;
    padding-left: 20px;
    line-height: 37px;
    text-transform: uppercase;
    background-color: rgb(177, 180, 183);
}
.col-sm-2 {
    width: 50%;
}
.col-sm-3 {
    width: 50%;
}
.col-sm-5 {
    width: 50%;
}
.formSty {
    font-size: 20px;
    font-family: verdana;
    font-weight: 500;
    color: #6c8e9e;
    width: 100%;
    padding: 0px;
    background-color: #5ea7e2;
    margin-top: 0px;
    height: 33px;
    line-height: 33px;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #2876b5;
    border-radius: 3px;
}
.cmntLblList {
    border: 1px solid rgb(96, 168, 225);
    border-radius: 3px;
    padding: 2%;
    margin-bottom: 2%;
     box-shadow: none; 
}
.sndBtn {
      float: right;
    height: 32px;
    width: 6%;
    line-height: 24px;
    margin-top: 2px;
    margin-right: 9px;
    background-color: rgb(40, 118, 181);
    border: 1px solid rgba(95, 168, 226, 0.98);
    border-radius: 3px;
    font-size: 16px;
    text-transform: uppercase;
}
</style>
