<div class="container" id="prflTxt">

    <div class="card" id="profile-main" data-ng-controller="profileCtrl as pctrl">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <a href="">
                        <img class="img-responsive" src="http://edu.lnf.infn.it/wp-content/uploads/2015/06/no-image-icon.png" alt="">
                    </a>

                    <!--<div class="dropdown pmop-message" uib-dropdown>
                        <button uib-dropdown-toggle class="btn bgm-white btn-float">
                            <i class="zmdi zmdi-comment-text-alt"></i>
                        </button>

                        <div class="dropdown-menu stop-propagate">
                            <textarea placeholder="Write something..."></textarea>

                            <button class="btn bgm-green btn-float"><i class="zmdi zmdi-mail-send"></i></button>
                        </div>
                    </div>-->
         
                    <!--<div class="pmop-edit">
                        <label for="file-upload" class="custom-file-upload">
                            <i class="zmdi zmdi-camera"><span class="hidden-xs"></i>Update Profile Picture</span>
                        </label>
                        <input id="file-upload" type="file" ng-click="upload_picture()"/>
                    </div>-->
                    
                    <input id="file-upload" type="file">
                </div>
            </div>
              <div class="pmo-block pmo-contact hidden-xs">
               <!--<form class="pmbb-edit" data-ng-if="pctrl.editInfo === 1">-->
                <!--<dl class="dl-horizontal">
                    <dt class="p-t-10">First Name</dt>
                    <dd>
                        <div class="fg-line">
                            <input ng-model="fst_nm" type="text" class="form-control">
                        </div>
                    </dd>
                </dl>-->
              <!--</form>-->
                <dt>User Name</dt>
                <ul>
                  <li><i class="zmdi zmdi-account-o"></i><dd>{{usr_nm }}</dd></li>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified" data-ng-include="'client/src/template/profile-menu.html'"></ul>

            <data ui-view></data>
        </div>
    </div>
</div>
<style>
input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}
</style>