<div class="pmb-block clearfix photos">
    <div class="p-header">
        <ul class="p-menu">
            <li class="active"><a href=""><i class="zmdi zmdi-image"></i> APPS</a></li>
        </ul>

        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <button class="btn btn-float btn-danger m-btn"><i class="zmdi zmdi-plus"></i></button>




    <div class="clearfix"></div>


</div>
