<div class="container" data-ng-controller="changePwdCtrl" style="width: 80%;">
    <div class="pmb-block">
     <div class="pmbb-edit" >
        <div class="formSp">
            <form name="pwdresetfrm">
                <dl class="dl-horizontal">
                    <dt class="p-t-10">Current Password</dt>
                    <dd>
                        <div class="fg-line">
                            <input type="password" ng-model="userData.crntPwd" name="crntPwd" class="form-control" required>
                        </div>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt class="p-t-10">New Password</dt>
                    <dd>
                        <div class="fg-line">
                            <input class="form-control" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" type="password" name="newpwd" ng-model="userData.password" ng-minlength="8" ng-maxlength="20" required/>
                        </div>
                            <span id="pwderrmsg" ng-show="pwdresetfrm.newpwd.$error.required && pwdresetfrm.newpwd.$dirty">required</span>
                            <span id="pwderrmsg" ng-show="!pwdresetfrm.newpwd.$error.required && (pwdresetfrm.newpwd.$error.minlength || pwdresetfrm.newpwd.$error.maxlength) && pwdresetfrm.newpwd.$dirty">Passwords must be between 8 and 20 characters.</span>
                            <span id="pwderrmsg" ng-show="!pwdresetfrm.newpwd.$error.required && !pwdresetfrm.newpwd.$error.minlength && !pwdresetfrm.newpwd.$error.maxlength && pwdresetfrm.newpwd.$error.pattern && pwdresetfrm.newpwd.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
                    </dd>
                </dl> 
                <dl class="dl-horizontal">
                    <dt class="p-t-10">Confirm New Password</dt>
                    <dd>
                        <div class="fg-line">
                            <input class="form-control" type="password" ng-model="userData.cnfrmPwd" name="cnfrmPwd" ng-pattern = 'userData.password' required/>
                        </div>
                        <span id="pwderrmsg" ng-show="pwdresetfrm.cnfrmPwd.$error.required && pwdresetfrm.cnfrmPwd.$dirty">required</span>
                        <span id="pwderrmsg" ng-show="pwdresetfrm.cnfrmPwd.$error.pattern">Not matched</span>
                    </dd>
                </dl> 
                <button type="submit" class="btn btn-primary" ng-disabled="!pwdresetfrm.newpwd.$error.required && (pwdresetfrm.newpwd.$error.minlength || pwdresetfrm.newpwd.$error.maxlength)&& pwdresetfrm.newpwd.$error.pattern && pwdresetfrm.newpwd.$dirty"  ng-click="ResetPwd=false;changePwd()">submit</button>
                <button type="button" class="btn btn-warning" ng-click="resetPrflPwdEdit()">Reset</button>
            </form>
        </div> 
        </div>
    </div>
</div>
