<div class="timeline">
    <div class="t-view" data-tv-type="text">
        <div class="tv-header media">
            <a href="" class="tvh-user pull-left">
                <img class="img-responsive" src="client/src/public/static/img/profile-pics/profile-pic-2.jpg" alt="">
            </a>
            <div class="media-body p-t-5">
                <strong class="d-block">Malinda Hollaway</strong>
                <small class="c-gray">April 23, 2014 at 05:00</small>
            </div>


        </div>
        <div class="tv-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem dolor, posuere convallis blandit sit amet, aliquet in est. Ut condimentum magna enim, non venenatis elit interdum accumsan. In hac habitasse platea dictumst. Etiam molestie felis non mollis viverra. In ipsum lorem, fermentum vitae lectus in, accumsan malesuada neque.</p>

            <p>Suspendisse vehicula urna nisi, in luctus lacus consequat at. Nam purus dolor, tristique id lacinia sed, tincidunt congue metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec gravida leo. Sed nec ligula porta, dignissim elit molestie, finibus ligula. Nunc venenatis malesuada est ac molestie. Phasellus ornare nibh eu nisl rhoncus, vitae porttitor ante feugiat. Nulla vehicula erat nec odio dignissim, sit amet porttitor lorem auctor. Maecenas fermentum tellus ex, ac aliquet nisl malesuada id.</p>

            <div class="clearfix"></div>

            <ul class="tvb-stats">
                <li class="tvbs-comments">Close Ticket</li>
                <li class="tvbs-views">Escalate</li>
            </ul>

            <a class="tvc-more" href=""><i class="zmdi zmdi-mode-comment"></i> View all 54 Comments</a>
        </div>

        <div class="tv-comments">
            <ul class="tvc-lists">
                <li class="media">
                    <a href="" class="tvh-user pull-left">
                        <img class="img-responsive" src="client/src/public/static/img/profile-pics/1.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <strong class="d-block">David Peiterson</strong>
                        <small class="c-gray">April 23, 2014 at 05:10</small>

                        <div class="m-t-10">Maecenas fermentum tellus ex, ac aliquet nisl malesuada id.</div>

                    </div>
                </li>

                <li class="media">
                    <a href="" class="tvh-user pull-left">
                        <img class="img-responsive" src="client/src/public/static/img/profile-pics/2.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <strong class="d-block">Wernall Parnell</strong>
                        <small class="c-gray">April 22, 2014 at 13:00</small>

                        <div class="m-t-10">Nulla vehicula erat nec odio dignissim, sit amet porttitor lorem auctor. Maecenas fermentum tellus ex, ac aliquet nisl malesuada id.</div>

                    </div>
                </li>

                <li class="media">
                    <a href="" class="tvh-user pull-left">
                        <img class="img-responsive" src="client/src/public/static/img/profile-pics/3.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <strong class="d-block">Shane Lee Yong</strong>
                        <small class="c-gray">April 19, 2014 at 10:10</small>

                        <div class="m-t-10">Sit amet porttitor lorem auctor. Maecenas fermentum tellus ex, ac aliquet nisl malesuada idwoon lorem ipsum.</div>
                    </div>
                </li>

                <li class="p-20">
                    <div class="fg-line">
                        <textarea class="form-control auto-size" placeholder="Write a comment..."></textarea>
                    </div>

                    <button class="m-t-15 btn btn-primary btn-sm">Post</button>
                </li>
            </ul>
        </div>
    </div>



    <div class="clearfix"></div>

    <div class="load-more">
        <a href=""><i class="zmdi zmdi-refresh"></i> Load More...</a>
    </div>
</div>
<style>
.fg-line:not(.form-group) {
    display: inline-block;
    width: 70%;
    margin-right: 100px;
}
</style>