<header data-current-skin={{mactrl.currentSkin}} data-ng-include src="'client/src/template/headerUM.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftUM.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'client/src/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content" class="page-view" data-ui-view></section>

</section>

<footer id="footer" data-ng-include src="'client/src/template/footer.html'"></footer>


