<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerUM.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftUM.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content" ng-controller="AppProfilesCtrl">
        <div class="container">
            <div class="card" ng-hide="newAppPrfl">
                <div class="card-header" data-background-color="greenblue_shade">
                    <h3 class="title">Create App Profile</h3>
                </div>
                <div class="card-content col-sm-12 col-md-12 col-lg-12 formSpCol" id="resetpwdcrd">
                    <div class="formSp">
                        <form name="addAppForm">
                            <div id="resetpwdrow">
                                <div class="col-sm-2 col-md-2 col-lg-2" ng-if="userCmpltDtls.clnt_id==401">
                                    <label class="resetpwdtxt">Client Name</label>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4" ng-if="userCmpltDtls.clnt_id==401">
                                    <select id="setpwd" ng-model="clnt_id" ng-disabled="" ng-change="getTenants(clnt_id)" required>
                                        <option ng-repeat="clnt in clientDtls" value="{{clnt.clnt_id}}">{{clnt.clnt_nm}}</option>
                                    </select>
                                </div>
                                
                                <div class="col-sm-2 col-md-2 col-lg-2" ng-if="userCmpltDtls.clnt_id==401">
                                    <label class="resetpwdtxt">Tenant Name</label>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4" ng-if="userCmpltDtls.clnt_id==401">
                                    <select id="setpwd" ng-model="tnt_id" required>
                                        <option ng-repeat="tnt in tenantDtls" value="{{tnt.tnt_id}}">{{tnt.tnt_nm}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label class="resetpwdtxt">App Profile Name</label>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <input type="text" id="setpwd" ng-model="appPrflNM" required>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class=" table-responsive">
                                <table class="table" style="border-bottom:1px solid #000">
                                    <tbody>
                                        <tr ng-repeat="appsLst in appsLst track by $index">
                                            <td><div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <button type="button" class="custom_button primary hasTooltip" ng-click="moveUp($index)">
                                                        <i class="zmdi zmdi-long-arrow-up zmdi-hc-2x"></i>
                                                        <span>Move Up</span>
                                                    </button>
                                                </div>
                                                <div  class="col-xs-6  col-sm-6 col-md-6 col-lg-6">
                                                    <button type="button" class="custom_button success hasTooltip" ng-click="moveDown($index)">
                                                        <i class="zmdi zmdi-long-arrow-down zmdi-hc-2x"></i>
                                                        <span>Move Down</span>
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                <label class="resetpwdtxt">App Name</label>
                                                <select id="setpwd" ng-model="appsLst.appID" style="width: auto;" required>
                                                    <option ng-repeat="app in appsDtls" value="{{app.app_id}}">{{app.app_nm}}</option>
                                                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <td ><div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <button type="button" class="custom_button success hasTooltip" ng-click="addApp()">
                                                        <i class="zmdi zmdi-plus-circle zmdi-hc-2x"></i>
                                                        <span>Add App</span>
                                                    </button>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <button type="button" class="custom_button danger hasTooltip"  ng-click="removeApp($index)">
                                                        <i class="zmdi zmdi-minus-circle zmdi-hc-2x"></i>
                                                        <span>Remove App</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            <div>
                                <p class="f-500 c-black m-b-15">Choose users to assign this App Profile</p>
                                <select id="setpwd" chosen multiple data-placeholder="Select a user..." ng-model="appUsers" ng-options="user.usr_nm for user in allUserDtls" required></select>
                            </div>
                            <br/>
                            <div>
                                <button type="button" class="btn btn-primary" ng-disabled="addAppForm.$invalid" ng-click="newAppPrfl=true;createAppPrfl()">submit</button>
                                <button type="button" class="btn btn-warning" ng-click="newAppPrfl=true;cancelApp()">Cancel</button>
                            </div>
                        </form>
                    </div> 
                 </div>
            </div>

            <div class="card" ng-hide="editAppPrfl">
                <div class="card-header" data-background-color="greenblue_shade">
                    <h3 class="title">Edit App Profile</h3>
                </div>
            </div>
            
            <div class="card" ng-show="newAppPrfl;">
                <div class="card-header" data-background-color="greenblue_shade">
                    <h3 class="title">App Profiles</h3>
                    <!--<ul class="actions">
                        <li class="dropdown" uib-dropdown>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info" id="dwBtnPos" ng-click="ExcelDownload()">Excel</button>
                            <button type="button" class="btn btn-primary" id="dwBtnPospdf" ng-click="PDFDownload()">PDF</button>
                        </div>
                        </li>
                    </ul>-->
                </div>
                <div class="card-content table-responsive">
                    <div style="float: left;" ng-if="canCreate('App Profiles') != false">
                        <button type="button" class="crtBtn btn btn-success" ng-click="$parent.newAppPrfl=false;">Add New</button>
                    </div>
                    <form>
                        <input type="search" placeholder="Search" ng-model="searchUsrData" id="mdSrchPos">
                    </form>
                    <table ng-table="tableFilter" class="table">
                        <tr>
                            <th class="mdTblHdrPos">S.no</th>
                            <th class="mdTblHdrPos">User Name</th>
                            <th class="mdTblHdrPos">App Profile Name</th>
                            <th class="mdTblHdrPos">App Name</th>
                            <!--<th class="mdTblHdrPos">Action</th>-->
                        </tr>
                        <tr ng-repeat="v in $data | filter:searchUsrData">
                            <td>{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                            <td>{{v.usr_nm}}</td>
                            <td>{{v.app_prfle_nm}}</td>
                            <td ><ul  style="text-align:left"><li ng-repeat="app in v.appNames">{{app.appName}}</li></ul></td>
                            <!--<td>
                                <button type="button" class="custom_button primary hasTooltip" ng-click="newAppPrfl=false;">
                                    <i class="material-icons">mode_edit</i>
                                    <span>Edit</span>
                                </button>
                            </td>-->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>

</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>