<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerUM.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftUM.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>


     <section id="content" ng-controller="designationCtrl">
        <div class="container">
            <div class="card">
                <div class="card-header" data-background-color="greenblue_shade">
                    <h3 class="title">Designations</h3>
                    <ul class="actions">
                        <li class="dropdown" uib-dropdown>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info" id="dwBtnPos" ng-click="ExcelDownload()">Excel</button>
                            <button type="button" class="btn btn-primary" id="dwBtnPospdf" ng-click="PDFDownload()">PDF</button>
                        </div>
                        </li>
                    </ul>
                </div>
                <div class="card-content table-responsive">
                    <!--<div style="float: right;">
                        <button type="button" class="btn btn-success" ng-click="addData=true">Create New</button>
                    </div>-->
                     <form>
                    <input type="search" placeholder="Search" ng-model="searchUsrData" id="mdSrchPos">
                    </form>
                    <table ng-table="tableFilter" class="table" show-filter="true">
                        <tr>
                            <th class="mdTblHdrPos">S.no</th>
                            <th class="mdTblHdrPos">Username</th>
                            <th class="mdTblHdrPos">First Name</th>
                            <th class="mdTblHdrPos">Last Name</th>
                            <th class="mdTblHdrPos">Designation</th>
                            <th class="mdTblHdrPos" ng-if="canRead('Designations') != false">Actions</th>
                        </tr>
                        <tr ng-repeat="v in $data  | filter:searchUsrData">
                            <td ng-model="v.sno">{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                            <td>{{v.usr_nm}}</td>
                            <td>{{v.fst_nm}}</td>
                            <td>{{v.lst_nm}}</td>
                            <td>
                                <select id="setpwd" data-ng-show="editInfo" ng-model="v.desig" ng-change="dsgnIdget(v.desig)">
                                    <option disabled>select designation</option>
                                    <option value={{dsgn.dsgns_id}} data-ng-repeat="dsgn in designations">{{dsgn.dsgns_nm}}</option>
                                    <!--<option selected>{{v.dsgns_nm}}</option>-->
                                </select>
                                <span data-ng-hide="editInfo">{{v.dsgns_nm}}</span>
                            </td>
                            <td ng-if="canUpdate('Designations') != false">
                                <button type="button" class="custom_button primary hasTooltip" data-ng-hide="editInfo" ng-click="$parent.editInfo=true;editDesignationPermission(v);getDesignations()">
                                    <i class="material-icons">mode_edit</i>
                                    <span>Edit</span>
                                </button>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-lg-6">
                                 <button type="button" class="custom_button success hasTooltip" data-ng-show="editInfo" ng-click="editInfo=false;saveDesignationPermission(v)">
                                    <i class="material-icons">check_circle</i>
                                    <span>Save</span>
                                 </button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-6">
                                 <button type="button" class="custom_button warning hasTooltip" data-ng-show="editInfo" ng-click="editInfo=false;cancel($index,v)">
                                    <i class="material-icons">cancel</i>
                                    <span>Cancel</span>
                                 </button> 
                                </div>
                            </div>
                           </td>
                           </tr>
                           <tr data-ng-show="addData">
                            <td><input type="number" ng-model="u.no" required/> </td>
                            <td><input type="text" ng-model="u.user_nm" required/></td>
                            <td><input type="text" ng-model="u.fst_nm" required/></td>
                            <td><input type="text" ng-model="u.lst_nm" required/></td>
                            <td>
                                <select ng-model="u.desig">
                                    <option value="" disabled>select an option</option>
                                    <option value="Manager">Manager</option>
                                    <option value="Deputy Manager">Deputy Manager</option>
                                    <option value="Manager">Manager</option>
                                    <option value="Deputy Manager">Deputy Manager</option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="custom_button success hasTooltip">
                                    <i class="material-icons" ng-click="addNew(u)">check_circle</i>
                                    <span>Save</span>
                                </button>
                            </td>
                          </tr>
                    </table>
                </div>
            </div>
        </div>
      
    </section>

</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>