<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerUM.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftUM.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
     <section id="content" ng-controller="heirarchyCtrl">
        <div class="container">
            <div class="card">
                <div class="card-header" data-background-color="greenblue_shade">
                    <h3 class="title">Users Heirarchy</h3>
                </div>
                <div class="card-content table-responsive">
                     <form>
                        <input type="search" placeholder="Search" ng-model="searchUsrData" id="mdSrchPos">
                    </form>
                    <table ng-table="tableFilter" class="table" show-filter="true">
                        <tr>
                            <th class="mdTblHdrPos">S.no</th>
                            <th class="mdTblHdrPos">Username</th>
                            <th class="mdTblHdrPos">Designation</th>
                            <th class="mdTblHdrPos">Heirarchy level</th>
                            <th class="mdTblHdrPos"  ng-if="canRead('Hierarchy') != false">Actions</th>
                        </tr>
                        <tr ng-repeat="v in $data  | filter:searchUsrData">
                            <td ng-model="v.sno">{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                            <td>{{v.usr_nm}}</td>
                            <td>{{v.dsgns_nm}}</td>
                            <td>
                                <select id="setpwd" data-ng-show="editInfo" ng-model="v.orgn_lvls_id">
                                    <option ng-repeat="org in orgLvlLst" value="org.orgn_lvls_id">org.orgn_lvls_nm</option>
                                </select>
                                <span data-ng-hide="editInfo">{{v.orgn_lvls_nm}}</span>
                            </td>
                            <td ng-if="canUpdate('Hierarchy') != false">
                                <button type="button" class="custom_button primary hasTooltip" data-ng-hide="editInfo" ng-click="$parent.editInfo=true;EditOrgLvls(v);">
                                    <i class="material-icons">mode_edit</i>
                                    <span>Edit</span>
                                </button>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <button type="button" class="custom_button success hasTooltip" data-ng-show="editInfo" ng-click="editInfo=false;saveOrgLvls(v)">
                                            <i class="material-icons">check_circle</i>
                                            <span>Save</span>
                                        </button>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <button type="button" class="custom_button warning hasTooltip" data-ng-show="editInfo" ng-click="editInfo=false;cancel($index,v)">
                                            <i class="material-icons">cancel</i>
                                            <span>Cancel</span>
                                        </button> 
                                    </div>
                                </div>
                           </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
      
    </section>

</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>