<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerUM.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftUM.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content" ng-controller="menuProfilesCtrl">
        <div class="container">
            <div class="card" ng-hide="newMenu">
                <div class="card-header" data-background-color="greenblue_shade">
                    <h3 class="title">Create New Menu</h3>
                </div>
                <div class="card-content col-sm-12 col-md-12 col-lg-12 formSpCol" id="resetpwdcrd">
                    <div class="formSp">
                        <form name="addMenuForm">
                            <div id="resetpwdrow">
                                <div class="col-sm-2 col-md-2 col-lg-2" ng-if="userCmpltDtls.clnt_id==401">
                                    <label class="resetpwdtxt">Client Name</label>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4" ng-if="userCmpltDtls.clnt_id==401">
                                    <select id="setpwd" ng-model="clnt_id" ng-change="getTenants(clnt_id)" required>
                                        <option ng-repeat="clnt in clientDtls" value="{{clnt.clnt_id}}">{{clnt.clnt_nm}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2" ng-if="userCmpltDtls.clnt_id==401">
                                    <label class="resetpwdtxt">Tenant Name</label>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4" ng-if="userCmpltDtls.clnt_id==401">
                                    <select id="setpwd" ng-model="tnt_id" required>
                                        <option ng-repeat="tnt in tenantDtls" value="{{tnt.tnt_id}}">{{tnt.tnt_nm}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label class="resetpwdtxt">Menu Profile Name</label>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <input type="text" id="setpwd" ng-model="menuNM" required>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label class="resetpwdtxt">App Name</label>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <select id="setpwd" ng-model="appID" ng-change="getMnuItms(appID)" required>
                                        <option ng-repeat="app in appsDtls" value="{{app.app_id}}">{{app.app_nm}}</option>
                                    </select>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class=" table-responsive">
                                <table class="table" style="border-bottom:1px solid #000" ng-show="openMenuOptions">
                                    <tbody>
                                        <tr ng-repeat="menuitem in menuitem track by $index">
                                            <td style="padding-left: 0px;">
                                                <button type="button" class="custom_button primary hasTooltip" ng-click="moveUp($index)">
                                                    <i class="zmdi zmdi-long-arrow-up zmdi-hc-2x"></i>
                                                    <span>Move Up</span>
                                                </button>
                                                <button type="button" class="custom_button success hasTooltip" ng-click="moveDown($index)">
                                                    <i class="zmdi zmdi-long-arrow-down zmdi-hc-2x"></i>
                                                    <span>Move Down</span>
                                                </button>
                                            </td>
                                            <td>
                                                <label class="resetpwdtxt">Menu Item Name</label>
                                                <select id="setpwd" ng-model="menuitem.mnu_itm_id" style="width: auto;" required>
                                                    <option ng-repeat="item in appMnuItems" value="{{item.mnu_itm_id}}">{{item.mnu_itm_nm}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <label class="resetpwdtxt">Sub-Menu Item Name</label>
                                                <select id="setpwd" ng-model="menuitem.submnu_itm_id" style="width: auto;">
                                                    <option ng-repeat="item in appMnuItems" value="{{item.mnu_itm_id}}">{{item.mnu_itm_nm}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <label class="resetpwdtxt">Permissions</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-sm-8 col-md-8 col-lg-8 table-responsive">
                                                    <table><tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input id="permc" type="checkbox" ng-model="menuitem.permc" ng-true-value=1 ng-false-value=0 >
                                                                    <span class="checkbox-material">
                                                                        <span class="check"></span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-2 col-md-2 col-lg-2">Create</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input id="permr" type="checkbox" ng-model="menuitem.permr" ng-true-value=1 ng-false-value=0 >
                                                                    <span class="checkbox-material">
                                                                        <span class="check"></span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-2 col-md-2 col-lg-2">Read</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input id="permu" type="checkbox" ng-model="menuitem.permu" ng-true-value=1 ng-false-value=0 >
                                                                    <span class="checkbox-material">
                                                                        <span class="check"></span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td  class="col-sm-2 col-md-2 col-lg-2">Update</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input id="permd" type="checkbox" ng-model="menuitem.permd" ng-true-value=1 ng-false-value=0 >
                                                                    <span class="checkbox-material">
                                                                        <span class="check"></span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-2 col-md-2 col-lg-2">Delete</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input id="permo" type="checkbox" ng-model="menuitem.permo" ng-true-value=1 ng-false-value=0 >
                                                                    <span class="checkbox-material">
                                                                        <span class="check"></span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-2 col-md-2 col-lg-2">Other</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input id="perme" type="checkbox" ng-model="menuitem.perme" ng-true-value=1 ng-false-value=0 >
                                                                    <span class="checkbox-material">
                                                                        <span class="check"></span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="col-sm-2 col-md-2 col-lg-2">Edit</td>
                                                    </tr></table>
                                                </div>
                                            </td>
                                            <td style="padding-right: 0px;">
                                                <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <button type="button" class="custom_button success hasTooltip" ng-click="addMenuItem()">
                                                        <i class="zmdi zmdi-plus-circle zmdi-hc-2x"></i>
                                                        <span>Add Item</span>
                                                    </button>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <button type="button" class="custom_button danger hasTooltip"  ng-click="removeMenuItem($index)">
                                                        <i class="zmdi zmdi-minus-circle zmdi-hc-2x"></i>
                                                        <span>Remove Item</span>
                                                    </button>
                                                </div>
                                                </div>
                                            </td>
                                        </tr></tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <p class="f-500 c-black m-b-15">Choose users to assign this Menu Profile</p>
                                <select id="setpwd" chosen multiple data-placeholder="Select a user..." ng-model="menuUsers" ng-options="user.usr_nm for user in allUserDtls" required></select>
                            </div>
                            <br/>
                            <div>
                                <button type="button" class="btn btn-primary" ng-disabled="addMenuForm.$invalid" ng-click="createmenu()">submit</button>
                                <button type="button" class="btn btn-warning" ng-click="newMenu=true;cancelMnu()">Cancel</button>
                            </div>
                        </form>
                    </div> 
                 </div>
            </div>
            <div class="card" ng-show="newMenu">
                <div class="card-header" data-background-color="greenblue_shade">
                    <h3 class="title">Menu Profiles</h3>
                    <!--<ul class="actions">
                        <li class="dropdown" uib-dropdown>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info" id="dwBtnPos" ng-click="ExcelDownload()">Excel</button>
                            <button type="button" class="btn btn-primary" id="dwBtnPospdf" ng-click="PDFDownload()">PDF</button>
                        </div>
                        </li>
                    </ul>-->
                </div>
                <div class="card-content table-responsive">
                    <div style="float: left;"  ng-if="canCreate('Menu Profiles') != false">
                        <button type="button" class="crtBtn btn btn-success" ng-click="$parent.newMenu=false;">Add New</button>
                    </div>
                    <form>
                    <input type="search" placeholder="Search" ng-model="searchUsrData" id="mdSrchPos">
                    </form>
                    <table ng-table="tableFilter" class="table" show-filter="true">
                        <tr>
                            <th class="mdTblHdrPos">S.no</th>
                            <th class="mdTblHdrPos">Username</th>
                            <th class="mdTblHdrPos">App Name</th>
                            <th class="mdTblHdrPos">Menu Profile Name</th>
                            <th class="mdTblHdrPos">Menu Items</th>
                            <!--<th class="mdTblHdrPos">Action</th>-->
                        </tr>
                        <tr ng-repeat="v in $data  | filter:searchUsrData">
                            <td>{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                            <td>{{v.usr_nm}}</td>
                            <td>{{v.app_nm}}</td>
                            <td>{{v.mnu_prfle_nm}}</td>
                            <td><ul  style="text-align:left"><li ng-repeat="item in v.menuitems">{{item.menuitem}}</li></ul></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>