
<div class="container" style="width:80%">
    <div class="pmb-block">
        
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-account-box animated infinite wobble zmdi-hc-fw m-r-5"></i>Profile Information</h2>

            <ul class="actions" data-ng-if="pctrl.editContact === 0 && canUpdate('My Profile') != false">
                  <li class="dropdown" uib-dropdown>
                    <a href="" data-ng-click="pctrl.editInfo = 1;getDesignations()">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="pmbb-body p-l-30">
            
            <div class="prflInfo pmbb-view" data-ng-if="pctrl.editInfo === 0">
                <dl class="dl-horizontal">
                     
                 <dt><i class="zmdi zmdi-face"></i>&nbsp&nbsp&nbspName</dt>
                <dd>{{fullName }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><i class="zmdi zmdi-case"></i>&nbsp&nbsp&nbspDesignation</dt>
                    <dd>{{designation}}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><i class="zmdi zmdi-phone"></i>&nbsp&nbsp&nbspMobile Number</dt>
                    <dd>{{mobileNumber }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><i class="zmdi zmdi-email"></i>&nbsp&nbsp&nbspEmail Address</dt>
                    <dd>{{emailAddress }}</dd>
                    
                </dl>
               
            </div>
            
            <form class="pmbb-edit" data-ng-if="pctrl.editInfo === 1">
                <dl class="dl-horizontal">
                    <dt class="p-t-10">First Name</dt>
                    <dd>
                        <div class="fg-line">
                            <input ng-model="fst_nm" type="text" class="form-control">
                        </div>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt class="p-t-10">Last Name</dt>
                    <dd>
                        <div class="fg-line">
                            <input ng-model="lst_nm" type="text" class="form-control">
                        </div>
                    </dd>
                </dl> 
                <dl class="dl-horizontal">
                    <dt class="p-t-10">Designation</dt>
                    <dd>
                        <div class="fg-line">
                            <select class="slctSty" ng-model="dsgId" ng-change="dsgnIdget(dsgId)">
                                <option disabled>select designation</option>
                                <option value={{dsgn.dsgns_id}} data-ng-repeat="dsgn in designations">{{dsgn.dsgns_nm}}</option>
                                <!--<option selected>{{designation}}</option>-->
                           </select>
                          
                        </div>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt class="p-t-10">Mobile Number</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="mobileNumber" type="text" class="form-control">
                        </div>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt class="p-t-10">Email Address</dt>
                    <dd>
                        <div class="fg-line">
                            <input data-ng-model="emailAddress" type="email" class="form-control">
                        </div>
                    </dd>
                </dl> 
                <div class="m-t-30" data-ng-if="pctrl.editInfo === 1">
                    <button type="submit" class="btn btn-primary" ng-click="ProfileEdit(mobileNumber,emailAddress,designation,fst_nm,lst_nm);pctrl.editInfo = 0">Save</button>
                    <button type = "button" class="btn btn-warning" data-ng-click="pctrl.editInfo = 0" >Cancel</button>
              </div>
            </form>
             
            <!--<button  class="btn btn-round"  data-ui-sref="pages.profile.profile-pwdReset"><i class="material-icons">arrow_forward</i></button>-->
            
        </div>
    </div>
</div>
