
<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerUM.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftUM.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    
    <section id="content" ng-controller="pwdResetsCtrl">
        <div class="container">
          <div class="card" id="customcntnr" ng-show="ResetPwd">
            <div class="card-header">
                    <h2>Reset Password</h2>
                </div>
                <div class="card-content col-md-12 col-sm-12 col-lg-12 formSpCol" id="resetpwdcrd">
                <div class="formSp">
                   <form name="pwdresetfrm">
                       <div class="row" id="resetpwdrow">
                            <div class="col-md-4 col-sm-4 col-lg-3">
                                <k class="resetpwdtxt">User Name</k>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                             <div class="col-md-8 col-sm-8 col-lg-9">
                                <input id="setpwd" type="text" ng-model="pwdResetUsrDtls.username" disabled required/>
                            </div>
                        </div>
                        <div class="row" id="resetpwdrow">
                            <div class="col-md-4 col-sm-4 col-lg-3">
                                <k class="resetpwdtxt">Phone Number</k>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                             <div class="col-md-8 col-sm-8 col-lg-9">
                                <input id="setpwd" placeholder="+91-xxx-xxxxx" type="number" ng-model="pwdResetUsrDtls.phno" disabled required>
                                <!--ng-minlength=10 ng-maxlength="13" name="phno" />-->
                            </div>
                             <!--<span id="pwderrmsg" ng-show="!pwdresetfrm.phno.$error.required && (pwdresetfrm.phno.$error.minlength || pwdresetfrm.phno.$error.maxlength) && pwdresetfrm.phno.$dirty">Phone number must be between 10 and 13 numbers.</span>-->
                        </div>
                        <div class="row" id="resetpwdrow">
                            <div class="col-md-4 col-sm-4 col-lg-3">
                                <k class="resetpwdtxt">Change Password</k>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                             <div class="col-md-8 col-sm-8 col-lg-9">
                                <input id="setpwd" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" type="password" name="newpwd" ng-model="pwdResetUsrDtls.password" ng-minlength="8" ng-maxlength="20" required/>
                            </div>
                                <span id="pwderrmsg" ng-show="!pwdresetfrm.newpwd.$error.required && (pwdresetfrm.newpwd.$error.minlength || pwdresetfrm.newpwd.$error.maxlength) && pwdresetfrm.newpwd.$dirty">Passwords must be between 8 and 20 characters.</span>
                                <span id="pwderrmsg" ng-show="!pwdresetfrm.newpwd.$error.required && !pwdresetfrm.newpwd.$error.minlength && !pwdresetfrm.newpwd.$error.maxlength && pwdresetfrm.newpwd.$error.pattern && pwdresetfrm.newpwd.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
                            <br />
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="pwdresetfrm.$invalid || (pwdresetfrm.newpwd.$error.minlength || pwdresetfrm.newpwd.$error.maxlength)&& pwdresetfrm.newpwd.$error.pattern"  ng-click="ResetPwd=false;resetPwd()">submit</button>
                        
                        <button type="submit" class="btn btn-warning"  ng-click="ResetPwd=false;">Cancel</button>
                    </form>
                </div> 
               </div>
        </div>
            <div class="card">
                <div class="card-header" data-background-color="greenblue_shade">
                    <h3 class="title">Password Resets</h3>
                </div>
                <div class="card-content table-responsive">
                    <form>
                        <input type="search" placeholder="Search" ng-model="searchUsrData" id="mdSrchPos">
                    </form>
                    <table ng-table="tableFilter" class="table" show-filter="true">
                        <tr>
                            <th class="mdTblHdrPos">S.no</th>
                            <th class="mdTblHdrPos">Username</th>
                            <th class="mdTblHdrPos">Email</th>
                            <th class="mdTblHdrPos">Phone Number</th>
                            <th class="mdTblHdrPos" ng-if="canRead('Password Resets') != false">Actions</th>
                        </tr>
                        <tr ng-repeat="v in $data | filter:searchUsrData">
                            <td>{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                            <td>{{v.usr_nm}}</td>
                            <td>{{v.eml_tx}}</td>
                            <td>{{v.mobile_nu}}</td>
                            <td ng-if="canUpdate('Password Resets') != false">
                                <button type="button" class="custom_button primary hasTooltip" data-ng-hide="editInfo" ng-click="ResetPwd=true;editPwd(v)">
                                    <i class="material-icons">mode_edit</i>
                                    <span>Edit</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        
        </div>        
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>
