<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerUM.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftUM.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content">
        <div class="container">
            <div class="card">
                <div class="card-header" data-background-color="blue">
                    <h3 class="title">Settings</h3>
                </div>
                <div class="card-content">
                    <p class="category"></p>
                    <h3 class="title"></h3>
                </div>
                <div class="row m-b-20">
                    <div class="col-sm-4 col-md-6 m-b-20">
                        <form>
                            <div class="toggle-switch">
                                <label for="ts1" class="ts-label">Notifications</label>
                                <input id="ts1" type="checkbox" hidden="hidden">
                                <label for="ts1" class="ts-helper"></label>
                            </div><br><br>
                            <div class="toggle-switch">
                                <label for="ts1" class="ts-label">OTP</label>
                                <input id="ts1" type="checkbox" hidden="hidden">
                                <label for="ts1" class="ts-helper"></label>
                            </div><br><br>
                            <div class="toggle-switch">
                                <label for="ts1" class="ts-label">Notifications</label>
                                <input id="ts1" type="checkbox" hidden="hidden">
                                <label for="ts1" class="ts-helper"></label>
                            </div><br><br>
                            <div class="toggle-switch">
                                <label for="ts1" class="ts-label">Notifications</label>
                                <input id="ts1" type="checkbox" hidden="hidden">
                                <label for="ts1" class="ts-helper"></label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>