<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerUM.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftUM.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'client/src/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content" data-ng-controller="userAppHomeCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">supervisor_account</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Users</p>
                            <h3 class="title">29</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">perm_device_information</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Devices</p>
                            <h3 class="title">35</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">timelapse</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Active Users</p>
                            <h3 class="title">78</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="blue">
                            <i class="material-icons">screen_share</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Support Tickets</p>
                            <h3 class="title">+84</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dash-widgets">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="red" id="chartHeaderPos">
                            <i class="material-icons">timeline</i>
                        </div>
                        <h4 class="card-title" id="crdTxtPos" style="float: left;margin-top: 20px;">User Status</h4>
                        <div class="card-content" style="padding-left: 60%;">
                            <p class="category">Total Users</p>
                            <h3 class="title">{{useractive_dataset[0].total_users}}</h3>         
                        </div>
                        <div>
                            <div class="p-20" style="background-color: rgb(255, 255, 255);">
                                <nvd3 options="useractive_options" data="useractive_dataset"></nvd3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="red" id="chartHeaderPos">
                            <i class="material-icons">timeline</i>
                        </div>
                        <h4 class="card-title" id="crdTxtPos" style="float: left;margin-top: 20px;">Vehicle Status</h4>
                        <div class="card-content" style="padding-left: 60%;">
                            <p class="category">Total Vehicles</p>
                            <h3 class="title">{{vehactive_dataset[0].total_vehicles}}</h3>         
                        </div>
                        <div>
                            <div class="p-20" style="background-color: rgb(255, 255, 255);">
                                <nvd3 options="vehactive_options" data="vehactive_dataset"></nvd3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>
