<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerUM.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftUM.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'client/src/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content">
        <div class="containerSp">
          <div class="card">
            <div class="containerSp">
              <h1 class="formSty">
                USER MANAGEMENT
              </h1>
              <div class="formSp">
                <form id="new_request" data-form="" class="request-form" action="/hc/en-us/requests" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="Ga5M3u19q/eoym0kvha5DEhZQyNxnJiN3niSHQ4AWswT4eABxWDuWY51wNFepxbRNGAiCCuOqZ7FOCqYebY1Zw==">
                  <input type="hidden" name="request[ticket_form_id]" id="request_ticket_form_id" value="54025">
                  <div class="form-field string  required optional  request_custom_fields_24654006">
                    <label for="request_custom_fields_24654006">Latitude (Lat)</label>
                    <input type="text" name="request[custom_fields][24654006]" id="request_custom_fields_24654006">
                  </div>
                  <div class="form-field string  required optional  request_custom_fields_24654006">
                    <label for="request_custom_fields_24654006">Longitude (Long)</label>
                    <input type="text" name="request[custom_fields][24654006]" id="request_custom_fields_24654006">
                  </div>
                  <div class="form-field string  required optional  request_custom_fields_24654006">
                    <label for="request_custom_fields_24654006">Name of the Zone</label>
                    <input type="text" name="request[custom_fields][24654006]" id="request_custom_fields_24654006">
                  </div>
                  <footer><center><input type="submit" name="commit" value="Submit"></center></footer>
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>
</section>
<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>