<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerUM.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftUM.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content" ng-controller="usersCtrl">
        <div class="container">     
            <div class="card" id="customcntnr" ng-hide="newUser">
                <div class="card-header" data-background-color="greenblue_shade">
                    <h3 class="title">Add New User</h3>
                </div>
                <div class="card-content col-md-12 col-sm-12 col-lg-12 formSpCol" id="resetpwdcrd">
                    <div class="formSp">
                    <form name="addUserForm">
                            <div class="row" id="resetpwdrow">
                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <k class="resetpwdtxt">First Name</k>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                    <input id="setpwd" type="text" ng-model="userFormDtls.fst_nm" required />
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <k class="resetpwdtxt">Last Name</k>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                    <input id="setpwd" type="text" ng-model="userFormDtls.lst_nm" required />
                                </div>
                            </div>
                            <div class="row" id="resetpwdrow">
                                 <div class="col-md-2 col-sm-2 col-lg-2">
                                    <k class="resetpwdtxt">User Name</k>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                    <input id="setpwd" type="text" ng-model="userFormDtls.usr_nm" required />
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <k class="resetpwdtxt">Password</k>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                    <input id="setpwd" type="password" ng-model="userFormDtls.newPassword" name="newPassword" ng-pattern="pwdPattern" required />
                                    <span id="pwderrmsg"  ng-show="addUserForm.newPassword.$error.required && addUserForm.newPassword.$dirty">
                                        Required!</span>
                                    <span id="pwderrmsg" ng-show="!addUserForm.newPassword.$error.required && addUserForm.newPassword.$error.pattern">
                                        Password must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
                                <br />
                                </div>
                            </div>
                            <div class="row" id="resetpwdrow">
                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <k class="resetpwdtxt">Email</k>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                               <div class="col-md-4 col-sm-4 col-lg-4">
                                    <input id="setpwd" type="email" name="email" ng-model="userFormDtls.eml_tx" placeholder="example@domain.com" required />
                                    <span id="pwderrmsg" ng-show="addUserForm.email.$error.required && addUserForm.email.$dirty">
                                        Required!</span>
                                    <span id="pwderrmsg" ng-show="addUserForm.email.$error.email">
                                        Not valid email!</span>
                                <br>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <k class="resetpwdtxt">Phone Number</k>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                    <input id="setpwd" placeholder="eg. 9876543210" type="number" ng-model="userFormDtls.mobile_nu" name="mobile_nu" ng-minlength="10" ng-maxlength="10" required />
                                    <span id="pwderrmsg" ng-show="!addUserForm.mobile_nu.$error.required && (addUserForm.mobile_nu.$error.minlength || addUserForm.mobile_nu.$error.maxlength) && addUserForm.mobile_nu.$dirty">
                                    Not valid, must have 10 digits</span>
                                <br>
                                </div>
                            </div>
                            <div class="row" id="resetpwdrow">
                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <k class="resetpwdtxt">Client Name</k>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                    <select id="setpwd" ng-model="userFormDtls.clnt_id" ng-change="getTenants(userFormDtls.clnt_id)" required>
                                        <option ng-repeat="clnt in clientDtls" value="{{clnt.clnt_id}}">{{clnt.clnt_nm}}</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <k class="resetpwdtxt">Tenant Name</k>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                    <select id="setpwd" ng-model="userFormDtls.tnt_id" ng-change="getProfiles(userFormDtls.clnt_id,userFormDtls.tnt_id);getDesignations(userFormDtls.clnt_id,userFormDtls.tnt_id)" required>
                                        <option ng-repeat="tnt in tenantDtls" value="{{tnt.tnt_id}}">{{tnt.tnt_nm}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" id="resetpwdrow">
                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <k class="resetpwdtxt">Designation</k>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                    <select id="setpwd" ng-model="userFormDtls.dsgId" required>
                                        <option disabled>select designation</option>
                                        <option data-ng-repeat="dsgn in designations" value={{dsgn.dsgns_id}}>{{dsgn.dsgns_nm}}</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <k class="resetpwdtxt">App Profile</k>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                   <select id="setpwd" ng-model="profilesData" required>
                                        <option data-ng-repeat="prfl in appProfiles" value="{{prfl}}" >{{prfl.app_prfle_nm}}</option>
                                   </select>
                                </div>
                            </div>
                            <div>
                                <button type="submit"  class="btn btn-primary btn-md m-t-10" ng-disabled="!pwdresetfrm.newpwd.$error.required && (pwdresetfrm.newpwd.$error.minlength || pwdresetfrm.newpwd.$error.maxlength)&& pwdresetfrm.newpwd.$error.pattern && pwdresetfrm.newpwd.$dirty"  ng-click="adminCreateUser()">submit</button>
                                <button type="button"  class="clrBtn btn btn-md m-t-10" ng-click="addUserClear()">Clear</button>
                                <button type="button"  class="btn btn-warning btn-md m-t-10" ng-click="newUser=true;cancel()">Cancel</button>
                            </div>
                        </form>
                       </div> 
                 </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="title">Users</h3>
                    <ul class="actions">
                        <li class="dropdown" uib-dropdown>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info excelBtn" id="dwBtnPos"  ng-csv="ExcelDownload" filename="USR_DTL.csv">Excel</button>
                            <button type="button" class="btn btn-primary pdfBtn" id="dwBtnPospdf" ng-click="PDFDownload()">PDF</button>
                        </div>
                        </li>
                    </ul>
                </div>
                <div class="card-content table-responsive">
                    <div style="float: left;">
                        <button type="button" class="crtBtn btn btn-success" ng-click="$parent.newUser=false;" ng-if="canCreate('Users') != false">Add New</button>
                    </div>
                    <form>
                        <input type="search" placeholder="Search" ng-model="searchUsrData" id="mdSrchPos">
                    </form>
                    <table ng-table="tableFilter" class="table" show-filter="true">
                        <tr>
                            <th class="mdTblHdrPos">S.no</th>
                            <th class="mdTblHdrPos">First Name</th>
                            <th class="mdTblHdrPos">Last Name</th>
                            <th class="mdTblHdrPos">Username</th>
                            <th class="mdTblHdrPos">Email</th>
                            <th class="mdTblHdrPos">Mobile Number</th>
                            <th class="mdTblHdrPos">Created On</th>
                            <th class="mdTblHdrPos" ng-if="canRead('Users') != false">Actions</th>
                        </tr>
                        <tr ng-repeat="v in $data | filter:searchUsrData">
                            <td>{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                            <td>
                                <input type="text" class="form-control" value="{{fst_nm}}" data-ng-show="editInfo" data-ng-model="v.fst_nm">
                                <span data-ng-hide="editInfo">{{v.fst_nm}}</span>
                            </td>
                            <td>
                                <input type="text" class="form-control" value="{{lst_nm}}" data-ng-show="editInfo" data-ng-model="v.lst_nm">
                                <span data-ng-hide="editInfo">{{v.lst_nm}}</span>
                            </td>
                            <td>
                                {{v.usr_nm}}
                            </td>
                            <td>
                                <input type="email" class="form-control" value="{{eml_tx}}" data-ng-show="editInfo" data-ng-model="v.eml_tx">
                                <span data-ng-hide="editInfo">{{v.eml_tx}}</span>
                            </td>
                             <td>
                                <input type="number" class="form-control" value="{{mobile_nu}}" data-ng-show="editInfo" data-ng-model="v.mobile_nu">
                                <span data-ng-hide="editInfo">{{v.mobile_nu}}</span>
                            </td>
                            <td>
                                {{v.i_timeStamp}}
                            </td>
                            <td >
                               <div class="row" ng-if="canUpdate('Users') != false">
                                 <div class="col-md-4 col-sm-4 col-lg-4">
                                    <button type="button" class="custom_button primary hasTooltip" data-ng-hide="editInfo" ng-click="$parent.editInfo=true;editUserInfo($index,v)">
                                        <i class="material-icons">edit</i>
                                        <span>Edit</span>
                                    </button>
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4" ng-if="canDelete('Users') != false">
                                    <button type="button" class="custom_button danger hasTooltip" data-ng-hide="editInfo" ng-click="deleteUser(v)">
                                        <i class="material-icons">delete_forever</i>
                                        <span>Delete</span>
                                    </button> 
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <button type="button" class="custom_button success hasTooltip" data-ng-show="editInfo" ng-click="editInfo=false;saveUserInfo(v)">
                                            <i class="material-icons">check_circle</i>
                                            <span>Save</span>
                                        </button>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                        <button type="button" class="custom_button warning hasTooltip" data-ng-show="editInfo" ng-click="editInfo=false;cancel($index,v)">
                                            <i class="material-icons">cancel</i>
                                            <span>Cancel</span>
                                        </button> 
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>