<ul class="header-inner clearfix" ng-controller="headerCtrl as hctrl">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>  
        </div>
    </li>

    <li class="logo hidden-xs">
        <a data-ui-sref="appStore" data-ng-click="mactrl.sidebarStat($event)"><h3 class="header-title">User Management</h3></a>
    </li>
    <li class="logo visible-xs">
        <a data-ui-sref="appStore" data-ng-click="mactrl.sidebarStat($event)"><h3 class="header-title">UM</h3></a>
    </li>
    <li class="pull-right">
        <ul class="top-menu">
            <!--<li id="toggle-width" style="line-height: 35px;">
               <p class="header-title">&nbsp;{{userCmpltDtlsLst.fst_nm}} &nbsp;{{userCmpltDtlsLst.lst_nm}} </p>
           </li>-->
           <li>
                <a data-ui-sref="appStore"><i class="tm-icon zmdi zmdi-home zmdi-hc-fw"></i> </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dm-icon pull-right">
					<li>
						<a data-ng-click="hctrl.logout()" href=""><i class="zmdi zmdi-face"></i> Logout</a>
					</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>