<ul class="header-inner clearfix" ng-controller="headerCtrl as hctrl">
    <li class="logo">
        <a data-ui-sref="appStore" data-ng-click="mactrl.sidebarStat($event)"> <h3 class="header-title">AP SMART CITY </h3></a>
    </li>
    
    <li class="pull-right">
        <ul class="top-menu">

            <!--<li id="toggle-width" style="line-height: 35px;">
                <p class="header-title">&nbsp;{{userCmpltDtlsLst.fst_nm}} &nbsp;{{userCmpltDtlsLst.lst_nm}} </p>
           </li>-->
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li class="skin-switch hidden-xs">
                        <span ng-repeat="w in mactrl.skinList| limitTo : 6" class="ss-skin bgm-{{ w}}" data-ng-click="mactrl.skinSwitch(w)"></span>
                    </li>
                    <!--<li class="divider hidden-xs"></li>-->
                    <li class="hidden-xs">
                        <a data-ng-click="hctrl.fullScreen()" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                    </li>
                     <li>
                        <a href="./ds#/pages/profile/MyProfile"><i class="zmdi zmdi-account"></i> View Profile</a>
                    </li>
                    <li>
                        <a href="./ds#/usermanagement/settings"><i class="zmdi zmdi-settings"></i> Settings</a>
                    </li>
                    <li>
                        <a data-ng-click="hctrl.logout()" href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>