<ul class="header-inner clearfix" ng-controller="headerCtrl as hctrl">
    <li class="logo">
        <a data-ui-sref="appStore" data-ng-click="mactrl.sidebarStat($event)"><h3 class="header-title">Live Tracking</h3></a>
    </li>
    <li class="pull-right">
        <ul class="top-menu">
            <li>
                <a data-ui-sref="appStore"><i class="tm-icon zmdi zmdi-home zmdi-hc-fw"></i> </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li class="hidden-xs">
                        <a data-ng-click="hctrl.fullScreen()" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                    </li>
                    <li>
                        <a data-ng-click="hctrl.logout()" href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>