<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="pages.profile.userMgmtProfile">About</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="pages.profile.profile-pwdReset">Password Reset</a></li>
<!--<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="pages.profile.profile-timeline">Timeline</a></li>-->
<!--<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="pages.profile.profile-apps">APPS</a></li>-->
<!--<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="pages.profile.profile-loginhist">Login History</a></li>-->
