<div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <!-- <img src="client/src/public/static/img/profile-pics/1.jpg" alt=""> -->
            </div>
            <div class="profile-info">
                LIVE TRACKING
            </div>
        </a>
    
    </div>
    <ul class="main-menu">

        <li data-ui-sref-active="active">
            <a data-ui-sref="appStore" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-apps"></i> Home</a>
        </li>

        <li data-ui-sref-active="active">
            <a data-ui-sref="geoVehicles" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-collection-item-2 zmdi-hc-fw"></i>Landmark Category</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="geoFence" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-pin-drop zmdi-hc-fw"></i>Landmarks</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="geoVehicles" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-google-earth"></i>GeoFence Category</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="geoFence" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-map zmdi-hc-fw"></i>GeoFences</a>
        </li>        

     </ul>
</div>
