<!-- <div ng-controller="sideNavCtrl"> --> -->
    <div layout="row" >
        <md-sidenav md-component-id="right" md-is-open="isSidenavOpen" class="md-sidenav-right">
            Right Side Bar
        </md-sidenav>
         <md-content>
            <!-- <md-button ng-click="openLeftMenu()">
              Open Side Nav
            </md-button> -->
          </md-content>
    </div>
<!-- </div>