<div class="sidebar-inner c-overflow" ng-controller="sidebarGCCtrl">    
    <div class="profile-menu">
        <a href="" toggle-submenu>
          <div class="profile-pic">
                <!-- <img src="client/src/public/static/img/profile-pics/1.jpg" alt=""> -->
            </div>
            <div class="profile-info">
                Geo Fence
            </div>
        </a>
    
    </div>
    <ul class="main-menu" ng-repeat="item in menuitem">
        <li data-ui-sref-active="active" ng-if = "item.prnt_mnu_itm_id == 0">
            <a href="{{item.mnu_itm_url_tx}}" data-ng-click="mactrl.sidebarStat($event)"><i class="{{item.mnu_itm_icn_tx}}"></i>{{item.mnu_itm_nm}}</a>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('form') }" ng-if = "item.prnt_mnu_itm_id != 0">
            <a href="" toggle-submenu><i class="{{item.prnt_mnu_itm_icn_tx}}"></i>{{item.prnt_mnu_itm_nm}}</a>
            <ul>
                <li ng-repeat="subitem in item.appNames"><a data-ui-sref-active="active" href="{{subitem.mnu_itm_url_tx}}" data-ng-click="mactrl.sidebarStat($event)">{{subitem.mnu_itm_nm}}</a></li>              
            </ul>
        </li>
    </ul>
</div>
