<div class="sidebar-inner c-overflow">
    <div class="container">
        <ul class="main-menu">
            <li data-ui-sref-active="active">
                <a data-ui-sref="appStore" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-apps"></i> APP STORE</a>
            </li>
        </ul>

    <div class="panel panel-default">
        <div class="sidenavList">
            <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#/liveTracking/playback">
                    <i class="zmdi zmdi-pin-drop zmdi-hc-2x"></i>&nbsp;&nbsp;&nbsp;VEHICLE PLAYBACK
                </a>
            </h2>
        </div>
    </div>
</div>
</div>
</div>
<style>

</style>