<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerVT.html'"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftVT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content" ng-controller="tripsCtrl">
        <div class="container">
            <div class="block-header">
                
            </div>
            <div class="card tblPos">
                <div class="card-header">
                    <h3 class="title">Trips</h3>
                    <ul class="actions">
                        <li class="dropdown" uib-dropdown>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info" id="dwBtnPos" ng-click="ExcelDownload()">Excel</button>
                            <button type="button" class="btn btn-primary" id="dwBtnPospdf" ng-click="PDFDownload()">PDF</button>
                        </div>
                        </li>
                    </ul>
                </div>
                 <div class="card-content table-responsive">
                    <div style="float: left;" ng-if="canCreate('Trips') != false">
                        <button type="button" class="btn btn-success crtBtn" ng-click="addNewVehData(v)">Add New</button>
                    </div>
                    <form>
                    <input type="search" placeholder="Search" ng-model="searchVehData" id="mdSrchPos">
                    </form>
                    <table ng-table="tableFilter" class="table table-hover">
                        <tr>
                        <th class="mdTblHdrPos">S.no</th>
                        <th class="mdTblHdrPos">Vehicle Number</th>
                        <th class="mdTblHdrPos">Vehicle Name</th>
                        <th class="mdTblHdrPos" ng-if="canRead('Trips') != false">Actions</th>
                    </tr>
                        <tr ng-repeat="v in $data | filter:searchVehData">
                            <td>{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                            <td>{{v.veh_nm}}</td>
                            <td>{{v.dvce_nm}}</td>
                            <td>
                                <button type="button" class="custom_button primary hasTooltip" ng-click="updtVehData(v)" ng-if="canUpdate('Trips') != false"><i class="material-icons">edit</i>
                                    <span>Edit</span>
                                </button>
                                <button type="button" class="custom_button danger hasTooltip" ng-if="canDelete('Trips') != false"><i class="material-icons">delete_forever</i>
                                    <span>Delete</span>
                                </button>
                            </td>
                        </tr>
                        <center><div modal="showModal" close="cancel()">
                                    <div class="modal-header">
                                        <h4 class="mdlHdng">Update Vehicle Info</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mdlContPos">
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-4" style="    left: -15px;">
                                                             <label for="inputVehNum" class="control-label" id="mdlFrm1Txt">Vehicle Number</label>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <div class="fg-line" id="mdlFrm1Ipt">
                                                    <input type="text" class="form-control input-sm" id="inputVehNum" ng-model="veh_num">
                                                </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-4">
                                                        <label for="inputVehNm" class="control-label" id="mdlFrm2Txt">Vehicle Name</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="fg-line" id="mdlFrm2Ipt">
                                                    <input type="text" class="form-control input-sm" id="inputVehNm" ng-model="veh_type">
                                                </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-success sbmtBtn" ng-click="submitVehData()">Submit</button>
                                      <button class="btn clrBtn" ng-click="cancel()">Cancel</button>
                                    </div>
                                  </div></center> 
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>