 

<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerVT.html'"></header>

<section id="main" class="">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftVT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content" ng-controller="vehAddUpdDepartCtrl">

        <div class="container">
            <div class="card" id="customcntnr" >
            <div class="card-header">
                    <h2>Add New Assert</h2>
                </div>
                <div class="card-content col-md-12 col-sm-12 col-lg-12 formSpCol" id="resetpwdcrd">
                <div class="formSp">
                   <form name="createGrp">
                        <div class="row" id="resetpwdrow">
                            <div class="col-md-4 col-sm-4 col-lg-3">
                                <k class="resetpwdtxt">Vehicle Name</k>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                             <div class="col-md-8 col-sm-8 col-lg-9">
                                <input id="setpwd" type="text" ng-model="asrt.asrt_nm" required/>
                            </div>
                        </div>

                        <div class="row" id="resetpwdrow">
                            <div class="col-md-4 col-sm-4 col-lg-3">
                                <k class="resetpwdtxt">Vehicle Category</k>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <select class="liveTracking_selectpicker" data-live-search="true" data-style="btn-primary" 
                                                ng-model="asrt.asrt_ctgry_id">
                                                    <option ng-value="0">All</option>
                                                    <option data-tokens="" ng-selected="asrt.asrt_ctgry_id == v.asrt_ctgry_id" ng-repeat="v in vehicleTypeLst" ng-value="v.asrt_ctgry_id">{{v.asrt_ctgry_nm}}</option>
                                                </select>
                        </div>

                        <div class="row" id="resetpwdrow">
                            <div class="col-md-4 col-sm-4 col-lg-3">
                                <k class="resetpwdtxt">Vehicle Group</k>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>

                            <select class="liveTracking_selectpicker" data-live-search="true" data-style="btn-primary" 
                                                ng-model="asrt.asrt_grp_id">
                                                    <option ng-value="0">All</option>
                                                    <option data-tokens="" ng-selected="asrt.asrt_grp_id == v.asrt_grp_id" ng-repeat="v in vehicleGroupLst" ng-value="v.asrt_grp_id">{{v.asrt_grp_nm}}</option>
                                                </select>
                        </div>

                        <div class="row" id="resetpwdrow">
                            <div class="col-md-4 col-sm-4 col-lg-3">
                                <k class="resetpwdtxt">IMEI Number</k>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>

                            <select class="liveTracking_selectpicker" data-live-search="true" data-style="btn-primary" 
                                                ng-model="asrt.crnt_dvce_id">
                                                    <option ng-value="0">All</option>
                                                    <option data-tokens="" ng-selected="asrt.dvce_nm == v.dvce_nm" ng-repeat="v in deviceList" ng-value="v.dvce_id">{{v.dvce_nm}}</option>
                                                </select>
                        </div>

                        <div class="row" id="resetpwdrow">
                            <div class="col-md-4 col-sm-4 col-lg-3">
                                <k class="resetpwdtxt">Asert Type</k>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>

                            <select class="liveTracking_selectpicker" data-live-search="true" data-style="btn-primary" 
                                                ng-model="asrt.asrt_type_id">
                                                    <option ng-value="0">All</option>
                                                    <option data-tokens="" ng-selected="asrt.asrt_type_id == v.asrt_type_id" ng-repeat="v in asrtTypeLst" ng-value="v.asrt_type_id">{{v.asrt_type_nm}}</option>
                                                </select>
                        </div>

                        <div class="row" id="resetpwdrow">
                            <div class="col-md-4 col-sm-4 col-lg-3">
                                <k class="resetpwdtxt">Department Name</k>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>

                            <select class="liveTracking_selectpicker" data-live-search="true" data-style="btn-primary" 
                                                ng-model="asrt.dprt_id" >
                                                    <option ng-value="0">All</option>
                                                    <option data-tokens="" ng-selected="asrt.dprt_id == v.dprt_id" ng-repeat="v in DepartmentList" ng-value="v.dprt_id">{{v.dprt_nm}}</option>
                                                </select>
                        </div>
                        
                        <button type="submit" class="btn block btn-primary" ng-click="addNewAssert()">submit</button>
                        
                    </form>
                </div> 
               </div>
        </div>
            
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>