

<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerVT.html'"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftVT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content" ng-controller="vendorsAddUpdCtrl">

        <div class="container">
            <div class="card" id="customcntnr" >
            <div class="card-header">
                    <h2>Add New Vendor Group</h2>
                </div>
                <div class="card-content col-md-12 col-sm-12 col-lg-12 formSpCol" id="resetpwdcrd">
                <div class="formSp">
                   <form name="createGrp">
                       <div class="row" id="resetpwdrow">
                            <div class="col-md-4 col-sm-4 col-lg-3">
                                <k class="resetpwdtxt">Vendor Name</k>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                             <div class="col-md-8 col-sm-8 col-lg-9">
                                <input id="setpwd" type="text" ng-model="asrt_grp_nm" required/>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-md btn-primary" ng-click="addNewVendor()">submit</button>
                    </form>
                </div> 
               </div>
        </div>
            
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>