<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerVT.html'"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftVT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content" ng-controller="vehiclesCtrl">
        <div class="container" style="width:100%;">
            <p class="rptMainHdlg">Vehicles</p>
                <div class="container" style="width: 100%;margin-top: 2%;">
            <div class="card rptSubDataPos">
                <form>
                 <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input class="vehDtlSrchStyl" type="search" placeholder="Search" ng-model="searchVehData"> 
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row vehDtlActBtn">
                    <div style="float: left;" ng-if="canCreate('Vehicles') != false">
                     <button type="button" class="btn btn-info vehDtlFltrBtn" data-ui-sref="addUpdVehicles">Add New</button>
                     </div>
                    <button type="button" class="btn btn-info vehDtlExclBtn" ng-csv="ExcelDownload()" filename="Vehs.csv">Excel</button>
                    <button type="button" class="btn btn-primary vehDtlPfBtn" ng-click="PDFDownload()">PDF</button>
                </div>
                </div>
                </div>
                </form>
                <div class="card">
                <table ng-table="tableFilter" class="table table-hover">
                        <tr ng-repeat="v in $data | filter:searchVehData">
                            <td data-title="'S.no'">{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                            <td data-title="'Vehicle Number'">{{v.asrt_nm}}</td>
                            <td data-title="'Vehicle Type'">{{v.asrt_ctgry_nm}}</td>
                            <td data-title="'Vendor(Owner)'">{{v.asrt_grp_nm}}</td>
                            <td data-title="'Device IMEI'">{{v.dvce_nm}}</td>
                            <td data-title="'Actions'">
                                <button type="button" class="custom_button primary hasTooltip" ng-if="canUpdate('Vehicles') != false" ng-click="updtVehData(v)"><i class="material-icons">edit</i>
                                    <span>Edit</span>
                                </button>
                                <button type="button" class="custom_button danger hasTooltip" ng-click="deleteVehData(v)"  ng-if="canDelete('Vehicles') != false"><i class="material-icons">delete_forever</i>
                                    <span>Delete</span>
                                </button> 
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>
<style type="text/css">
.card {
    margin: 7px 0 !important;
}
.echRptContStyl{
      width: 100% !important;
}
.table-responsive {
    border: 0;
 /*   margin-left: -22px;
    margin-right: -22px;*/
    border: 1px solid lightgrey;
    border-radius: 0px;
}
.table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child {
       border-radius: 0px !important;
}
.table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child {
        border-radius: 0px !important;
}
.rptSubDataPos {
    margin-top: -28px !important;
    margin: -28px !important;
    padding-left: 21px;
    padding-right: 21px;
    background-color: transparent;
}
.vehDtlSrchStyl{
    float: left !important;
}
.vehDtlActBtn{
    float: right !important;
    margin-top: 0% !important;
}
.vehDtlExclBtn{
    border: 1px solid #b51d3f !important;
    background-color: #b51d3f !important;
    color: #ffffff !important;
}
.vehDtlPfBtn{  
    border: 1px solid #2272b9 !important;
    background-color: #2272b9 !important;
    color: #ffffff !important;
}
.vehDtlFltrBtn{
    height: 34px;
    background-color: #4d7510 !important;
    color: white !important;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0), 0 3px 1px -2px rgba(158, 170, 172, 0.45), 0 1px 5px 0 rgba(156, 164, 165, 0.12) !important;
}

.table > thead > tr > th {
    background-color: #777;
    width: 10%;
    vertical-align: middle;
    font-weight: 500;
    color: #ffffff;
    border-width: 1px;
    text-transform: uppercase;
    text-align: center !important;

}
td {
    color: #000;
}
.card .table tr > td {
    border: 1px solid #CCC;
}
.reDrctStyl {
    font-weight: bold;
}
.vehDtlPopupPnl{
    border: 1px solid rgba(145, 133, 133, 0.22) !important;
    margin-top: 2%;
}
.panel .table tr > td {
    border: 1px solid #CCC !important;
}
.vehDtlTblHdlTxt{
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
  width: 0% !important; 
  font-size: 14px !important;
  font-weight: 100 !important;
}
.table > thead > tr > th {
    border: 1px solid #CCC !important;
    background-color: #777 !important;
    color: white !important;
}
.vehDtltblht{
    height: 488px;
    padding-left: 10px;
    padding-right: 10px;
}
.vehDtlOnClk{
    cursor: pointer;
    font-size: 15px;
    font-weight: bold !important;
}
.rptMainHdlg{
    margin-top: -2% !important;
    color: rgba(0, 0, 0, 0.79);
    font-size: 28px;
    text-shadow: 1px 2px 5px rgb(158, 158, 158);
    font-weight: 500;
    float: left;
}
label {
    margin-bottom: 23px;
}
</style>