<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerVT.html'"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftVT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content" ng-controller="fenceInOutRptCtrl">
                <div class="container" style="width:100%">
                    <p class="rptMainHdlg">Fence In-Out Report</p>
                <div class="container echRptContStyl">
                <div class="card" ng-show="displayfltrs" style="margin-top: 1%;height: 154px;">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="item item-divider lblPos">Select Vehicle Category</div> 
                            <div class="zoneSelPos" search-filter="customFilter" ng-dropdown-multiselect="" options="vehcatlst" selected-model="vehCatyModel" extra-settings="vehCatSettings" translation-texts="vehCatTextSettings">
                            </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="item item-divider lblPos">Select Vehicle Group</div> 
                                <div class="zoneSelPos" search-filter="customFilter" ng-dropdown-multiselect="" options="vehgrplst" selected-model="vehGrpModel" extra-settings="vehGrpSettings" translation-texts="vehGrpTextSettings">
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="item item-divider lblPos">Select From DateTime</div> 
                                <div class="date-picker input-group rptsDpStyl" ng-class="{ 'is-opened': openedf == true }">
                                <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                                <div class="fg-line" ng-class="{ 'fg-toggled': openedf == true }">
                                <input ng-click="openfrom($event, 'openedf')" type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss" show-weeks="false" ng-model="dtFrom" is-open="openedf" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select  From Date" />
                            </div>
                        </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                  <div class="item item-divider lblPos">Select To DateTime</div> 
                                <div class="date-picker input-group rptsDpStyl" ng-class="{ 'is-opened': openedt == true }">
                                <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                                <div class="fg-line" ng-class="{ 'fg-toggled': openedt == true }">
                                <input ng-click="opento($event, 'openedt')" type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss" show-weeks="false" ng-model="dtTo" is-open="openedt" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select To Date" />
                        </div>
                        </div>
                            </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                          <button class="btn waves-effect waves-light" type="submit" name="action" id="trpBtnPos" ng-click="getFnceLst(vehcatid,vehgrpid,dtFrom,dtTo);"> Get Data </button>
                          </div>
            </div>
        </div>

            <div class="container" style="width: 100%;margin-top: 2%;">
            <div class="card rptSubDataPos">
                <form>
                 <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input class="vehDtlSrchStyl" type="search" placeholder="Search" ng-model="filter.term"> 
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="row vehDtlActBtn">
                    <button type="button" class="btn btn-info vehDtlFltrBtn" ng-click="shwFltrs();">Filter</button>
                    <button type="button" class="btn btn-info vehDtlExclBtn" ng-csv="excelDownload" filename="FNCEINOUT_RPT.csv">Excel</button>
                    <button type="button" class="btn btn-primary vehDtlPfBtn" ng-click="pdfDownload()">PDF</button>
                </div>
                </div>
                </div>
                </form>
                <div class="card vehDtlDataTblPos">
                <div class="table-responsive" style="overflow-x: visible !important;">
                    <table ng-table="tableFilter" class="table table-bordered table-hover"> 
                    <tr ng-repeat="v in $data">
                            <td data-title="'Sno'"  width="5%">{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                            <td data-title="'Fence Name'">{{v.fnce_nm}}</td>
                            <td data-title="'Driver Name'">{{v.crw_nm}}</td>
                            <td data-title="'Vehicle Number'">{{v.asrt_nm}}</td>
                            <td data-title="'Vehicle Type'">{{v.asrt_ctgry_nm}}</td>                            
                            <td data-title="'Time In'">{{v.time_in}}</td>
                            <td data-title="'Time Out'">{{v.time_out}}</td>
                            <td data-title="'Time Difference'">{{v.timdiff}}</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>

<style type="text/css">
.card {
    margin: 7px 0 !important;
}
.echRptContStyl{
      width: 100% !important;
}
.table-responsive {
    border: 0;
 /*   margin-left: -22px;
    margin-right: -22px;*/
    border: 1px solid lightgrey;
    border-radius: 0px;
}
.table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child {
       border-radius: 0px !important;
}
.table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child {
        border-radius: 0px !important;
}
.rptSubDataPos {
    margin-top: -28px !important;
    margin: -28px !important;
    padding-left: 21px;
    padding-right: 21px;
    background-color: transparent;
}
.vehDtlSrchStyl{
    float: left !important;
}
.vehDtlActBtn{
    float: right !important;
    margin-top: 0% !important;
}
.vehDtlExclBtn{
    border: 1px solid #b51d3f !important;
    background-color: #b51d3f !important;
    color: #ffffff !important;
}
.vehDtlPfBtn{  
    border: 1px solid #2272b9 !important;
    background-color: #2272b9 !important;
    color: #ffffff !important;
}
.vehDtlFltrBtn{
    height: 34px;
    background-color: #4d7510 !important;
    color: white !important;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0), 0 3px 1px -2px rgba(158, 170, 172, 0.45), 0 1px 5px 0 rgba(156, 164, 165, 0.12) !important;
}
.vehDtlDataTblPos{
    margin: -25px 0 !important;
}
.table > thead > tr > th {
    background-color: #777;
    width: 10%;
    vertical-align: middle;
    font-weight: 500;
    color: #ffffff;
    border-width: 1px;
    text-transform: uppercase;
    text-align: center !important;

}
td {
    color: #000;
}
.card .table tr > td {
    border: 1px solid #CCC;
}
/*th:nth-child(even) {background: #7194b0 !important}
th:nth-child(odd) {background: #777 !important}*/
tr:nth-child(even) {background: #efefef !important}
tr:nth-child(odd) {background: white !important}
.reDrctStyl {
    font-weight: bold;
}
.vehDtlPopupPnl{
    border: 1px solid rgba(145, 133, 133, 0.22) !important;
    margin-top: 2%;
}
.panel .table tr > td {
    border: 1px solid #CCC !important;
}
.vehDtlTblHdlTxt{
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
  width: 0% !important; 
  font-size: 14px !important;
  font-weight: 100 !important;
}
.table > thead > tr > th {
    border: 1px solid #CCC !important;
    background-color: #777 !important;
    color: white !important;
}
.vehDtltblht{
    height: 488px;
    padding-left: 10px;
    padding-right: 10px;
}
.vehDtlOnClk{
    cursor: pointer;
    font-size: 15px;
    font-weight: bold !important;
}
.rptMainHdlg{
    margin-top: -2% !important;
    color: rgba(0, 0, 0, 0.79);
    font-size: 28px;
    text-shadow: 1px 2px 5px rgb(158, 158, 158);
    font-weight: 500;
    float: left;
}
label {
    margin-bottom: 23px;
}
</style>