<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerVT.html'"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftVT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content" ng-controller="lndMrksNtCovRptCtrl">
         <div class="container" style="width:100%">
                    <p class="rptMainHdlg">LandMarks Not Covered(Last 7 Days)</p>
                <div class="container" style="width: 100%;margin-top: 2%;">
            <div class="card rptSubDataPos">
                <form>
                 <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input class="vehDtlSrchStyl" type="search" placeholder="Search" ng-model="filter.term"> 
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="row vehDtlActBtn">
                    <button type="button" class="btn btn-info vehDtlExclBtn" ng-csv="excelDownload" filename="LNDNTCOVD_RPT.csv">Excel</button>
                    <button type="button" class="btn btn-primary vehDtlPfBtn" ng-click="pdfDownload()">PDF</button>
                </div>
                </div>
                </div>
                </form>
                <div class="card vehDtlDataTblPos">
                <div class="table-responsive" style="overflow-x: visible !important;">
                    <table ng-table="tableFilter" class="table table-bordered table-hover"> 
                    <tr ng-repeat="v in $data">
                            <td data-title="'Sno'">{{v.Sno}}</td>
                            <td data-title="'Fence Number'">{{v.fnce_id}}</td>
                            <td data-title="'Fence Name'">{{v.fnce_nm}}</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>

<style type="text/css">
.card {
    margin: 7px 0 !important;
}
.echRptContStyl{
      width: 100% !important;
}
.table-responsive {
    border: 0;
 /*   margin-left: -22px;
    margin-right: -22px;*/
    border: 1px solid lightgrey;
    border-radius: 0px;
}
.table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child {
       border-radius: 0px !important;
}
.table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child {
        border-radius: 0px !important;
}
.rptSubDataPos {
    margin-top: -28px !important;
    margin: -28px !important;
    padding-left: 21px;
    padding-right: 21px;
    background-color: transparent;
}
.vehDtlSrchStyl{
    float: left !important;
}
.vehDtlActBtn{
    float: right !important;
    margin-top: 0% !important;
}
.vehDtlExclBtn{
    border: 1px solid #b51d3f !important;
    background-color: #b51d3f !important;
    color: #ffffff !important;
}
.vehDtlPfBtn{  
    border: 1px solid #2272b9 !important;
    background-color: #2272b9 !important;
    color: #ffffff !important;
}
.vehDtlFltrBtn{
    height: 34px;
    background-color: #4d7510 !important;
    color: white !important;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0), 0 3px 1px -2px rgba(158, 170, 172, 0.45), 0 1px 5px 0 rgba(156, 164, 165, 0.12) !important;
}
.select2-container .select2-choice {
    display: block;
    height: 37px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #dfdddd;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
     border-radius: 0px; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(238, 238, 238, 0)), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #fff 0%, #eee 50%);
}
.select2-container {
    width: 92%;
    margin: 16px;
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
.select2-container .select2-choice .select2-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 50px;
    top: 4px;
    border-left: 0px solid rgba(170, 170, 170, 0);
    border-radius: 0 4px 4px 0;
    background-clip: padding-box;
    background: rgba(204, 204, 204, 0);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(204, 204, 204, 0)), color-stop(0.6, rgba(238, 238, 238, 0.04)));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
    background-image: linear-gradient(top, #ccc 0%, #eee 60%);
}
.select2-container .select2-choice > .select2-chosen {
    margin-right: 18px;
    margin-top: 5px;
    display: block;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.vehDtlDataTblPos{
    margin: -25px 0 !important;
}
.table > thead > tr > th {
    background-color: #777;
    width: 10%;
    vertical-align: middle;
    font-weight: 500;
    color: #ffffff;
    border-width: 1px;
    text-transform: uppercase;
    text-align: center !important;

}
td {
    color: #000;
}
.card .table tr > td {
    border: 1px solid #CCC;
}
/*th:nth-child(even) {background: #7194b0 !important}
th:nth-child(odd) {background: #777 !important}*/
tr:nth-child(even) {background: #efefef !important}
tr:nth-child(odd) {background: white !important}
.reDrctStyl {
    font-weight: bold;
}
.vehDtlPopupPnl{
    border: 1px solid rgba(145, 133, 133, 0.22) !important;
    margin-top: 2%;
}
.panel .table tr > td {
    border: 1px solid #CCC !important;
}
.vehDtlTblHdlTxt{
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
  width: 0% !important; 
  font-size: 14px !important;
  font-weight: 100 !important;
}
.table > thead > tr > th {
    border: 1px solid #CCC !important;
    background-color: #777 !important;
    color: white !important;
}
.vehDtltblht{
    height: 488px;
    padding-left: 10px;
    padding-right: 10px;
}
.vehDtlOnClk{
    cursor: pointer;
    font-size: 15px;
    font-weight: bold !important;
}
.rptMainHdlg{
    margin-bottom: 2% !important;
    color: rgba(0, 0, 0, 0.79);
    font-size: 28px;
    text-shadow: 1px 2px 5px rgb(158, 158, 158);
    font-weight: 500;
    float: left;
}
label {
    margin-bottom: 23px;
}
</style>