<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerVT.html'"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftVT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content" ng-controller="tripdtlRptCtrl">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3 class="title">Trip Details Report</h3>
                    <ul class="actions">
                        <li class="dropdown" uib-dropdown>
                        <div class="btn-group">
                           <button type="button" class="btn btn-info" id="dwBtnPos" ng-csv="excelDownload" filename="TRPDTLS_RPT.csv">Excel</button>
                            <button type="button" class="btn btn-primary" id="dwBtnPospdf" ng-click="pdfDownload()">PDF</button>
                        </div>
                        </li>
                    </ul>
                </div>
                <div class="card-content">
                        <div class="row">
                            <div class="col-sm-3">
                            <div class="item item-divider lblPos">Select Vehicle Category</div> 
                            <div class="zoneSelPos" search-filter="customFilter" ng-dropdown-multiselect="" options="vehcatlst" selected-model="vehCatyModel" extra-settings="vehCatSettings" translation-texts="vehCatTextSettings">
                            </div>
                        </div>

                            <div class="col-sm-3">
                                <div class="item item-divider lblPos">Select Vehicle Group</div> 
                                <div class="zoneSelPos" search-filter="customFilter" ng-dropdown-multiselect="" options="vehgrplst" selected-model="vehGrpModel" extra-settings="vehGrpSettings" translation-texts="vehGrpTextSettings">
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="item item-divider lblPos">Select From DateTime</div> 
                                <div class="date-picker input-group rptsDpStyl" ng-class="{ 'is-opened': openedf == true }">
                                <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                                <div class="fg-line" ng-class="{ 'fg-toggled': openedf == true }">
                                <input ng-click="openfrom($event, 'openedf')" type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm HH:mm" show-weeks="false" ng-model="dtFrom" is-open="openedf" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select  From Date" />
                            </div>
                        </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="item item-divider lblPos">Select To DateTime</div> 
                                <div class="date-picker input-group rptsDpStyl" ng-class="{ 'is-opened': openedt == true }">
                                <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                                <div class="fg-line" ng-class="{ 'fg-toggled': openedt == true }">
                                <input ng-click="opento($event, 'openedt')" type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm HH:mm" show-weeks="false" ng-model="dtTo" is-open="openedt" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select To Date" />
                        </div>
                        </div>
                            </div>
                </div>

                        <button class="btn waves-effect waves-light" type="submit" name="action" id="trpBtnPos" ng-click="gettripDtlsLst(vehcatid,vehgrpid,dtFrom,dtTo);"> Get Data </button>
                    
                </div>
            </div>
            <div class="card rptSubDataPos">
                <form>
                    <input type="search" placeholder="Search" ng-model="searchVehData">
                </form>
                <div class="card-content table-responsive">
                   <!--  <div style="float: right;">
                        <button type="button" class="btn btn-success">Create New</button>
                    </div> -->
                    <table ng-table="tableFilter" class="table table-bordered table-hover">
                        <tr ng-repeat="v in $data | filter:searchVehData">
                            <!-- <td data-title="'Zone Name'" filter="{ 'zone_nm': 'text' }">{{v.zone_nm}}</td> -->
                            <td data-title="'Name'">{{v.fnce_nm}}</td>
                            <td data-title="'Driver Name'">{{v.crew_nm}}</td>
                            <td data-title="'Vehicle Number'">{{v.asrt_nm}}</td>
                            <td data-title="'Vehicle Type'">{{v.asrt_ctgry_nm}}</td>
                            <td data-title="'Strat Date'">{{v.strt_dt}}</td>
                            <td data-title="'End Date'">{{v.end_dt}}</td>
                            <td data-title="'Travel Time'">{{v.actl_trvl_tm}}</td>
                            <td data-title="'Distance Covered'">{{v.dst_cov}}</td>
                            <td data-title="'Click to get route  details'" ng-click="getallTripsLst(v.trp_rn_id,'mydiv')"><button class="btn waves-effect waves-light clkstls" type="submit" name="action">Click to get route  details</td>
                            <!-- <td data-title="'View On Map'">
                                <a href="#/liveTracking">
                                    <button style="background-color:transparent;border-color:transparent">
                                        <i class="material-icons icnColr">place</i>
                                    </button>
                                </a>
                            </td> -->
                        </tr>
                    </table>
                </div>
            </div>
        <div class="card pulldownRpt" ng-show="newUser" id="mydiv">
                <form>
                    <div class="btn-group" id="pulldownbtngrpPos">
                        <div ng-click="hide('mydiv')"><i class="zmdi zmdi-close-circle clsbtn"></i></div>
                           <button type="button" class="btn btn-info" id="pulldownbtnPos" ng-csv="pullDownExcelDownload" filename="ALLTRPDTLS_RPT.csv">Excel</button>
                            <button type="button pulldownbtnPos" class="btn btn-primary" id="pulldownbtnPospdf" ng-click="pullDownPdfDownload()">PDF</button>
                        </div>
                    <input type="search" placeholder="Search" ng-model="searchVehData">
                </form>
                <div >
                   <!--  <div style="float: right;">
                        <button type="button" class="btn btn-success">Create New</button>
                    </div> -->
                    <table ng-table="tableFilterPullDn" class="table table-bordered table-hover">
                        <tr ng-repeat="v in alltripslst | filter:searchVehData">
                            <!-- <td data-title="'Zone Name'" filter="{ 'zone_nm': 'text' }">{{v.zone_nm}}</td> -->
                            <td data-title="'Vehicle Number'">{{v.asrt_nm}}</td>
                            <td data-title="'Name'">{{v.fnce_nm}}</td>
                            <td data-title="'Arrival'">{{v.arl_ts}}</td>
                            <td data-title="'Departure'">{{v.dep_ts}}</td>
                            <!-- <td data-title="'View On Map'">
                                <a href="#/liveTracking">
                                    <button style="background-color:transparent;border-color:transparent">
                                        <i class="material-icons icnColr">place</i>
                                    </button>
                                </a>
                            </td> -->
                        </tr>
                    </table>
                </div>
            <!-- </div> -->
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>