
<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerVT.html'"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftVT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content" ng-controller="vehicleRptCtrl">
        <div class="container">
        <!-- <div class="card"> -->
            <div class="card">
                <div class="card-header">
                    <h3 class="title"></h3>
                    <ul class="actions">
                        <li class="dropdown" uib-dropdown>
                        </li>
                    </ul>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="list">
                                <div class="item item-divider VtsfrmLbl">From Date</div> 
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="list">
                                <div class="item item-divider VtsfrmLbl">To Date</div> 
                            </div>
                        </div>

                         <div class="col-sm-4">
                            <div class="list">
                               <label class="item item-divider VtsfrmLbl">Select Vehicle number</label>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                         <div class="col-sm-4">
                            <div class="date-picker input-group inpuGrp" ng-class="{ 'is-opened': openedf == true }">
                                <span class="input-group-addon inpuGrp"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                                <div class="fg-line" ng-class="{ 'fg-toggled': openedf == true }">
                                    <input ng-click="openfrom($event, 'openedf')" type="text" class="VtsFrmCntrl form-control" datetime-picker="dd/MM/yyyy HH:mm" show-weeks="false" ng-model="dtFrom" is-open="openedf" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select  From Date" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="date-picker input-group inpuGrp" ng-class="{ 'is-opened': openedt == true }">
                                <span class="input-group-addon inpuGrp"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                                <div class="fg-line" ng-class="{ 'fg-toggled': openedt == true }">
                                    <input ng-click="openTo($event, 'openedt')" type="text" class="VtsFrmCntrl form-control" datetime-picker="dd/MM/yyyy HH:mm" show-weeks="false" ng-model="dtTo" is-open="openedt" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select  From Date" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                        <select id="setpwd" ng-model="veh.asrt_id" required>
                            <option value="">select Vehicle</option>
                            <option ng-repeat="veh in allvehslst" value="{{veh.asrt_id}}">{{veh.asrt_nm}}</option>
                        </select>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                         <div class="col-sm-4"></div>
                         <div class="col-sm-4">
                            <button class="btn waves-effect waves-light" type="submit" name="action" id="VtsasgnBtn" ng-click="getVehRptData();">Get Data</button>
                         </div>
                        <div class="col-sm-4"></div>
                        </div>
                    </div>
                   </div>
            </div>
            <div class="dash-widgets ">
                <div class="row ">
                    <div class="col-md-10 col-sm-10 ">
                         <div class="card chrtBrdLine ">
                        <div class="card-header card-header-icon " data-background-color="orange " id="chartHeaderPos ">
                                    <i class="material-icons ">insert_chart</i>
                                </div>
                                <div class="card-content ">
                                    <h4 class="card-title " id="crdTxtPos ">Vehicle Detail Status Report
                                    </h4>
                                        <div id="chart" style="height:600px;">
                                            <svg></svg>
                                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>
