<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerVT.html'"></header>

<section>
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftVT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'client/src/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content" ng-controller="echVehDylsDashCtrl">
        <div class="container" style="width:100%">
            <p class="rptMainHdlg">Vehicle Details Report</p>
      <div class="container echRptContStyl">
           <div class="card" ng-show="displayfltrs" style="margin-top: -2%;height: 120px;">
            <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <div class="item item-divider lblPos">Select Area</div> 
                                <select ui-select2="select2Options" class="drpDwnAlgn" data-placeholder="ALL" ng-change="getGrpList()" ng-model="asrt_type_id" class="form-control input-sm">
                                <option value=""></option>
                                <option value="0">All</option>
                                <option ng-repeat="asrt in assrtTypeList" value="{{asrt.asrt_type_id}}">{{asrt.asrt_type_nm}}</option>
                             </select>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <div class="item item-divider lblPos">Select Vehicle Group</div> 
                                <div class="zoneSelPos" search-filter="customFilter" ng-dropdown-multiselect="" options="vehgrplst" selected-model="vehGrpModel" extra-settings="vehGrpSettings" translation-texts="vehGrpTextSettings">
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <div class="item item-divider lblPos">Select Vehicle Category</div> 
                                <div class="zoneSelPos" search-filter="customFilter" ng-dropdown-multiselect="" options="vehctgrylst" selected-model="vehCtgryModel" extra-settings="vehCtgrySettings" translation-texts="vehCtgryTextSettings">
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <div class="item item-divider lblPos">Select From DateTime</div> 
                                <div class="date-picker input-group" ng-class="{ 'is-opened': openedf == true }" style="height: 36px;border-radius: 0px;margin-top: 15px;">
                                <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                                <div class="fg-line" ng-class="{ 'fg-toggled': openedf == true }">
                                <input ng-click="openfrom($event, 'openedf')" type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss" show-weeks="false" ng-model="dtFrom" is-open="openedf" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select  From Date" />
                            </div>
                        </div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <div class="item item-divider lblPos">Select To DateTime</div>                                
                                <div class="date-picker input-group" ng-class="{ 'is-opened': openedt == true }" style="height: 36px;border-radius: 0px;margin-top: 15px;">
                                <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                                <div class="fg-line" ng-class="{ 'fg-toggled': openedt == true }">
                                <input ng-click="opento($event, 'openedt')" type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm:ss" show-weeks="false" ng-model="dtTo" is-open="openedt" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select To Date" />
                        </div>
                        </div>
                        </div>
                          <div class="col-sm-2 col-md-2 col-lg-2">
                            <button class="btn waves-effect waves-light" type="submit" name="action" id="trpBtnPos" ng-click="getAllCropVehDtls(vehgrpid,vehctgryid,dtFrom,dtTo);" style="    margin-top: 11%;"> Get Data </button>
                          </div>
           </div>
       </div>
   </div>
</div>
            <div class="container" style="width: 100%;margin-top: 3%;">
            <div class="card rptSubDataPos">
                <form>
                 <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-1 col-md-1 col-lg-1">
                    <input class="vehDtlSrchStyl" type="search" placeholder="Search" ng-model="searchVehData"> 
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div ng-show="displayData">
                        <label style="box-shadow: 2px 5px 5px #929999;width: 20%;margin-left: -4%;margin-top: 10px;"><b>Trips covered :</b>{{totalTrips}}/{{totalActTrips}}</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label style="    box-shadow: 2px 5px 5px #929999;margin-top: 10px;"><b>Distance Travelled :</b>{{totalDistance}} Kms</label> 
                    </div>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5">
                <div class="row vehDtlActBtn">
                    <button type="button" class="btn btn-info vehDtlFltrBtn" ng-click="shwFltrs();">Filter</button>
                    <button type="button" class="btn btn-info vehDtlExclBtn" ng-csv="excelDownload" filename="VehDtl_RPT.csv">Excel</button>
                    <button type="button" class="btn btn-primary vehDtlPfBtn" ng-click="pdfDownload()">PDF</button>
                </div>
                </div>
                </div>
                </form>
                <div class="card vehDtlDataTblPos">
                <div class="table-responsive" style="overflow-x: visible !important;">
                    <table ng-table="tableFilter" class="table table-bordered table-hover"> 
                    <tr ng-repeat="v in $data | filter:filterVehData | filter:searchVehData">
                      <td data-title="'Sno'"  width="5%">{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                        <td data-title="'Date'">{{v.dt}}</td>
                        <td data-title="'Vehicle Number'"><a class="reDrctStyl" href="#/vtsDbdVeh/{{v.asrt_id}}">{{v.asrt_nm }}</a><k ng-if="v.asrt_sts_nm !='Online'">({{v.asrt_sts_nm}})<k></td>
                        <td data-title="'Vehicle Type'">{{v.asrt_ctgry_nm}}</td> 
                        <td data-title="'Driver Name'">{{v.crw_nm}}</td>
                        <td data-title="'Driver Mobile No'">{{v.crw_ph}}</td>
                        <td data-title="'Total Trips'" style="cursor: pointer;font-weight: bold;font-size: 15px;" ng-click="getEchVehTrpDtls(v.dt,v.veh_id);showModal = true;" >{{v.trp_cnt}}</td>
                        <td data-title="'Fences Covered'">{{v.fnc_cvd}}</td>
                        <td data-title="'Distance Travelled'">{{v.trp_dst}}</td>
                        <td data-title="'Trash Dumped'">{{v.cpty_cnt}}</td>
                    </tr>
                </table>
                </div>
            </div>

            <!-- model for each trip detail -->
                <center><div modal="showModal" close="showModal = false;" class="mdlStyl">                     
                        <div class="col-sm-12  pnlhdr">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <center>
                                    <div class="col-sm-6">
                                    <i class="zmdi zmdi-chart"></i>&nbsp;&nbsp;<k class="pnlHdlTxt">Distance Travelled & Fences Covered In Each Trip</k>
                                </div></center>
                                <div class="col-sm-2">
                                    <div class="mdlClse" ng-click="showModal = false;"><i class="zmdi zmdi-close-circle"></i></div>
                                </div>
                            </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                                <div class="panel panel-default vehDtlPopupPnl">
                                    <div class="table-responsive vehDtltblht">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="vehDtlTblHdlTxt">Trip No</th>
                                                    <th class="vehDtlTblHdlTxt">Start Time</th>
                                                    <th class="vehDtlTblHdlTxt">End Time</th>
                                                    <th class="vehDtlTblHdlTxt">Vehicle Number</th>
                                                    <th class="vehDtlTblHdlTxt">Distance Travelled</th>
                                                    <th class="vehDtlTblHdlTxt">Fence Covered</th>
                                                </tr>
                                            </thead>
                                        <tbody>
                                            <tr ng-repeat="v in vehEchTripDtlLst">
                                            <td class="tblChrtLnHt">{{v.trp_no}}</td>
                                            <td class="tblChrtLnHt">{{v.strt_tm}}</td>
                                            <td class="tblChrtLnHt">{{v.end_tm}}</td>
                                            <td class="tblChrtLnHt">{{v.asrt_nm}}</td>
                                            <td class="tblChrtLnHt">{{v.actl_trvl_dstne_ct}}</td>
                                            <td class="vehDtlOnClk" ng-click="getVehFncCovdLst(v.trp_rn_id);showEchFnceModal=true;">{{v.fnc_cnt}}</td>
                                            </tr> 
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                        </div>
                    </div>
    </div></center>

        <!-- model for each fence coveerd in trips detail -->
                <center><div modal="showEchFnceModal" close="showEchFnceModal = false;" class="mdlStyl">                     
                        <div class="col-sm-12  pnlhdr">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <center>
                                    <div class="col-sm-6">
                                    <i class="zmdi zmdi-chart"></i>&nbsp;&nbsp;<k class="pnlHdlTxt">Fences Covered In Each Trip</k>
                                </div></center>
                                <div class="col-sm-2">
                                    <div class="mdlClse" ng-click="showEchFnceModal = false;"><i class="zmdi zmdi-close-circle"></i></div>
                                </div>
                            </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                                <div class="panel panel-default vehDtlPopupPnl">
                                    <div class="table-responsive tblht">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="vehDtlTblHdlTxt">Vehicle Number</th>
                                                    <th class="vehDtlTblHdlTxt">Vehicle Type</th>
                                                    <th class="vehDtlTblHdlTxt">Fence-in Time</th>
                                                    <th class="vehDtlTblHdlTxt">Fence-out Time</th>
                                                    <th class="vehDtlTblHdlTxt">Fence Name</th>
                                                </tr>
                                            </thead>
                                        <tbody>
                                            <tr ng-repeat="v in vehEchTripFncDtlLst">
                                            <td class="tblChrtLnHt">{{v.asrt_nm}}</td>
                                            <td class="tblChrtLnHt">{{v.asrt_ctgry_nm}}</td>
                                            <td class="tblChrtLnHt">{{v.fnc_in}}</td>
                                            <td class="tblChrtLnHt">{{v.fnc_ut}}</td>
                                            <td class="tblChrtLnHt">{{v.fnce_nm}}</td>
                                            </tr> 
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                        </div>
                    </div>
    </div></center>
        </div>
        </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>

<script type="text/javascript">
var selector, elems, makeActive;

selector = '.nav li';

elems = document.querySelectorAll(selector);

makeActive = function () {
    for (var i = 0; i < elems.length; i++)
        elems[i].classList.remove('active');
    
    this.classList.add('active');
};

for (var i = 0; i < elems.length; i++)
    elems[i].addEventListener('mousedown', makeActive);
</script>

<style type="text/css">
.card {
    margin: 7px 0 !important;
}
.echRptContStyl{
      width: 100% !important;
}
.table-responsive {
    border: 0;
 /*   margin-left: -22px;
    margin-right: -22px;*/
    border: 1px solid lightgrey;
    border-radius: 0px;
}
.table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child {
       border-radius: 0px !important;
}
.table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child {
        border-radius: 0px !important;
}
.rptSubDataPos {
    margin-top: -28px !important;
    margin: -28px !important;
    padding-left: 21px;
    padding-right: 21px;
    background-color: transparent;
}
.vehDtlSrchStyl{
    float: left !important;
}
.vehDtlActBtn{
    float: right !important;
    margin-top: 0% !important;
}
.vehDtlExclBtn{
    border: 1px solid #b51d3f !important;
    background-color: #b51d3f !important;
    color: #ffffff !important;
}
.vehDtlPfBtn{  
    border: 1px solid #2272b9 !important;
    background-color: #2272b9 !important;
    color: #ffffff !important;
}
.vehDtlFltrBtn{
    height: 34px;
    background-color: #4d7510 !important;
    color: white !important;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0), 0 3px 1px -2px rgba(158, 170, 172, 0.45), 0 1px 5px 0 rgba(156, 164, 165, 0.12) !important;
}
.select2-container .select2-choice {
    display: block;
    height: 37px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #dfdddd;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
     border-radius: 0px; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(238, 238, 238, 0)), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #fff 0%, #eee 50%);
}
.select2-container {
    width: 92%;
    margin: 16px;
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
.select2-container .select2-choice .select2-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 50px;
    top: 4px;
    border-left: 0px solid rgba(170, 170, 170, 0);
    border-radius: 0 4px 4px 0;
    background-clip: padding-box;
    background: rgba(204, 204, 204, 0);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(204, 204, 204, 0)), color-stop(0.6, rgba(238, 238, 238, 0.04)));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
    background-image: linear-gradient(top, #ccc 0%, #eee 60%);
}
.select2-container .select2-choice > .select2-chosen {
    margin-right: 18px;
    margin-top: 5px;
    display: block;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.vehDtlDataTblPos{
    margin: -25px 0 !important;
}
.table > thead > tr > th {
    background-color: #777;
    width: 10%;
    vertical-align: middle;
    font-weight: 500;
    color: #ffffff;
    border-width: 1px;
    text-transform: uppercase;
    text-align: center !important;

}
td {
    color: #000;
}
.card .table tr > td {
    border: 1px solid #CCC;
}
/*th:nth-child(even) {background: #7194b0 !important}
th:nth-child(odd) {background: #777 !important}*/
tr:nth-child(even) {background: #efefef !important}
tr:nth-child(odd) {background: white !important}
.reDrctStyl {
    font-weight: bold;
}
.vehDtlPopupPnl{
    border: 1px solid rgba(145, 133, 133, 0.22) !important;
    margin-top: 2%;
}
.panel .table tr > td {
    border: 1px solid #CCC !important;
}
.vehDtlTblHdlTxt{
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
  width: 0% !important; 
  font-size: 14px !important;
  font-weight: 100 !important;
}
.table > thead > tr > th {
    border: 1px solid #CCC !important;
    background-color: #777 !important;
    color: white !important;
}
.vehDtltblht{
    height: 488px;
    padding-left: 10px;
    padding-right: 10px;
}
.vehDtlOnClk{
    cursor: pointer;
    font-size: 15px;
    font-weight: bold !important;
}
.rptMainHdlg{
    margin-top: 3% !important;
    color: rgba(0, 0, 0, 0.79);
    font-size: 28px;
    text-shadow: 1px 2px 5px rgb(158, 158, 158);
    font-weight: 500;
    float: left;
}
label {
    margin-bottom: 23px;
}
</style>