<div class="row lt-playback" data-position="fixed">
    <div class="col-md-12 playBack_topnav" ng-show="showFilter">
        <div class="col-md-12 subCntnthdr">
            <div class="col-md-2">
                <div class="date-picker input-group inpuGrp" ng-class="{ 'is-opened': openedf == true }">
                    <span class="input-group-addon inpuGrp">
                        <i class="zmdi zmdi-calendar ma-icon"></i>
                    </span>
                    <div class="fg-line" ng-class="{ 'fg-toggled': openedf == true }">
                        <input ng-click="openfrom($event, 'openedf')" type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm:ss" ng-change="isTrpsEnbld(sdate);"
                            show-weeks="false" ng-model="sdate" is-open="openedf" min-date="minDate" datepicker-options="dateOptions"
                            ng-required="true" close-text="Close" placeholder="Select From Date" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="date-picker input-group inpuGrp" ng-class="{ 'is-opened': openedt == true }">
                    <span class="input-group-addon inpuGrp">
                        <i class="zmdi zmdi-calendar ma-icon"></i>
                    </span>
                    <div class="fg-line" ng-class="{ 'fg-toggled': openedt == true }">
                        <input ng-click="openfrom($event, 'openedt')" type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm:ss" ng-change="isTrpsEnbld(edate);"
                            show-weeks="false" ng-model="edate" is-open="openedt" min-date="minDate" datepicker-options="dateOptions"
                            ng-required="true" close-text="Close" placeholder="Select To Date" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <md-input-container class="md-icon-float md-block">
                    <label class="drpDwnLbl">VEHICLES</label>
                    <select ui-select2="select2Options" class="drpDwnAlgn" data-placeholder="Select Vehicle" ng-change="getTrips();" ng-model="asrt_id"
                        class="form-control input-sm" style="width: 200px !important;">
                        <option value=""></option>
                        <option ng-repeat="s in playBackVehNUm" value={{s.asrt_id}}>{{s.asrt_nm}}({{s.asrt_ctgry_nm}})</option>
                    </select>
                </md-input-container>
            </div>

            <div class="col-md-2">
                <md-input-container class="md-icon-float md-block">
                    <label class="drpDwnLbl">TRIPS</label>
                    <select ui-select2="select2Options" class="drpDwnAlgn" data-placeholder="Choose Trip" ng-model="trip_nu" class="form-control input-sm"
                        ng-change="getPbVehDtls(trip_nu)" style="width: 200px !important;" ng-disabled="showTrpsDD">
                        <option value=""></option>
                        <!--     <option value="">All</option> -->
                        <option ng-repeat="s in getTripsByAssertID" value={{s.trip_nu}}>{{s.trip_nu}}</option>
                    </select>
                </md-input-container>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-primary" ng-click="trackVehicle()" ng-disabled="isDisabled">TRACK</button>
                <button type="button" ng-click="pausePlayBack()" class="btn btn-warning">{{play_pause}}</button>
                <button type="button" ng-click="clearMarkersonMap()" class="btn btn-primary">Clear</button>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Playback Map Tab-->
<div id="playbackmap"></div>
<div id="timeline"></div>

<ui-gmap-polygon ng-repeat="p in geoFences" path="p.path" stroke="p.stroke" visible="p.visible" geodesic="p.geodesic" fill="p.fill"
    fit="true">
</ui-gmap-polygon>

<div class="PBInfoDataPanel info-windowp" ng-show="infoWindow">

    <div class="row tlUpPrt">
        <div class="col-md-12 col-sm-12 col-lg-12 rtcClsBtnAlgn">
            <p class="plbkVehTmln">VEHICLE TIMELINE</p>
            <b ng-click="closeInfoWindow()" class="icnSty">
                <i class="zmdi zmdi-close"></i>
            </b>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 rtcolAlgn">
            <div class="col-sm-5 col-md-5 col-lg-5 rgtLblHd">REGISTRATION</div>
            <div class="col-sm-1 col-md-1 col-lg-1">:</div>
            <div class="col-sm-5 col-md-5 col-lg-5 rgtLbl">{{asrt_nm}}</div>
        </div>
        <!-- <div class="col-md-12 col-sm-12 col-lg-12">&nbsp;</div> -->
      <div class="col-md-12 col-sm-12 col-lg-12 rtcolAlgn">
            <div class="col-sm-5 col-md-5 col-lg-5 rgtLblHd">GPS Route</div>
            <div class="col-sm-1 col-md-1 col-lg-1">:</div>
            <div class="col-sm-5 col-md-5 col-lg-5 rgtLbl">
                <label>
                    <input type="checkbox" ng-model="v.checked" ng-click="routeChecked(v)" />
                    <label>
            </div>
        <div class="row" ng-show="showTimeline">

            <div class="col-md-12 col-sm-12 col-lg-12" style="overflow-y: scroll; height: 350px;">
                <table>
                    <tr class="tblHdrRw">
                        <th class="rtTblLbl">S.no</th>
                        <th class="rtTblLbl">Status</th>
                        <th class="rtTblLbl">Address</th>
                        <th class="rtTblLbl">In Time</th>
                        <th class="rtTblLbl">Out Time</th>
                        <th class="rtTblLbl">Stoppage</th>
                    </tr>

                    <tr class="tblrwAlgn" ng-repeat="f in fencInOutDtls">
                        <td class="rtTblLbl" onmouseover="" style="cursor: no-drop;">{{$index+1}}</td>
                        <td class="rtTblLbl" ng-if="f.fnce_cvr_sts == 1">
                            <img src="../../client/src/public/static/img/markers/dumperBin_covered.png" onmouseover="" style="cursor: no-drop;">
                        </td>
                        <td class="rtTblLbl" ng-if="f.fnce_cvr_sts == 0">
                            <img src="../../client/src/public/static/img/markers/dustbin_old.png" onmouseover="" style="cursor: no-drop;">
                        </td>
                        <td class="rtTblLbl" ng-click="showGarbagePointOnMap(f.fnce_id,f.lati,f.longi);" onmouseover="" style="cursor: pointer;">{{f.fnce_nm}}</td>
                        <td class="rtTblLbl" onmouseover="" style="cursor: no-drop;">{{f.fnc_in}}</td>
                        <td class="rtTblLbl" onmouseover="" style="cursor: no-drop;">{{f.fnc_ut}}</td>
                        <td class="rtTblLbl" onmouseover="" style="cursor: no-drop;">{{f.stoppage}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .select2-container .select2-choice {
        height: 38px;
        line-height: 38px;
    }

    .tlUpPrt {
        position: fixed;
        background: #fff;
        z-index: 9999;
        margin-left: 0%;
    }

    .vehSts {
        height: 32px;
        /* line-height: 10px; */
        background-color: #1a56a2 !important;
    }

    #title_container {
        z-index: 10000;
        position: fixed;
        left: 100px;
    }
    body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    h1 {
        font-size: 36px;
        font-weight: 300;
        line-height: 1.1;
    }
    .datetimeControl p {
        margin: 0;
        font-size: 16px;
    }
</style>