<!---Angular Leaflet Map Directive-->

<!-- <div ng-controller="liveTrackingHomeCtrl"> -->

    <div class="row livemap-menu">
        <div class="col-md-12 col-md-12 col-lg-12">
            <div class="col-md-12 subCntnthd">
                <div class="col-md-10 col-lg-10 col-sm-10 menu-icon-align">
                    <i class="zmdi zmdi-menu mnuIcn" ng-click="showLeftMenu()"></i>
                    <!-- <img class="leftmenu-close" src="../../client/src/public/static/img/icons/menu_close.jfif" ng-click="showLeftMenu()"></img> -->
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-lg-2 lftMnuItms" ng-show="leftMenuVisible">
            <div class="panel panel-default">
                <div class="sidenavList">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#/liveTracking/livemap#collapse3">
                            <h5 class="panel-title vehsLbl">
                                <i class="zmdi zmdi-truck zmdi-hc-2x vehsClr"></i>&nbsp;&nbsp;&nbsp;Vehicles ({{vehiclesList.length}})</h5>
                        </a>
                    </h2>
                </div>
            </div>
            <div id="collapse3" class="collapse" aria-expanded="false">
                <div>
                    <md-input-container class="md-icon-float md-block">
                        <div class="row drpDwnLblRw">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                <label class="drpDwnLbl">Area</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-9 slctCols">
                                <select ui-select2="select2Options" class="drpDwnAlgn" data-placeholder="ALL" ng-change="getGrpList()" ng-model="asrt_type_id"
                                    class="form-control input-sm">
                                    <option value=""></option>
                                    <option value="0">All</option>
                                    <option ng-repeat="asrt in assrtTypeList" value="{{asrt.asrt_type_id}}">{{asrt.asrt_type_nm}}</option>
                                </select>
                            </div>
                        </div> 
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                            <div class="row drpDwnLblRw">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                    <label class="drpDwnLbl">Group</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-9 slctCols">
                                    <select ui-select2="select2Options" class="drpDwnAlgn" data-placeholder="ALL" ng-change="getCatList()" ng-model="asrt_grp_id"
                                        class="form-control input-sm">
                                        <option value=""></option>
                                        <option value="0">All</option>
                                        <option ng-repeat="asrt in asrtGrpList" value="{{asrt.asrt_grp_id}}">{{asrt.asrt_grp_nm}}</option>
                                    </select>
                                </div>
                            </div> 
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                            <div class="row drpDwnLblRw">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                    <label class="drpDwnLbl">Category</label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-9 slctCols">
                                    <select ui-select2="select2Options" class="drpDwnAlgn" data-placeholder="ALL" ng-change="getAssertList()" ng-model="asrt_ctgry_id"
                                        class="form-control input-sm">
                                        <option value=""></option>
                                        <option value="0">All</option>
                                        <option ng-repeat="asrt in asrtCtgryList" value="{{asrt.asrt_ctgry_id}}">{{asrt.asrt_ctgry_nm}}</option>
                                    </select>
                                </div>
                            </div> 
                    </md-input-container>       
                </div>
                <div class="liveTracking_row table-responsive" style="overflow-y: auto; height: 400px;">
                    <table class="liveTrackingtable table-striped">
                        <thead>
                            <tr>
                                <input class="search" placeholder="Search Vehicle" ng-model="searchText">
                            </tr>
                            <tr>
                                <th colspan="5" class="checkboxCol">
                                    <label class="container">Select All
                                        <input class="chckBxSlctAll" type="checkbox" checked="checked" ng-click="checkAllVehicles(vehiclesCheckAll)" ng-model="vehiclesCheckAll" ng-init="vehiclesCheckAll=true">
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="v in vehiclesList | filter:searchText">
                                <td class="checkboxCol">
                                    <label class="container">
                                        <input type='checkbox' ng-model="v.checked" ng-click="vehicleSelected(v)">&nbsp;
                                        <img ng-src="../../client/src/public/static/img/markers/{{v.icon_path}}" style="height: 20px; margin-top: -7px;">
                                        <span class="checkmark echVehChck"></span>
                                    </label>
                                </td>
                                <td class="registrationCol">{{v.asrt_nm}}</td>
                                <td ng-if="v.onl_offl == 1">
                                    <img src="../../client/src/public/static/img/markers/status-online.png">
                                </td>
                                <!--  <td ng-if="v.onl_offl == 0"><img src="../../client/src/public/static/img/markers/status-offline.png"></td>onl_offl -->
                                <td ng-if="v.vehstat == 1">
                                    <img src="../../client/src/public/static/img/markers/status-running.png">
                                </td>
                                <td ng-if="v.vehstat == 0">
                                    <img src="../../client/src/public/static/img/markers/status-parked.png">
                                </td>
                                <td class="butFrame">
                                    <img src="../../client/src/public/static/img/markers/speed.png" class="imgPntr">
                                    <p class="butText">{{v.speed_ct}}/km</p>
                                </td>
                                <td>
                                    <button class="LT_play_button" ng-click="create(v)">
                                        <img src="../../client/src/public/static/img/markers/play.png">
                                    </button>
                                </td>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="panel panel-default">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#/liveTracking/livemap#collapse4">
                        <h5 class="panel-title vehsLbl">
                            <i class="zmdi zmdi-pin-off zmdi-hc-2x offlnVehsClr"></i>&nbsp;&nbsp;&nbsp;Offline ({{offlineVehicles.length}})</h5>
                    </a>
                </h2>
            </div>
            <div id="collapse4" class="collapse" aria-expanded="false">
                <div class="liveTracking_row table-responsive" style="overflow-y: auto; height: 400px;">
                    <table class="liveTrackingtable table-striped">
                        <tr>
                            <input class="search" placeholder="Search Vehicle" ng-model="searchOffline">
                        </tr>
                        <tbody>
                            <tr ng-repeat="o in offlineVehicles | filter:searchOffline">
                                {{offlineVehicles}}
                                <td class="checkboxCol">&nbsp; {{o.icon}}
                                    <img ng-src="../../client/src/public/static/img/markers/{{o.icon_path}}" style="height: 20px; margin-top: -7px;">
                                </td>
                                <td ng-if="o.crnt_Ast_sts_id == 2">
                                    <img src="../../client/src/public/static/img/markers/status-offline.png">
                                </td>
                                <td class="offlineCol">{{o.asrt_nm}}</td>
                                <td class="offlineCol">( {{o.asrt_ctgry_nm}} )</td>
                                <td class="offlineCol">( {{o.asrt_type_nm}} )</td>
                                <!-- <td class="offlineCol">( {{o.asrt_grp_nm}} )</td> -->
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#/liveTracking/livemap#collapse5">
                        <h5 class="panel-title vehsLbl">
                            <i class="zmdi zmdi-wrench zmdi-hc-2x rpVehsClr"></i>&nbsp;&nbsp;&nbsp;Repaired ({{repairVehicles.length}})</h5>
                    </a>
                </h2>
            </div>
            <div id="collapse5" class="collapse" aria-expanded="false">
                <div class="liveTracking_row table-responsive" style="overflow-y: auto; height: 400px;">
                    <table class="liveTrackingtable table-striped">
                        <tr>
                            <input class="search" placeholder="Search Vehicle" ng-model="searchRepair">
                        </tr>
                        <tbody>
                            <tr ng-repeat="o in repairVehicles | filter:searchRepair">
                                <td class="checkboxCol">&nbsp;
                                    <img ng-src="../../client/src/public/static/img/markers/{{o.icon_path}}" style="height: 20px; margin-top: -7px;">
                                </td>
                                <td ng-if="o.crnt_Ast_sts_id == 3">
                                    <img src="../../client/src/public/static/img/markers/repair.png">
                                </td>
                                <td class="offlineCol">{{o.asrt_nm}}</td>
                                <td class="offlineCol">( {{o.asrt_ctgry_nm}} )</td>
                                <td class="offlineCol">( {{o.asrt_sts_nm}} )</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#/liveTracking/livemap#collapse6">
                        <h5 class="panel-title vehsLbl">
                            <i class="zmdi zmdi-eye-off zmdi-hc-2x contrctExpVehsClr"></i>&nbsp;&nbsp;&nbsp;Contract Expired ({{contractExpired.length}})</h5>
                    </a>
                </h2>
            </div>
            <div id="collapse6" class="collapse" aria-expanded="false">
                <div class="liveTracking_row table-responsive" style="overflow-y: auto; height: 400px;">
                    <table class="liveTrackingtable table-striped">
                        <tr>
                            <input class="search" placeholder="Search Vehicle" ng-model="searchContractExpired">
                        </tr>
                        <tbody>
                            <tr ng-repeat="o in contractExpired | filter:searchContractExpired">
                                <td class="checkboxCol">&nbsp;
                                    <img ng-src="../../client/src/public/static/img/markers/{{o.icon_path}}" style="height: 20px; margin-top: -7px;">
                                </td>
                                <!-- <td ng-if="o.crnt_Ast_sts_id == 2"><img src="../../client/src/public/static/img/markers/status-offline.png"></td> -->
                                <td class="offlineCol">{{o.asrt_nm}}</td>
                                <td class="offlineCol">{{o.asrt_type_nm}}</td>
                                <td class="offlineCol">{{o.asrt_grp_nm}}</td>
                                <td class="offlineCol">{{o.asrt_ctgry_nm}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div ng-class="leftMenuVisible ? 'col-sm-8 col-md-9 col-lg-10 nopadding' : 'col-sm-12 col-md-12 col-lg-12 nopadding'">
            <section id="content">


                <div class="row" data-position="fixed">
                    <div>
                        <div id="loading-img" class="overlay" ng-show="loading" style="padding-top: 20%;"></div>
                        <div class="card overlaycrd" ng-show="wrdCard">
                            <p class="crdWrdName">{{OOO}}</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <leaflet lf-center="ltmap.center" markers="markers" layers="ltmap.layers" event-broadcast="events" markers-watch-options="ltmap.markersWatchOptions">
                        </leaflet>
                    </div>

                </div>

                <div class="llvehDtaPanel llvehDta" ng-show="checked">
                    <h1 class="llvehDtaH">{{sidenavDtaHdr}}
                        <k ng-click="close()" class="llclsBtn">
                            <b class="llicnSty">
                                <i class="zmdi zmdi-close-circle"></i>
                            </b>
                        </k>
                    </h1>
                    <p class="vehDtaP" ng-if="status != ''">
                        <b>Vehicle name - </b> {{title}}&nbsp;&nbsp;({{asrt_grp_nm}})</p>
                    <br>
                    <!-- <button class="LT_play_button" ng-click="create(v)">
                            <img src="../../client/src/public/static/img/markers/play.png">
                        </button> -->
                    <p class="vehDtaP" ng-if="status != ''">
                        <b>Vehicle Category -</b> {{asrt_ctgry_nm}}&nbsp;&nbsp;({{asrt_type_nm}})</p>
                    <p class="vehDtaP" ng-if="status == ''">
                        <b>Collection Point -</b> {{title}} </p>
                    <p class="vehDtaP" ng-if="status != ''">
                        <b>Vehicle Status -</b> {{status}} </p>
                    <p class="vehDtaP" ng-if="status != ''">
                        <b>Vehicle Driver -</b> {{crw_nm}}&nbsp;&nbsp;({{crw_ph}})</p>
                    <h4 ng-if="status != '' " class="GraphHeading">Day Wise Distance Covered Status </h4>
                    <nvd3 ng-if="status != '' " options="options2" data="dataset2"></nvd3>
                    <h4 ng-if="status != '' " class="GraphHeading">Vehicle Trip Details </h4>
                    <nvd3 ng-if="status != '' " options="options3" data="dataset3"></nvd3>
                    <h4 ng-if="status != '' " class="GraphHeading">LandMark Details </h4>
                    <nvd3 ng-if="status != '' " options="options4" data="dataset4"></nvd3>

                    <h4 ng-if="status == ''" class="GraphHeading">LandMark Details </h4>
                    <nvd3 ng-if="status == ''" options="options1" data="dataset1"></nvd3>
                </div>
            </section>
        </div>
    <!-- </div> -->


    <div>
        <data ui-view></data>
    </div>

    <style>
        .angular-leaflet-map {
            position: relative;
            width: 100%;
            height: 850px;
        }

        .body {
            text-align: center;
            background: #03a9f4;
            overflow-x: hidden;
            overflow-y: scroll;
            /* width: 99%; */
        }
    </style>
