<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/livetrack_header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main" class="pageScrollOut livetracking">
  <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftLT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
  <div class="row" data-position="fixed">
      <!-- <div class="topnav tab-border"> -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top:55px; background: #cbe6a3;">
      <div class="row">
        <a ng-click="filterOnStateChange('livemap')" ui-sref="liveTracking.livemap" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 selected navTxt" ng-class="isActiveTab?'active':''">
          <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> -->
            LIVE MAP
          <!-- </div> -->
        </a>

        <a ng-click="filterOnStateChange('playback')" ui-sref="liveTracking.playback" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 selected navTxt" ng-class="!isActiveTab?'active':''">
          <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> -->
            PLAYBACK
          <!-- </div> -->
        </a>
        <div class="col-xs-5 col-sm-6 col-md-5 col-lg-4">
          <div class="row">
              <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 garbage-chkbox">
                  <input type="checkbox" ng-click="showGarbageMarkers()" ng-model="garbagePoints" ng-init="garbagePoints=false">&nbsp;Show
                  Garbage Points
              </div> -->
              <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 garbage-chkbox">
                  <input type="checkbox" ng-click="showDumperbinMarkers()" ng-model="dumperPoints" ng-init="dumperPoints=false">&nbsp;Show
                  Dumper Bins
              </div> -->
          </div>

        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-If="show == true">
            <i class="zmdi zmdi-filter-list blink_me" title="Select Vehicle" ng-click="showFilterFn()"></i>
        </div>
      </div>
   
    </div>
  
  </div>
  <div ui-view=""></div>
</section>
<style>
  .blink_me:hover {
    animation: blinker 1s linear infinite;
  }

  .blink_me {
    font-size: 33px !important;
    cursor: pointer;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  ul, ol {
    padding: 0;
    margin: 0px !important;
}
body {
    padding: 0px !important;
}
.navTxt {
  margin-top: -8px !important;
  color: #000 !important;
  font-size: 16px !important;
}
.livetracking .garbage-chkbox {
    margin-top: 8px !important;
    text-align: right;
}
a.selected.active {
    background-color: #389fa6;
    font-size: 18px;
    padding: .44% !important;
    color: #fff !important;
    box-shadow: 0px 0px 10px 0px black;
}
</style> 