<header data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section class="main" style="padding-top: 100px;">
            
        <ul class="ch-grid">
            <li ng-repeat="app in appslst">
                <div class="ch-item {{app.app_lgo_tx}}" ng-model="app.app_id" ng-click="getAppId(app.app_id)">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front {{app.app_lgo_tx}}"></div>
                            <a href="{{app.app_url_tx}}"><div class="ch-info-back">
                                <h3 >{{app.app_nm}}</h3>
                                <p>Category <a>SECURITY</a></p>
                            </div></a>
                        </div>
                    </div>
                </div>
                <a href="{{app.app_url_tx}}"><h3 class="app_title">{{app.app_nm}}</h3></a>
            </li>
        </ul>
                
</section> 

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>
<style>
/*.style_prevu_kit
{
    display:inline-block;
    border:0;
    width:196px;
    height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}*/
.iconwdth:hover
{
    box-shadow: 0px 0px 15px #0d0d0d;
    z-index: 2;
     -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}
.loginBg {
      background-image: url(client/src/public/static/img/client/src/public/static/imgourStoreIcons/Log_In_Screen_BGMun.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.sctn {
        margin-top: 65px;
}
.btnBrdr {
    border: 1px solid rgba(96, 125, 139, 0.23);
    border-right: 5px solid rgba(96, 125, 139, 0.23);
    border-bottom: 5px solid rgba(51, 51, 51, 0.38);
}
.app_heading{
     color: #272726; font-family: 'Droid serif', serif; font-size:  36px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; text-align: center;
}
.app_title{
    color: #272726; font-family: 'Droid serif', serif; font-size: 16px; 
    font-weight: 400; font-style: italic;     line-height: 21px;
    margin: 14px 0 12px;text-align: center ;    cursor: pointer;; 
}
.app_title a {
    color: #584a22;
    cursor: pointer;
}
.col-lg-2.col-md-4.col-sm-6 {
    padding-left: 47px;
}

/*    -----------------  */
.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    cursor: default;
}

.ch-info-wrap, 
.ch-info{
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.ch-info-wrap {
    top: 20px;
    left: 20px;
    /*background: #f9f9f9 url(../images/bg.jpg);*/
    box-shadow: 
        0 0 0 20px rgba(255,255,255,0.2), 
        inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    
    -webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info .ch-info-front {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
    opacity: 0;

    background: #223e87;
    pointer-events: none;
    
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    
    -webkit-transition: all 0.4s ease-in-out 0.2s;
    -moz-transition: all 0.4s ease-in-out 0.2s;
    -o-transition: all 0.4s ease-in-out 0.2s;
    -ms-transition: all 0.4s ease-in-out 0.2s;
    transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-1 { 
    background-image: url(client/src/public/static/img/apps/team.png);
}

.ch-img-2 { 
    background-image: url(client/src/public/static/img/apps/fence.png);
}

.ch-img-3 { 
    background-image: url(client/src/public/static/img/apps/vts.png);
}
.ch-img-4 { 
    background-image: url(client/src/public/static/img/apps/livetracking.png);
}

.ch-img-5 { 
    background-image: url(client/src/public/static/img/apps/support4.png);
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 10px 15px;
    padding: 40px 0 0 0;
    height: 80px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
    color: #fff;
    padding: 10px 5px 0;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
    display: block;
    color: #e7615e;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
    color: #fff;
}

.ch-item:hover .ch-info-front {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    
    opacity: 0;
} 

.ch-item:hover .ch-info-back {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    
    opacity: 1;
    pointer-events: auto;
}

</style>