<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerVT.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftVT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content" ng-controller="alertSubscriptionCtrl">
        <div class="container" style="width:100%;">
             <div class="container echRptContStyl" ng-hide="subscribeUser">
                 <p class="rptMainHdlg">Add New Subscription</p>
            <div class="card" id="VtsaddNewCrd" >
                <div class="card-content col-md-12 col-sm-12 col-lg-12 formSpCol" id="resetpwdcrd">
                    <div class="formSp">
                    <form name="addUserForm">   
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <k class="resetpwdtxt">Select User Name</k>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                    <select selectpicker data-live-search="true" ng-model="w.usr_id" required>
                                        <option value="" data-hidden="true"></option>
                                        <option ng-repeat="clnt in usersDtls" value="{{clnt.usr_id}}">{{clnt.usr_nm}}</option>
                                    </select>
                                </div>

                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <k class="resetpwdtxt">Select Alert Category</k>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                    <select selectpicker multiple data-actions-box="true" data-live-search="true" data-selected-text-format="count" ng-model="w.alert_cat_id" required>
                                        <option ng-repeat="tnt in alertCtgryDtls" value="{{tnt.alert_cat_id}}">{{tnt.alert_cat_nm}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" sortable="'active_in'">
                                 <div class="col-md-12 col-sm-12 col-lg-12">
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="col-md-2 col-sm-2 col-lg-2" style="width: 50%;">
                                    <b>SMS Alert</b>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <div class="checkbox">
                                        <label>
                                            <input ng-model="w.sms_alert_in_top" ng-true-value="1" ng-false-value="0" type="checkbox" value="" class="ng-pristine ng-untouched ng-valid ng-empty" tabindex="0" aria-checked="false" aria-invalid="false">
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                                 </div>
                                   <div class="col-md-4 col-sm-4 col-lg-4">
                                    <div class="col-md-2 col-sm-2 col-lg-2" style="width: 50%;">
                                    <b>EMAIL Alert</b>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2" sortable="'active_in'">
                                    <div class="checkbox">
                                        <label>
                                            <input ng-model="w.email_alert_in_top" ng-true-value="1" ng-false-value="0" type="checkbox" value="" class="ng-pristine ng-untouched ng-valid ng-empty" tabindex="0" aria-checked="false" aria-invalid="false">
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                                </div>
                                   <div class="col-md-4 col-sm-4 col-lg-4">
                                    <div class="col-md-2 col-sm-2 col-lg-2" style="width: 50%;">
                                    <b>APP Alert</b>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2" sortable="'active_in'">
                                    <div class="checkbox">
                                        <label>
                                            <input ng-model="w.app_alert_in_top" ng-true-value="1" ng-false-value="0" type="checkbox" value="" class="ng-pristine ng-untouched ng-valid ng-empty" tabindex="0" aria-checked="false" aria-invalid="false">
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                                 </div>
                            </div>
                            </div>
                            <div>
                                <button type="submit"  class="btn btn-primary btn-md m-t-10" ng-click="addNewSubscription()">submit</button>
                                <button type="button"  class="clrBtn btn btn-md m-t-10" ng-click="newSubrClear()">Clear</button>
                                <button type="button"  class="btn btn-warning btn-md m-t-10" ng-click="subscribeUser=true;cancel()">Cancel</button>
                            </div>
                        </form>
                       </div> 
                 </div>
            </div>
        </div>
        
        <div class="container echRptContStyl">
            <p class="rptMnHdlg">Alert Subscription Details</p>
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="list">
                                <div class="item item-divider lblPos">Select User</div> 
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <select selectpicker data-live-search="true" ng-model="user_id">
                                <option value="" data-hidden="true"></option>
                                <option ng-repeat="v in usersDtls" ng-value="v.usr_id">{{v.usr_nm}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                        <button class="btn waves-effect waves-light" type="submit" name="action" id="VtstrpBtnPos" ng-click="getSubscriptions();">SUBMIT</button>
                        </div>
                         <div class="col-sm-2">
                         <button type="button" class="VtsAddnBtn btn btn-success" ng-click="$parent.subscribeUser=false;" ng-if="canCreate('Users') != false">Add New</button>
                            </div>
                    </div>
                </div>
            <!-- </div> -->


                <div class="card-content table-responsive" ng-show="showUserSbscrDtls">
                    
                    <form>
                        <input type="search" placeholder="Search" ng-model="searchUsrData" id="VtsmdSrchPosAlrt">
                    </form>
                    <table ng-table="tableFilter" class="table" show-filter="true">
                        <tr class="VtshdrBcgrnd">
                            <th class="VtshdrLbl">S.no</th>
                            <th class="VtshdrLbl">User Name</th>
                            <th class="VtshdrLbl">Category Name</th>
                            <th class="VtshdrLbl">sms alert</th>
                            <th class="VtshdrLbl">app alert</th>
                            <th class="VtshdrLbl">email alert</th>
                        </tr>
                        {{$data}}
                        <tr class="VtsbdytblBcgrnd" ng-repeat="v in $data | filter:searchUsrData">
                            <td class="Vtstblbdy">{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                            <td class="Vtstblbdy">
                                <span >{{v.usr_nm}}</span>
                            </td>
                            <td class="Vtstblbdy">
                                
                                <span >{{v.alert_cat_nm}}</span>
                            </td>
                            <td class="VtstblbdyChbx" data-title="'SMS ALERT'" sortable="'active_in'" data-title-text="SMS ALERT">
                                    <div class="checkbox" >
                                        <label>
                                            <input ng-model="w.sms_alert_in" ng-true-value="1" ng-false-value="0" type="checkbox"  ng-checked="v.sms_alert_in" value="" ng-click="smsalert(v.alert_cat_id,v.usr_id,w.sms_alert_in)" class="ng-pristine ng-untouched ng-valid ng-empty" tabindex="0" aria-checked="false" aria-invalid="false">
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                            </td>

                            <td class="VtstblbdyChbx" data-title="'APP ALERT'" sortable="'active_in'" data-title-text="SMS ALERT">
                                    <div class="checkbox">
                                        <label>
                                            <input ng-model="w.app_alert_in" ng-true-value="1" ng-false-value="0" type="checkbox" ng-checked="v.app_alert_in" value="" ng-click="appalert(v.alert_cat_id,v.usr_id,w.app_alert_in)" class="ng-pristine ng-untouched ng-valid ng-empty" tabindex="0" aria-checked="false" aria-invalid="false">
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                            </td>

                             <td class="VtstblbdyChbx" data-title="'EMAIL ALERT'" sortable="'active_in'" data-title-text="SMS ALERT">
                                    <div class="checkbox">
                                        <label>
                                            <input ng-model="w.email_alert_in" ng-true-value="1" ng-false-value="0" type="checkbox" ng-checked="v.email_alert_in" value="" ng-click="emailalert(v.alert_cat_id,v.usr_id,w.email_alert_in)" class="ng-pristine ng-untouched ng-valid ng-empty" tabindex="0" aria-checked="false" aria-invalid="false">
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                            </td>
                        
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>

<style type="text/css">
.card {
    margin: 7px 0 !important;
}
.echRptContStyl{
      width: 100% !important;
}
.table-responsive {
    border: 0;
 /*   margin-left: -22px;
    margin-right: -22px;*/
    border: 1px solid lightgrey;
    border-radius: 0px;
}
.table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child {
       border-radius: 0px !important;
}
.table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child {
        border-radius: 0px !important;
}
.rptSubDataPos {
    margin-top: -28px !important;
    margin: -28px !important;
    padding-left: 21px;
    padding-right: 21px;
    background-color: transparent;
}
.vehDtlSrchStyl{
    float: left !important;
}
.vehDtlActBtn{
    float: right !important;
    margin-top: 0% !important;
}
.vehDtlExclBtn{
    border: 1px solid #b51d3f !important;
    background-color: #b51d3f !important;
    color: #ffffff !important;
}
.vehDtlPfBtn{  
    border: 1px solid #2272b9 !important;
    background-color: #2272b9 !important;
    color: #ffffff !important;
}
.vehDtlFltrBtn{
    height: 34px;
    background-color: #4d7510 !important;
    color: white !important;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0), 0 3px 1px -2px rgba(158, 170, 172, 0.45), 0 1px 5px 0 rgba(156, 164, 165, 0.12) !important;
}

.table > thead > tr > th {
    background-color: #777;
    width: 10%;
    vertical-align: middle;
    font-weight: 500;
    color: #ffffff;
    border-width: 1px;
    text-transform: uppercase;
    text-align: center !important;

}
td {
    color: #000;
}
.card .table tr > td {
    border: 1px solid #CCC;
}
.reDrctStyl {
    font-weight: bold;
}
.vehDtlPopupPnl{
    border: 1px solid rgba(145, 133, 133, 0.22) !important;
    margin-top: 2%;
}
.panel .table tr > td {
    border: 1px solid #CCC !important;
}
.vehDtlTblHdlTxt{
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
  width: 0% !important; 
  font-size: 14px !important;
  font-weight: 100 !important;
}
.table > thead > tr > th {
    border: 1px solid #CCC !important;
    background-color: #777 !important;
    color: white !important;
}
.vehDtltblht{
    height: 488px;
    padding-left: 10px;
    padding-right: 10px;
}
.vehDtlOnClk{
    cursor: pointer;
    font-size: 15px;
    font-weight: bold !important;
}
.rptMainHdlg{
    margin-top: -2% !important;
    color: rgba(0, 0, 0, 0.79);
    font-size: 28px;
    text-shadow: 1px 2px 5px rgb(158, 158, 158);
    font-weight: 500;
    float: left;
}
label {
    margin-bottom: 23px;
}
.rptMnHdlg{
    margin-top: 0% !important;
    color: rgba(0, 0, 0, 0.79);
    font-size: 28px;
    text-shadow: 1px 2px 5px rgb(158, 158, 158);
    font-weight: 500;
    float: left;
}
</style>