<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerVT.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftVT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content" ng-controller="driverAssignmentCtrl">
        <div class="container" style="width:100%;">
        <p class="rptMainHdlg">Driver Assignment</p>
        <div class="container echRptContStyl">
           <div class="card" style="margin-top: 1%;height: 154px;">
            <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row" style="margin-top: 1%;">
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="item item-divider lblPos">Select Vehicle</div> 
                            <div class="lblSelectDiv">
                            <select selectpicker data-live-search="true" data-size="7"  ng-model="w.asrt_id" required>
                                <option value="" data-hidden="true"></option>
                                <option ng-repeat="clnt in assertsList" value="{{clnt.asrt_id}}">{{clnt.asrt_nm}}</option>
                            </select>

                            </div>
                        </div>
                           <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="item item-divider lblPos">Select Driver</div> 
                            <div  class="lblSelectDiv">
                            <select selectpicker data-live-search="true" data-size="7"  ng-model="w.crw_id" ng-required>
                                <option value="" data-hidden="true"></option>
                                <option ng-repeat="clnt in driversDtls" value="{{clnt.crw_id}}">{{clnt.crw_nm}}</option>
                            </select>
                            </div>
                        </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="item item-divider lblPos">From</div> 
                            <div class="lblSelectDiv">
                                <div class="date-picker input-group" ng-class="{ 'is-opened': openedt == true }">
                                    <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                                    <div class="fg-line" ng-class="{ 'fg-toggled': openedt == true }">
                                        <input ng-click="openfrom($event, 'openedf')" type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" show-weeks="false" ng-model="dtFrom" is-open="openedf" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select From Date" required />
                                    </div>
                                </div>
                             </div>
                        </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="item item-divider lblPos">To</div> 
                            <div class="lblSelectDiv">
                                <div class="date-picker input-group" ng-class="{ 'is-opened': openedt == true }">
                                    <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                                    <div class="fg-line" ng-class="{ 'fg-toggled': openedt == true }">
                                        <input ng-click="openTo($event, 'openedt')" type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" show-weeks="false" ng-model="dtTo" is-open="openedt" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select To Date" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <button class="btn btn-primary btn-md m-t-10 vtsDrvrAssg" type="submit" name="action" ng-click="assignDriver();">Assign Driver</button>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                             <button class="btn btn-primary btn-md m-t-10 vtsDrvrAssg" type="submit" name="action" ng-click="getDriverDtls();">Driver Details</button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <!-- Alert list table -->
        <div class="container" ng-show="showDrivertDtls" style="width: 100%;margin-top: 2%;">
            <div class="card rptSubDataPos">
                <form>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input class="vehDtlSrchStyl" type="search" placeholder="Search" ng-model="searchVehData"> 
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6"></div>
                    </div>
                </form>
                <div class="card">
                    <table ng-table="tableFilter" class="table" show-filter="true">
                            <tr class="VtshdrBcgrnd">
                                <th class="VtshdrLbl">S.no</th>
                                <th class="VtshdrLbl">Driver Name</th>
                                <th class="VtshdrLbl">Vehicle Name</th>
                                <th class="VtshdrLbl">From Date</th>
                                <th class="VtshdrLbl">To Date</th>
                                <th class="VtshdrLbl">Status</th>
                                <!-- <th class="VtshdrLbl">close</th> -->
                            </tr>
                            <tr class="" ng-repeat="v in $data | filter:searchUsrData">
                                <td class="Vtstblbdy">{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                                <td class="Vtstblbdy">
                                    <span >{{v.crw_nm}}</span>
                                </td>
                                <td class="Vtstblbdy">
                                    <span >{{v.asrt_nm}}</span>
                                </td>
                                <td class="Vtstblbdy">
                                    <span >{{v.fromDate}}</span>
                                </td>
                                <td class="Vtstblbdy">
                                    <span >{{v.toDate}}</span>
                                </td>
                                <td class="Vtstblbdy">
                                    <span ng-if="v.clse_in == 1">CLOSED</span>
                                    <span ng-if="v.clse_in == 0">OPEN</span>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>  
        <!-- Showing Closed Details -->
        <div class="card VtsDrvrMsgCrd" ng-show="closedDtls">           
            
            <div class="card-content VtsDrvrMsg" ng-if="closeDrvr">
                <i class="zmdi zmdi-alert-circle VtsDrvrMsgIcn"></i>
                <k style="font-size: 15px;">Entry Closed For Vehicle Number::<b>{{closeDrvr.asrt_nm}}</b> &nbsp; Driver Name::<b>{{closeDrvr.crw_nm}}</b> From Date:: <b>{{closeDrvr.frm_ts}}</b>, To Date::<b> {{closeDrvr.to_ts}}</b> <br><b>Please assign....!</b></k>
            </div>
        </div>   
    </div>

        <!-- Alert list not found table -->
        <div class="card-content table-responsive" ng-show="noDataFound" ng-if="shoeTable == 0">
            
            <table ng-table="tableFilter" class="table">
                <tr >
                    <th style="    color: #196719;    text-align: center;    background-color: whitesmoke;
                        font_size: 10px;    font-size: 30px;">No Data Found ..!</th>
                    <!-- <th class="VtshdrLbl">close</th> -->
                </tr>
            </table>
        </div>

        
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>
<style>
.card {
    margin: 7px 0 !important;
}
.echRptContStyl{
      width: 100% !important;
}
.table-responsive {
    border: 0;
 /*   margin-left: -22px;
    margin-right: -22px;*/
    border: 1px solid lightgrey;
    border-radius: 0px;
}
.table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child {
       border-radius: 0px !important;
}
.table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child {
        border-radius: 0px !important;
}
.rptSubDataPos {
    margin-top: -28px !important;
    margin: -28px !important;
    padding-left: 21px;
    padding-right: 21px;
    background-color: transparent;
}
.vehDtlSrchStyl{
    float: left !important;
}
.vehDtlActBtn{
    float: right !important;
    margin-top: 0% !important;
}
.vehDtlExclBtn{
    border: 1px solid #b51d3f !important;
    background-color: #b51d3f !important;
    color: #ffffff !important;
}
.vehDtlPfBtn{  
    border: 1px solid #2272b9 !important;
    background-color: #2272b9 !important;
    color: #ffffff !important;
}
.vehDtlFltrBtn{
    height: 34px;
    background-color: #4d7510 !important;
    color: white !important;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0), 0 3px 1px -2px rgba(158, 170, 172, 0.45), 0 1px 5px 0 rgba(156, 164, 165, 0.12) !important;
}

.table > thead > tr > th {
    background-color: #777;
    width: 10%;
    vertical-align: middle;
    font-weight: 500;
    color: #ffffff;
    border-width: 1px;
    text-transform: uppercase;
    text-align: center !important;

}
td {
    color: #000;
}
.card .table tr > td {
    border: 1px solid #CCC;
}
.reDrctStyl {
    font-weight: bold;
}
.vehDtlPopupPnl{
    border: 1px solid rgba(145, 133, 133, 0.22) !important;
    margin-top: 2%;
}
.panel .table tr > td {
    border: 1px solid #CCC !important;
}
.vehDtlTblHdlTxt{
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
  width: 0% !important; 
  font-size: 14px !important;
  font-weight: 100 !important;
}
.table > thead > tr > th {
    border: 1px solid #CCC !important;
    background-color: #777 !important;
    color: white !important;
}
.vehDtltblht{
    height: 488px;
    padding-left: 10px;
    padding-right: 10px;
}
.vehDtlOnClk{
    cursor: pointer;
    font-size: 15px;
    font-weight: bold !important;
}
.rptMainHdlg{
    margin-top: -2% !important;
    color: rgba(0, 0, 0, 0.79);
    font-size: 28px;
    text-shadow: 1px 2px 5px rgb(158, 158, 158);
    font-weight: 500;
    float: left;
}
label {
    margin-bottom: 23px;
}
.lblSelectDiv {
    margin-top: 16px;
}
.vtsDrvrAssg{
    background-color: #0898ab;
    color: white;
}
.VtsDrvrMsg{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.VtsDrvrMsgIcn{
    font-size: 16px;
}
.VtsDrvrMsgCrd{
    width: 55%;
    margin-top: 5% !important;
}
/*.container {
    width: 70% !important;
}*/
</style>