<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerVT.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftVT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content" ng-controller="fuelOpsCtrl">

    <div class="container" style="width:100%;">
         <p class="rptMainHdlg">Fuel Assignment</p>
        <div class="container echRptContStyl">
           <div class="card" style="margin-top: 1%;height: 154px;">
            <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row" style="margin-top: 1%;">
               <div class="col-sm-4 col-md-4 col-lg-4" style="    margin-top: 1%;">
                    <div class="item item-divider lblPos">Select Vehicle Category</div> 
                        <div class="lblSelectDiv">
                        <select selectpicker multiple data-actions-box="true" data-live-search="true" data-selected-text-format="count" ng-model="w.asrt_grp_id" required>
                        <option ng-repeat="tnt in asrtGrpLst" value="{{tnt.asrt_grp_id}}">{{tnt.asrt_grp_nm}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4" style="    margin-top: 1%;">
                    <div class="item item-divider lblPos">Select Vehicle Category</div> 
                        <div class="lblSelectDiv">
                            <select selectpicker multiple data-actions-box="true" data-live-search="true" data-selected-text-format="count" ng-model="w.asrt_ctgry_id" required>
                            <option ng-repeat="tnt in asrtCtgryLst" value="{{tnt.asrt_ctgry_id}}">{{tnt.asrt_ctgry_nm}}</option>
                                </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4" style="    margin-top: 2%;">
                        <button class="btn btn-primary btn-md m-t-10 vtsgtDtBtn" type="submit" name="action" ng-click="getVehicles();">Get Data</button>
                    </div>
                </div>   
            </div>
        </div>
    </div>

         <div class="container" ng-show="showDrivertDtls" style="width: 100%;margin-top: 2%;">
            <div class="card rptSubDataPos">
                <form>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <input class="vehDtlSrchStyl" type="search" placeholder="Search" ng-model="filter.term"> 
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="row vehDtlActBtn">
                                <button type="button" class="btn btn-info vehDtlExclBtn" ng-csv="excelDownload" filename="VehDtl_RPT.csv">Excel</button>
                                <button type="button" class="btn btn-primary vehDtlPfBtn" ng-click="pdfDownload()">PDF</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card vehFuelDtlsTbl">
                  <table ng-table="tableFilter" class="table" show-filter="true">
                        <tr class="VtshdrBcgrnd">
                            <th class="VtshdrLbl">S.no</th>
                            <th class="VtshdrLbl">Vehicle Name</th>
                            <th class="VtshdrLbl">Vehicle Ctgry</th>
                            <th class="VtshdrLbl">Vehicle Group</th>
                            <th class="VtshdrLbl">Last Refilled Dtls</th>
                            <th class="VtshdrLblAct">Action</th>
                            <th class="VtshdrLblDtls">View Fuel Details</th>
                        </tr>
                        <tr class="" ng-repeat="v in $data">
                            <td class="Vtstblbdy">{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>

                            <td class="Vtstblbdy">
                                <span >{{v.asrt_nm}}</span>
                            </td>
                            <td class="Vtstblbdy">
                                <span >{{v.asrt_ctgry_nm}}</span>
                            </td>
                            <td class="Vtstblbdy">
                                <span >{{v.asrt_grp_nm}}</span>
                            </td>
                            <td class="Vtstblbdy">
                                <span data-ng-if="!v.date">Fuel Not Filled</span>
                                <span data-ng-if="v.date">{{v.fuel_ct}} ltrs. on {{v.date}}</span>
                            </td>
                            <td class="Vtstblbdy">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="col-sm-4 col-md-4 col-lg-6 fulTxtBxPos">
                                            <input class="fulEntrStyl" type="number" ng-model="v.new_fuel_ct" placeholder="Fuel in ltrs" required>
                                        </div>

                                        <div class="col-sm-4 col-md-4 col-lg-6">
                                            <span><button class="btn btn-primary btn-md m-t-10" type="submit" name="action" ng-click="addFuelDtls(v);">Add Fuel</button></span>
                                        </div> 
                                    </div>
                                </div>
                            </td>
                            <td class="Vtstblbdy">
                            <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <span><button class="btn btn-primary btn-md m-t-10 gtDtlsBtn" type="submit" name="action" ng-click="FuelHst(v);">Get Fuel Details</button></span>
                            </div>
                        </div>
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
</div>

        <!-- Alert list not found table -->
            <div class="card-content table-responsive" ng-show="noDataFound" ng-if="shoeTable == 0">
                
                <table ng-table="tableFilter" class="table">
                    <tr >
                        <th style="color: black;    text-align: center;    background-color: whitesmoke;   font-size: 20px;">No Data Found</th>
                        <!-- <th class="VtshdrLbl">close</th> -->
                    </tr>
                </table>
            </div>

        <!-- Adding Drill Down Table for fuel history details -->

        <div class="container" id="bottom" ng-show="fuelHistoryTbl" style="width: 100%;">
            <div class="container" style="width:100%;margin-top: -100px;">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="card VehDtlCntCrd">  
                                <div class="triangle triangle-0"></div>                                  
                                <div class="col-sm-2 col-md-2 col-lg-2"><k class="vehDtlCntTxt">
                                    <img class="vehdtltleImgPos" src="client/src/public/static/img/dist.jpg"></k></div>
                                    <!-- <i class="zmdi zmdi-bus VehDtlDst"></i> -->
                                <div class="col-sm-10 col-md-10 col-lg-10"><p>Total Distance Travelled</p><k class="vehDtlCntTxt">
                                            {{ distance }} / {{tobeTrvlDist}} Kms</k></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="card VehDtlCntCrd">
                                    <div class="triangle triangle-0"></div> 
                                <div class="col-sm-2 col-md-2 col-lg-2"><k class="vehDtlCntTxt">
                                    <img class="vehdtltleImgPos" src="client/src/public/static/img/fuel.png">
                                </k></div>
                                <div class="col-sm-10 col-md-10 col-lg-10"><p>Total Fuel Consumed</p><k class="vehDtlCntTxt"> {{fuelCnt}} Liters</k></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="card VehDtlCntCrd">
                                    <div class="triangle triangle-0"></div> 
                                <div class="col-sm-2 col-md-2 col-lg-2"><k class="vehDtlCntTxt">
                                    <img class="vehdtlpntsImgPos" src="client/src/public/static/img/trips.png">
                                </k></div>
                                <div class="col-sm-10 col-md-10 col-lg-10"><p>Average Milage</p><k class="vehDtlCntTxt">{{avgMileage}} Kms / Liter</k></div>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="card VehDtlCntCrd">
                                <div class="triangle triangle-0"></div> 
                            <div class="col-sm-2 col-md-2 col-lg-2"><k class="vehDtlCntTxt">
                                <img class="vehdtlpntsImgPos" src="client/src/public/static/img/trips.png">
                            </k></div>
                            <div class="col-sm-10 col-md-10 col-lg-10"><p>Distance Difference</p><k class="vehDtlCntTxt">{{DiffDistance}} Kms</k></div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-2 col-md-2 col-lg-2">

                </div>
            </div>
        </div>
            <div class="card rptSubDataPos">
                <form>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="col-sm-10 col-md-10 col-lg-10" style="text-align: left">
                            <select ng-model="selectedMonth" ng-options="x for x in month" placeholder="month" ng-change="filterCounts()">
                                <option value="">choose month</option>
                            </select>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 vehDtlActBtn">
                            <button type="button" class="btn btn-info vehDtlExclBtn" ng-csv="pullDownExcelDownload" filename="FUEL_RPT.csv">Excel</button>
                            <button type="button" class="btn btn-primary vehDtlPfBtn" ng-click="pullDownPdfDownload()">PDF</button>
                        </div>
                    </div>
                </form>
                
                <div class="table-responsive">
                    <table ng-table="fuelFilter" class="table table-bordered table-hover"> 
                        <tr ng-repeat="v in $data | filter: FilterFuel" style="    height: 50px;">
                          <td data-title="'Sno'">{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                            <td data-title="'Veh Name'">{{v.asrt_nm}}</td>
                            <td data-title="'Fuel Count'" filter="{fuel_ct: 'select'}" filter-data="demo.countries">{{v.fuel_ct}} Ltrs</td>
                            <td data-title="'Distance'">{{v.dist}} K.M's</td>
                            <td data-title="'Issue Date'">{{v.issed_dt}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>
<style>
.lblSelectDiv {
    margin-top: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table > tbody > tr > td {
    padding: 0px;
}
.gtDtlsBtn{
    color: #ffffff !important;
}
.VtshdrLblDtls{
    border-left: 1px solid #c2c2c2;
    width: 100px;
    text-align: center !important;
}
.echRptContStyl{
      width: 100% !important;
}
.rptMainHdlg{
    margin-top: -2% !important;
    color: rgba(0, 0, 0, 0.79);
    font-size: 28px;
    text-shadow: 1px 2px 5px rgb(158, 158, 158);
    font-weight: 500;
    float: left;
}
.vehFuelDtlsTbl{
    margin-top: -1% !important;
}
.vehDtlSrchStyl{
    float: left !important;
}
.vehDtlActBtn{
    float: right !important;
    margin-top: 0% !important;
}
.vehDtlExclBtn{
    border: 1px solid #b51d3f !important;
    background-color: #b51d3f !important;
    color: #ffffff !important;
}
.vehDtlPfBtn{  
    border: 1px solid #2272b9 !important;
    background-color: #2272b9 !important;
    color: #ffffff !important;
}
.vtsgtDtBtn{
    background-color: #0898ab;
    color: white;
    margin-bottom: 25px;
    width: 160px;
}
.VehDtlCntCrd{
    height: 70px;
    padding-top: 15px;
}
.vehdtlpntsImgPos{
    margin-top: -7px;
    height: 52px !important;
    width: 52px !important;
}
.triangle {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.triangle-0 {
    margin-top: -3%;
    float: right;
    border-right: solid 15px rgb(200,30,50);
    border-top: solid 15px transparent;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-92deg);
}
.vehDtlCntTxt{
    font-size: 23px;
    font-weight: 600;
}
img {
     max-width: 64px; 
}
</style>