<header  data-current-skin={{mactrl.currentSkin}} data-ng-include="'client/src/template/headerVT.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'client/src/template/sidebar-leftVT.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content" ng-controller="alertDtlsCtrl">
        <div class="container" style="width:100%;">
                <p class="rptMainHdlg">Alert Details</p>
                <div class="container echRptContStyl">
           <div class="card" style="margin-top: 1%;height: 154px;">
            <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row" style="margin-top: 1%;">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="item item-divider lblPos">Select User</div> 
                            <div class="lblSelectDiv">
                            <select selectpicker data-live-search="true" data-size="7"  ng-model="w.usr_id" required>
                                <option value="" data-hidden="true"></option>
                                <option ng-repeat="clnt in usersDtls" value="{{clnt.usr_id}}">{{clnt.usr_nm}}</option>
                            </select>
                            </div>
                        </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="item item-divider lblPos">Select Category</div> 
                            <div  class="lblSelectDiv">
                            <select selectpicker multiple data-actions-box="true" data-live-search="true" data-selected-text-format="count" ng-model="w.alert_cat_id" required>
                                        <option ng-repeat="tnt in alertCtgryDtls" value="{{tnt.alert_cat_id}}">{{tnt.alert_cat_nm}}</option>
                                    </select>
                            </div>
                        </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="item item-divider lblPos">From</div> 
                            <div class="lblSelectDiv">
                                <div class="date-picker input-group" ng-class="{ 'is-opened': openedt == true }">
                                    <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                                    <div class="fg-line" ng-class="{ 'fg-toggled': openedt == true }">
                                        <input ng-click="openfrom($event, 'openedf')" type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" show-weeks="false" ng-model="dtFrom" is-open="openedf" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select From Date" />
                                    </div>
                                </div>
                             </div>
                        </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="item item-divider lblPos">To</div> 
                            <div class="lblSelectDiv">
                                <div class="date-picker input-group" ng-class="{ 'is-opened': openedt == true }">
                                    <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                                    <div class="fg-line" ng-class="{ 'fg-toggled': openedt == true }">
                                        <input ng-click="openTo($event, 'openedt')" type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" show-weeks="false" ng-model="dtTo" is-open="openedt" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select To Date" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <button class="btn waves-effect waves-light vtsAltDtlsBtn" type="submit" name="action" ng-click="getDtls();">Get Details</button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
            <!-- Alert list table -->
            <div class="container" ng-show="showAlertDtls" style="width: 100%;margin-top: 2%;">
            <div class="card rptSubDataPos">
                <form>
                 <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input class="vehDtlSrchStyl" type="search" placeholder="Search" ng-model="searchVehData"> 
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                </div>
                </div>
                </form>
                <div class="card">
                <table ng-table="tableFilter" class="table" show-filter="true">
                        <tr class="VtshdrBcgrnd">
                            <th class="VtshdrLbl">S.no</th>
                            <th class="VtshdrLbl">User Name</th>
                            <th class="VtshdrLbl">Category Name</th>
                            <!-- <th class="VtshdrLbl">ctgry code</th> -->
                            <th class="VtshdrLbl">alert text</th>
                            <th class="VtshdrLbl">alert Date</th>
                        </tr>
                        <tr class="" ng-repeat="v in $data | filter:searchUsrData">
                            <td class="Vtstblbdy">{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                            <td class="Vtstblbdy">
                                <span >{{v.usr_nm}}</span>
                            </td>
                            <td class="Vtstblbdy">
                                <span >{{v.alert_cat_nm}}</span>
                            </td>
                            <!-- <td class="Vtstblbdy">
                                <span >{{v.alert_cat_cd}}</span>
                            </td> -->
                            <td class="Vtstblbdy">
                                <span >{{v.alert_tx}}</span>
                            </td>
                            <td class="Vtstblbdy">
                                <span >{{v.alert_tm}}</span>
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
            <!-- <div class="card-content table-responsive" ng-show="showAlertDtls">
                    
                    <form>
                        <input type="search" placeholder="Search" ng-model="searchUsrData" id="VtsmdSrchPosAlrt">
                    </form>
                    <table ng-table="tableFilter" class="table" show-filter="true">
                        <tr class="VtshdrBcgrnd">
                            <th class="VtshdrLbl">S.no</th>
                            <th class="VtshdrLbl">User Name</th>
                            <th class="VtshdrLbl">Category Name</th>
                            
                            <th class="VtshdrLbl">alert text</th>
                            <th class="VtshdrLbl">alert Date</th>
                        </tr>
                        <tr class="" ng-repeat="v in $data | filter:searchUsrData">
                            <td class="Vtstblbdy">{{ ((tableFilter.page() * tableFilter.count()) + $index+1) - tableFilter.count() }}</td>
                            <td class="Vtstblbdy">
                                <span >{{v.usr_nm}}</span>
                            </td>
                            <td class="Vtstblbdy">
                                <span >{{v.alert_cat_nm}}</span>
                            </td>
                            
                            <td class="Vtstblbdy">
                                <span >{{v.alert_tx}}</span>
                            </td>
                            <td class="Vtstblbdy">
                                <span >{{v.alert_tm}}</span>
                            </td>
                        </tr>
                    </table>
                </div> -->

        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'client/src/template/footer.html'"></footer>
<style>
.lblSelectDiv {
    margin-top: 16px;
}
.card {
    margin: 7px 0 !important;
}
.echRptContStyl{
      width: 100% !important;
}
.table-responsive {
    border: 0;
 /*   margin-left: -22px;
    margin-right: -22px;*/
    border: 1px solid lightgrey;
    border-radius: 0px;
}
.table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child, .table-bordered tbody:first-child tr:first-child>th:first-child {
       border-radius: 0px !important;
}
.table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child, .table-bordered tbody:first-child tr:first-child>th:last-child {
        border-radius: 0px !important;
}
.rptSubDataPos {
    margin-top: -28px !important;
    margin: -28px !important;
    padding-left: 21px;
    padding-right: 21px;
    background-color: transparent;
}
.vehDtlSrchStyl{
    float: left !important;
}
.vehDtlActBtn{
    float: right !important;
    margin-top: 0% !important;
}
.vehDtlExclBtn{
    border: 1px solid #b51d3f !important;
    background-color: #b51d3f !important;
    color: #ffffff !important;
}
.vehDtlPfBtn{  
    border: 1px solid #2272b9 !important;
    background-color: #2272b9 !important;
    color: #ffffff !important;
}
.vehDtlFltrBtn{
    height: 34px;
    background-color: #4d7510 !important;
    color: white !important;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0), 0 3px 1px -2px rgba(158, 170, 172, 0.45), 0 1px 5px 0 rgba(156, 164, 165, 0.12) !important;
}

.table > thead > tr > th {
    background-color: #777;
    width: 10%;
    vertical-align: middle;
    font-weight: 500;
    color: #ffffff;
    border-width: 1px;
    text-transform: uppercase;
    text-align: center !important;

}
td {
    color: #000;
}
.card .table tr > td {
    border: 1px solid #CCC;
}
.reDrctStyl {
    font-weight: bold;
}
.vehDtlPopupPnl{
    border: 1px solid rgba(145, 133, 133, 0.22) !important;
    margin-top: 2%;
}
.panel .table tr > td {
    border: 1px solid #CCC !important;
}
.vehDtlTblHdlTxt{
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
  width: 0% !important; 
  font-size: 14px !important;
  font-weight: 100 !important;
}
.table > thead > tr > th {
    border: 1px solid #CCC !important;
    background-color: #777 !important;
    color: white !important;
}
.vehDtltblht{
    height: 488px;
    padding-left: 10px;
    padding-right: 10px;
}
.vehDtlOnClk{
    cursor: pointer;
    font-size: 15px;
    font-weight: bold !important;
}
.rptMainHdlg{
    margin-top: -2% !important;
    color: rgba(0, 0, 0, 0.79);
    font-size: 28px;
    text-shadow: 1px 2px 5px rgb(158, 158, 158);
    font-weight: 500;
    float: left;
}
label {
    margin-bottom: 23px;
}
.vtsAltDtlsBtn{
    background-color: #0898ab;
    color: white;
    margin-top: 15px;
    width: 128px;
}
</style>